.header-appointment h2{font-size: 22px;padding: 0;margin: 0;}
.btn-book-appointment{
    outline: none!important;
    width: 248px;
    border: none!important;
    color: #ffffff;
    padding: 0 7px;
    font-size: 22px!important;
    background: linear-gradient(
180deg
, #9AD84B 0%, #6DAC1D 100%);
    font-weight: 800!important;
    border-radius: 50px;
    font-family: 'NS-bold';
}
.btn-book-appointment:hover{background:red!important;outline: none;text-decoration: none;color:#ffffff!important}
.title-header-list-saving-office th:first-child{border-top-left-radius: 5px;}
.title-header-list-saving-office th:last-child{border-top-right-radius: 5px;}
.table>thead>tr>th{vertical-align: top!important;}
.title-header-list-saving-office th{border: none!important;font-size: 16px;font-family: 'NS-bold';background: #7CC242!important;}
.calendar-table td.active{height: 100%!important;}
.btn-close-appointment:hover{color:#ff1}
@media (max-width:991px){
    .title-header-list-saving-office th{font-size: 17px;text-align: left;padding: 9px 0 8px 20px!important;}
}
@media (max-width:767px){
    #list-office-saving .modal-dialog{width: 80%;margin:30px auto;}
    #form-booking .address-booking{font-size: 13px!important;line-height: 18px!important;padding: 0px 19px 10px!important;margin-bottom: 20px!important;}
    #form-booking .content-main-form{padding:7px 9px;}
    .image-appointment{height: auto!important;}
    .name-saving-item{font-size: 14px!important;line-height: 20px!important;}
    .header-appointment h2{font-size: 18px!important;line-height: 22px!important;margin: 0 0 0px!important;}
    .title-header-list-saving-office th{padding: 10px!important;font-size: 13px!important;}
    .btn-book-appointment{height: 40px;font-size: 16px!important;}
    .btn-close-appointment{right: 0px!important;}
}