#block-blog-child .title-type-blogs-child h3{
    margin: 20px 0px;
    padding: 0;
}
#block-blog-child-operation .title-type-blogs-child h3{margin: 20px 0px;padding: 0;}
.box-main-blog-right .tab-square{margin-top: 40px;}
#box-detail-blog .box-main-blog-right{margin-top: 0;}
.list-other-news li{}
.list-other-news li a{
    color: #3A3A3A;
    font-size: 16px;
    line-height: 18px;
}
.title-other-news{position: relative;color: #2D4A15;font-size: 24px;text-transform: uppercase;font-weight: 800;padding-left: 16px;font-family: 'NS-bold';margin-bottom: 20px;margin-top: 30px;}
.title-other-news::before{position: absolute;content: '';width: 4px;height: 28px;background: #5EA027;left: 0px;top:0px;}
#other-news{border-top:1px solid green}
.content-detail-blog{display: flex;padding-top: 20px;}
.content-detail-blog .list-icon-left{list-style: none;margin: 0 30px 0px 0px;}
.list-icon-left li img{width: 56px;object-fit: cover;}
.content-detail-blog .list-icon-left li{margin-bottom: 20px;}
.title-main-blog h2{font-size: 30px;}
.title-type-blogs-child h2,.title-blog-in-type h3{font-size: 20px;}
.title-name-blogs h2{font-size: 20px;}
.search-form{border:1px solid;padding: 15px 12px;}
.search-submit{
    border: none;
    outline: none;
    background: none;
}
.search-field{
    border: none;
    outline: none;
}
.title-type-blogs h2 a{color: #275c26;}
@media (max-width:767px){
    .name-outstanding-blog a{font-size: 16px;line-height: 20px;}
    .title-type-blogs-child h2, .title-blog-in-type h3{font-size: 14px;line-height: 20px;}
    .title-type-blogs-child h2{padding-right: 12px;}
    .title-type-blogs-child h3{padding-left: 12px;}
    .name-outstanding-blog a{font-size: 15px!important;line-height: 19px!important;}
}
@media (max-width:480px){
    .title-type-blogs-child h2, .title-blog-in-type h3{font-size: 14px!important;line-height: 20px!important;}
    .title-type-blogs-child h2{padding-right: 12px;}
    .title-type-blogs-child h3{padding-left: 12px;}
}