.header-appointment h2{font-size: 22px;padding: 0;margin: 0;}
#list-office-compare{background:#f3f3f3;padding: 84px 0px;}
.list-title-compare{
    list-style: none;
    padding-left: 0;
}
.list-title-compare li{
    background: #ffffff;
    margin: 3px 0px 0px;
    padding: 0 0 0 20px;
    height: 51px;
    font-size: 14px;
    display: flex;
    align-items: center;
}
.image-compare-item img{width: 100%;height: 100%;object-fit: cover;}
.box-office-compare-title{width: 22.9%;margin: 0 6px 0 0;}
.box-office-compare-item{width: 40%;position: relative;}
.box-office-compare-inner{display: flex;justify-content: flex-start;}
.icon-compare img{max-width: 80px;object-fit: cover;height: auto;}
.image-compare-item{height: 263px;display: flex;align-items: center;justify-content: center;background: #E2E2E2;overflow: hidden;}
.title-compare li{color: #363B3C;font-weight: 700;font-size: 14px;padding: 0 0 0 15px;}
.delete-compare-office{position: absolute;width: 40px;height: 40px;top:0px;background: red;right: 0px;color: #ffffff;justify-content: center;align-items: center;display: flex;}
@media (max-width:767px){
    .image-compare-item{height: 80px;}
    .list-title-compare li img{width: 7px;}
    .btn-comfirm-compare{background: transparent!important;}
    .image-compare-item{height: 80px;}
    .delete-compare-office{width: 30px;height: 40px;font-size: 12px;}
    .btn-choose-booking a{font-size: 12px!important;line-height: 12px;height: 40px;}
    .list-title-compare li{font-size: 10px!important;line-height: 15px;padding: 6px 3px;height: 30px;}
    .icon-compare img{max-width: 40px!important;}
    
}