.ground-content-main{display: flex;justify-content: space-between;}
.ground-content-left,.ground-content-right{width: 49%;}
.input-form span{color:#ffffff}
.input-form p{
    min-width: 103px;
    margin: 0 5px 3px 0px;
    font-size: 7px;
    width: 32%;
}
.item-checkbox{}
.list-checkbox-ground{
    display: flex;
    margin: 4px 0px 0px;
    width: 100%;
}
.list-checkbox-ground input{
    width: 13px!important;
    margin: 0 4px 0 0!important;
}
.list-checkbox-ground span{
    font-size: 12px;
}
.lbl-input{font-size: 15px!important;}
.btn-sending-ground{margin-top: 15px;}
.item-image-ground{
    width: 31%;
}
.item-image-ground img{
    width: 100%;
    object-fit: cover;
    height: 173px;
    margin: 0 0 20px 0px;
}
.list-image-ground{display: flex;justify-content: space-between;}
.title-list-image-ground h2{text-align: center;font-family: 'NS-bold';font-size: 18px;text-transform: uppercase;margin: 0 0 20px 0px;}
.content-note-general p{padding: 0 0px 0 12px;display: flex;font-size: 16px;max-width: calc(90% + 40px);}
.content-note-general p i{color:green;font-size: 24px;margin: 0 10px 0px 0px;}
.lbl-hotline-ground{text-transform: uppercase;color:red;margin: 0 0 0 7px;font-family: 'NS-semi';}
#form-ground input,#form-ground select{width: 100%;padding: 3px 10px;font-size: 15px;border-radius: 0;}
#form-ground span{width: 30%;font-size: 13px;}
#form-ground .input-form{display: flex;justify-content: space-between;width: 100%;}
.textarea-form{width: 100%;flex-wrap: wrap;}
.textarea-form span{width: 100%!important;display: block;margin-bottom: 10px;}
.textarea-form textarea{width: 100%;display: block;}
.note-more-ground span{
    color: red;
    font-family: 'NS-semi';
}
.btn-sending:hover{background: #2B7E2A!important;cursor: pointer;}
.content-tinh-chat{display: flex;justify-content: space-between;margin-bottom: 7px;}
.lbl-tinhchat{
    color: #ffffff;
    font-size: 13px;
}
.list-tinhchat{
    width: 77%;
}
#form-ground .form-top-item{padding: 15px 20px 0px;}
#form-ground{width: 90%;margin: 0 auto;}
@media (max-width:991px){
    #form-ground{width: 100%;}
    .ground-content-main{flex-wrap: wrap;}
    .ground-content-left, .ground-content-right{width: 100%;}
    .ground-content-right{padding: 30px 0px 0px;}
    .ground-content-left{max-width: 600px;margin: 0 auto;}
    .content-note-general p{font-size: 14px;padding-left: 0px;margin-bottom: 7px;}
    .content-tinh-chat{flex-wrap: wrap;}
    .lbl-tinhchat,.list-tinhchat{width: 100%;}
    .input-form p{margin:  0 2px 5px 0px;}
}

@media (max-width:480px){
    .form-top-item{padding:  0 7px;}
}