.box-filter-left{width: 100%;float: left;margin: 0 2% 15px 0;}
.box-filter-right{width: 38%;float: left;margin: 3px 0 0 0;text-align: center;}
.box-filter::after{clear: both;content: '';display: block;}
.box-filter-top{display: flex;justify-content: space-between;align-items: center;}
.box-filter-top select{width: 26%;font-weight: 700;max-width: 170px;box-shadow: 7px 4px 24px 1px rgba(101, 101, 101, 0.1);border: 1px solid #2B7E2A;padding: 5px 7px;outline: none;margin: 5px 0 7px 0px;text-align-last: center;font-size: 16px;line-height: 22px;
/* identical to box height */color: #2B7E2A;font-family: 'NS-bold';}
.lbl-square,.lbl-price{padding: 7px 0px;background: #ffffff;margin: 7px 0px;display: block;width: 170px;font-weight: 700;border: 1px solid #2B7E2A;font-size: 16px;box-shadow: 7px 4px 24px 1px rgba(101, 101, 101, 0.1);line-height: 22px;
/* identical to box height */text-align: center;height: auto!important;color: #2B7E2A;font-family: 'NS-bold';}
.filter-square,.filter-price{display: flex;justify-content: space-between;margin: 0px 0px 0px;width: calc((100% - 262px)/2);}
.ruler-value{width: calc(100% - 200px);}
.value-ruler-in-text{text-align: center;margin: 0 0px 5px 0px;color: #3D3E3E;}
.keyword{
    width: calc(46% - 60px);
    margin-top: -2px;
}
.keyword input{
    width: 100%;
    padding: 7px 7px 7px;
    font-size: 16px;
    line-height: 20px;
    font-weight: 500;
    outline: none;
    color: #2B7E2A;
    border: 1px solid #2B7E2A;
    box-shadow: 7px 4px 24px 1px rgba(101, 101, 101, 0.1);
    font-family: 'NS-semi';
}
.btn-searching input{
    width: 168px;
    /* height: 45px; */
    color: #ffffff;
    background: #63991E;
    box-shadow: 7px 4px 24px 1px rgba(101, 101, 101, 0.1);
    outline: none;
    font-weight: 700;
    font-family: 'NS-bold';
    padding-top: 3px;
    border: 0;
    font-size: 14px;
    line-height: 32px;
    cursor: pointer;
}
.btn-searching input:hover{background: #2B7E2A;}
.box-filter{padding: 30px 0px 0px;margin: 0 0 15px 0px;}
.form-filter::after{content: '';clear: both;display: block;}
.keyword input::-webkit-input-placeholder{color:#275C26;}
.keyword input:-moz-placeholder{color:#275C26;}
.keyword input::-moz-placeholder{color:#275C26;}
.keyword input:-ms-input-placeholder{color:#275C26}
.box-filter-bottom{padding: 0 0px 0px 0px;display: flex;justify-content: space-between;}
.office-item{width: 32%;position: relative;margin: 0 2% 2% 0;float: left;border: 1px solid #ffffff;}
.image-office img{width: 100%;object-fit: cover;height: 100%;min-height: 216px;max-height: 272px;}
.name-office a{text-decoration: none;color: #308123;}
.name-office{padding: 5px 0px;margin: 0 0 7px;font-size: 16px;font-family: 'NS-bold';line-height: 26px;}
.des-building p{margin: 0 0 7px 0px;padding: 0;font-size: 13px;color: #6A6C6C;}
.sharing-office-item:nth-child(2) .sharing-office-right .district-item:nth-child(8n+1){border-left: 1px solid!important;}
/* ruler searching */
.noUi-horizontal {
    height: 2px!important;
}
.noUi-horizontal .noUi-handle{left: -1px!important;background:#2B7E2A;display: none;box-shadow: none;width: 14px!important;height: 10px!important;border: none;border-radius: 0;}
.noUi-handle:after, .noUi-handle:before{display: none!important;}
.noUi-target{background: #2B7E2A!important;border: 1px solid #2B7E2A!important;}
/* detail office */
.box-intro-general{
    padding: 0 0 9px 0px;
}
.lbl-detail{
    color: #404040;
    font-weight: bold;
    font-size: 22px;
    line-height: 30px;
    margin: 0;
}
.lbl-name{
    font-weight: 800;
    font-size: 46px;
    color: #275C26;
    margin: 0;
    padding: 0;
    line-height: 63px;
}
.lbl-price-general{
    margin: 0;
    font-weight: 800;
    font-size: 32px;
    color: #D37F00;
    line-height: 44px;
}
.date-update{
    margin: 0;
    font-weight: 600;
    font-size: 13px;
    line-height: 25px;
    color: #BE7C19;
}
#detail-office{padding: 40px 0px;margin-top: 40px;}
.left-pro-detail {
    position: relative;
    float: left;
    width: 53%;
    margin-right: 2%;
}
.right-pro-detail {
    width: 45%;
    float: left;
}
.grid-pro-detail::after{content: '';clear: both;display: block;}
.district-item{display: flex;justify-content: space-between;margin: 0 0 7px 0px;width: calc((100%)/8);float: left;border-right: 1px solid #ffffff;border-top: 1px solid #ffffff;border-bottom: 1px solid #ffffff;color: #000000;font-size: 12px;line-height: 16px;background: #F3F3F3;padding: 6px 5px;}
.district-item:first-child{border-left: 1px solid #ffffff;}
.district-item:nth-child(8n+1){border-left: 1px solid #ffffff;}
.district-item a{color:#000000;display: flex;justify-content: space-between;width: 100%;}
.district-item.active{background: #FFDE59!important;}
/* Style the buttons inside the tab */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none!important;
    cursor: pointer;
    width: 50%;
    padding: 4px 16px;
    text-transform: uppercase;
    font-family: 'NS-bold';
  }
  
  /* Create an active/current tablink class */
  .tab button.active,.tab button:hover {
    color: #ffffff;
    background: #2B7E2A;
  }
  * { padding: 0 } 
  
  /* Style the tab content */
.tabcontent {
display: none;
border-top: none;
}
/* the office in same road */
.title-list-office-same-road h2 span{font-weight: 800;}
.title-list-office-same-road h2{
    font-weight: 600;
    font-size: 26px;
    text-transform: uppercase;
    line-height: 35px;
    margin: 0 0 30px 0;
    font-family: 'NS-bold';
}
.box-booking-compare{display: flex;justify-content: space-between;padding: 0px 0px;display: flex;margin: 15px 0px 0px;padding: 10px 10px;font-family: 'NS-bold';background: #F4F4F4;}
.booking-item{}
.booking-item a{
    text-decoration: none;
    font-size: 26px;
    color: #000000;
}
.booking-item img{margin: 0 7px 0px 0px;}
.booking-item a span{display: flex;align-items: center;}
.office-item:hover{border: 1px solid #50921C}

#the-same-other-office-in-district #list-office{width: 100%!important;}
.office-same-item{width: 32%;margin:0 2% 2% 0;float: left;border: 1px solid #ffffff;position: relative;}
.office-same-item:hover{border: 1px solid green;}
.box-booking-compare a{
    font-weight: 600;
    font-size: 14px;
    display: flex;
    line-height: 19px;
    align-items: center;
    color: #231D15;
    text-decoration: none!important;
}
.box-booking-compare a:hover{
    color:red
}
.box-booking-compare img{
    width: 19px;
    object-fit: cover;
    margin: 0 7px 0px 0px;
}
/* tab office */
#list-tab{width: 280px;}
.list-traditional-office-tab{display: flex;justify-content: space-between;padding: 50px 0px;}
.list-traditional-office-tab .center{justify-content: space-between;display: flex;}
.name-type-tab{
    background: #63991E;
    padding: 2px 7px;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    font-family: 'NS-bold';
    text-align: center;
    color: #ffffff;
}
#list-tab ul{
    margin: 0;
    padding: 0 0 0px 0px;
    border: 1px solid #63991E;
    list-style: none;
    max-height: 240px;
    overflow-y: scroll;
}
#list-tab ul li{
    margin: 8px 0 7px 0px;
    padding: 0 0px 7px 25px;
    position: relative;
}
#list-tab ul li::after{
    position: absolute;
    content: '';
    width: calc(100% - 20px);
    bottom: 0px;
    right: 10px;
    height: 1px;
    background:#f2f2f2;
}
#list-tab ul li a{
    text-decoration: none;
    color: #000000;
    font-size: 12px;
    position: relative;
    font-weight: 400;
}
#list-tab ul li a::before{
    position: absolute;
    position: absolute;
    width: 10px;
    height: 10px;
    left: -16px;
    content: '';
    top: 50%;
    transform: translateY(-50%);
    background: url('../image/icons/i-arrow.png') no-repeat;
    background-size: cover;
}
#list-tab ul li:last-child::after{display: none!important;}
.des-building p i{color:#275C26;font-size: 16px;width: 20px;}
.value-building{color: #E71B1B;font-size: 18px;line-height: 25px;font-family: 'NS-bold';}
.des-building{padding: 10px 1px 1px 8px;border-top: 0;margin: -5px 0px 0px;}
#list-tab .tab-square{margin-bottom: 30px;background: #ffffff;}
.left-pro-detail img{width: 100%;max-height: 514px;margin-bottom: 20PX;/* min-height: 500px; */object-fit: cover;}
.title-header-content{
    line-height: 46px;
    font-size: 17px;
    line-height: 46px;
    text-transform: uppercase;
    color: #275C26;
    font-weight: 800;
    height: 46px;
    font-family: 'NS-bold';
}
.content-pro-detail{
    padding: 0px 0px 0px 0px;
    background: #ffffff;
}
.content-pro-detail ul{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}
.content-pro-detail ul li{
    display: flex;
    justify-content: space-between;
    margin: 0 0 4px 0;
    width: 100%;
}
.content-pro-detail ul li i{margin: 0 7px 0px 0px;}
.content-pro-detail ul li p{
    margin: 0;
    width: 89%;
    color: #161A1B;
    line-height: 19px;
    font-size: 13px;
}
.content-pro-detail ul li span{
    margin: 0;
    width: 42%;
    font-family: 'NS-semi';
    color: #231D15;
}
@media (min-width: 1200px){
    .office-item:nth-child(3n){margin-right: 0;}
    .office-item:nth-child(3n+1){clear:both;}
    .office-same-item:nth-child(3n){margin-right: 0;}
    .office-same-item:nth-child(3n+1){clear:both}
    .office-same-item:nth-child(7),.office-same-item:nth-child(8){display: none;}
}
@media (min-width:992px) and (max-width:1199px){
    .office-same-item{width: 32%;float: left;margin: 0 2% 2% 0;}
    .office-same-item:nth-child(3n){margin-right: 0;}
    .office-same-item:nth-child(3n+1){clear:both}
}

@media (max-width:991px){
    .office-item{width: 49%; margin: 0 2% 2% 0;float: left;}
    .office-item:nth-child(2n){margin-right: 0;}
    .office-item:nth-child(2n+1){clear:both;}
    .office-same-item{width: 49%;}
    .office-same-item:nth-child(2n+1){clear: both;}
    .office-same-item:nth-child(2n){margin-right: 0;}
}
@media (min-width:768px) and (max-width:991px){
    #content .title-main h2 {
        font-size: 35px;
        line-height: 47px;
    }
    .image-office img{height: 276px;object-fit: cover;}
    .box-filter-top select{width: 25%;font-size: 12px;}
    .lbl-square, .lbl-price{width: 124px;font-size: 13px;height: 30px!important;line-height: 16px;margin: 7px 7px 0px 0px;}
    .ruler-value{width: calc(100% - 140px);}
    .filter-square, .filter-price {
        display: flex;
        justify-content: space-between;
        margin: 0px 11px 0px 0px;
        width: 50%;
    }
    .left-pro-detail img{width: 100%!important;object-fit: cover;}
    .title-list-office-same-road h2{font-size: 20px;}
}
@media (max-width:767px){
    .lbl-name{font-size: 26px!important; line-height: 35px!important;}
    .box-filter-top select{width: 30%;font-size: 13px;height: 28px;padding: 3px;}
    .box-filter-top{flex-wrap: wrap;}
    .keyword{width: 100%;}
    .box-filter-bottom{flex-wrap: wrap;}
    .filter-square, .filter-price{width: 100%;}
    .lbl-square, .lbl-price{font-size: 13px;line-height: 13px;}
    .btn-searching{width: 100%;text-align: center;margin: 7px 0px;}
    .box-filter-bottom{flex-wrap: wrap;}
    .left-pro-detail,.right-pro-detail{width: 100%!important;}
}
@media (min-width:481px) and (max-width:767px){
    #content .title-main h2{font-size: 34px;line-height: 42px;}
    #content .title-main h2::after{width: 51px;right: -62px;top: 20px;}
    #content .title-main h2::before{width: 50px;background-size: contain;left: -50px;}
    .district-item{width: calc(100%/4);}
}
@media (max-width:480px){
    #content .title-main h2::before {
        width: 50px!important;
        left: -55px!important;
        background-size: contain!important;
    }
    #content .title-main h2::after {
        width: 44px!important;
        background-size: contain!important;
        right: -73px!important;
        top: 20px!important;
    }
    #content .title-main h2{font-size: 23px!important;line-height: 34px!important;}
    .image-office img{height: 130px;min-height: auto;}
    .box-booking-compare a{font-size: 11px;}
    .box-link-booking-office i{font-size: 14px!important;}
    .box-booking-compare img{width: 14px;}
    .filter-square, .filter-price{width: 100%;}
    .lbl-square, .lbl-price{height: 25px!important;width: 30%;font-size: 13px;display: flex;align-items: center;justify-content: center;}
    .ruler-value{width: calc(63%);}
    .lbl-name{font-size: 20px;line-height: 25px;}
    .lbl-price-general{font-size: 16px;}
    .title-header-content{font-size: 18px;line-height: 20px;height: auto;margin: 5px 0px;}
    .fee-office ul li{width: 100%!important;}
    .des-struct-office ul li{
        background-size: 14px!important;
        background-position: 0px 5px!important;
    }
}
