/* font  */
@font-face {
    font-family: 'SVN-Cintra';
    src: url('../css/fonts/SVN-Cintra.woff2') format('woff2'),
        url('../css/fonts/SVN-Cintra.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
/* font monster */
@font-face {
    font-family: 'MB';
    src: url('../css/fonts/Montserrat-Bold.woff2') format('woff2'),
        url('../css/fonts/Montserrat-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'MS';
    src: url('../css/fonts/Montserrat-SemiBold.woff2') format('woff2'),
        url('../css/fonts/Montserrat-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserat';
    src: url('../css/fonts/Montserrat-Regular.woff2') format('woff2'),
        url('../css/fonts/Montserrat-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
/* nutiro sans */
@font-face {
    font-family: 'NS-regular';
    src: url('../css/fonts/NunitoSans-Regular.woff2') format('woff2'),
        url('../css/fonts/NunitoSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'NS-semi';
    src: url('../css/fonts/NunitoSans-SemiBold.woff2') format('woff2'),
        url('../css/fonts/NunitoSans-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'NS-bold';
    src: url('../css/fonts/NunitoSans-Bold.woff2') format('woff2'),
        url('../css/fonts/NunitoSans-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'NS-black';
    src: url('../css/fonts/NunitoSans-Black.woff2') format('woff2'),
        url('../css/fonts/NunitoSans-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}








body{font-family: 'NS-regular'!important;font-size: 14px;margin: 0;}
.center{max-width: 1230px;margin: 0 auto;padding: 0 15px;width: 100%;}
/* Text Hide */
.text-split{overflow:hidden;text-overflow:ellipsis;white-space:normal;-webkit-box-orient:vertical;display:-webkit-box;-webkit-line-clamp:3;}
.text-split.text-split-1{-webkit-line-clamp:1;}
.text-split.text-split-2{-webkit-line-clamp:2;}
.text-split.text-split-3{-webkit-line-clamp:3;}
.text-split.text-split-6{-webkit-line-clamp:6;overflow: hidden;}

/* Transition All */
.transition{-webkit-transition:0.3s ease-out;-moz-transition:0.3s ease-out;-o-transition:0.3s ease-out;transition:0.3s ease-out;}

/* Scale IMG */
.scale-img{overflow:hidden;display:block;}
.scale-img img{-webkit-transition:0.3s ease-out;-moz-transition:0.3s ease-out;-o-transition:0.3s ease-out;transition:0.3s ease-out;-moz-transform:scale(1,1);-webkit-transform:scale(1,1);-o-transform:scale(1,1);-ms-transform:scale(1,1);transform:scale(1,1);}
.scale-img:hover > img{-webkit-transition:2s ease-out;-moz-transition:2s ease-out;-o-transition:2s ease-out;transition:2s ease-out;-moz-transform:scale(1.1,1.1);-webkit-transform:scale(1.1,1.1);-o-transform:scale(1.1,1.1);-ms-transform:scale(1.1,1.1);transform:scale(1.1,1.1);}

/* header */
#section-header{background: #ffffff;}
#section-header .center{display: flex; align-items: center;justify-content: space-between;}
.menu-left ul,.menu-right ul{display: flex;justify-content: space-between;list-style: none;padding: 0;margin: 0 0 0 10px;}
.menu-left{width: calc(100% - 524px);padding: 0 0px 0px 0px;}
#section-header .menu-left a,#section-header .menu-right a{color: #494949;text-decoration: none;font-size: 14px;line-height: 19px;text-transform: capitalize;padding: 0 0px;font-family: 'NS-bold';}
#section-header .menu-left a:hover,#section-header .menu-right a.active{color:#21873A}
#banner{background: url('https://d1bvpoagx8hqbg.cloudfront.net/originals/lotte-tower-the-great-view-sky-walk-observatory-98ce4f5270fb5693aaa37a26ebdf18f7.jpg') no-repeat center;background-size: cover;padding: 50px 0px;color: #ffffff;}
.type-office-item {
    width: 32%;
    margin: 0 2% 2% 0;
    float: left;
    position: relative;
    text-align: center;
}
.title-type-office{display: inline-block;margin: 0 auto;background: #117bffa3;padding: 5px 17px;width: calc(100% - 100px);margin: 0!important;}
.list-type-office:after { 
    content: " "; 
    display: block;
    clear: both;
} 
.image-type-office img{width:100%;object-fit: cover;height: 100%;margin: 0;}
.des-type-office{background:#ffffff;color: #000000;margin: -4px 0px;}
.des-type-office p{margin:0;padding: 5px 10px;line-height: 23px;}
.list-type-office{position:relative;padding: 0 30px 30px;}
.list-type-office:before{content:'';height:50%;width:100%;background: #3f395ad6;content:'';bottom:0px;position: absolute;left:0px;}
.control-doitac {
    opacity: 0;
    position: absolute;
    z-index: 2;
    top: calc(50% - 50px/2);
    width: 35px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    font-size: 25px;
    cursor: pointer;
    margin: 0px;
    background-color: #000000;
    border-radius: 3px;
}
.prev-doitac {
    left: 20px;
    padding-right: 3px;
}
.next-doitac {
    right: 20px;
    padding-left: 3px;
}
/* virtual office */
.content-virtal-office-left{width: 29%;float: left;max-width: 367px;color: #444A4E;margin: 0 0 0 auto;padding: 0 0 0 70px;font-size: 24px;line-height: 40px;font-weight: 700;}
.content-virtual-office-right{width: 65%;float: right;position: relative;z-index: 10;}
.content-virtual-office-right img{width: 100%;}
.content-virtal-office-left ul li{list-style-type: none;margin: 0 0 10px 0px;}
#content-virtual-office{position: relative;overflow: hidden;padding: 60px 0px 0px;}
#content-virtual-office::after{position: absolute;content: '';width: 815px;height: 815px;right: -300px;background: #f2f2f2;top: -300px;border-radius: 50%;}
.content-virtal-office::after{content: '';clear: both;display: block;}
#content-virtual-office .title-main h2{margin: 0;padding: 15px 0px 0px;color: #222426;text-transform: uppercase;font-size: 26px;position: relative;line-height: 40px;z-index: 5;font-weight: 700;display: inline-block;}
#content-virtual-office .title-main h2::after{position: absolute;content: '';width: 105px;right: -131px;z-index: 10;top: -22px;height: 105px;background: url('../image/icons/i-plus.png') no-repeat;background-size: contain;}
#traditional-office{
    position: relative;
}
#traditional-office .center{margin-top: -85px;}
.content-traditional-office-left{text-align: left;padding: 180px 0px 0px 60px;max-width: 363px;color: #444A4E;}
#traditional-office::after{position: absolute;width: 814px;height: 814px;content: '';left: -282px;top: -288px;background: #E8F3E3;border-radius: 50%;z-index: -1;}
#traditional-office .title-main h2{padding: 19px 0px;margin: 0;font-size: 35px;position: relative;text-transform: uppercase;display: inline-block;}
#traditional-office .title-main h2::after{position: absolute;width: 100%;content: '';height: 4px;background:#ffffff;/* left: 0px; */bottom: 7px;}
#traditional-office .title-main{/* text-align: right; */position: relative;}
.traditional-office-item{display: flex;align-items: center;justify-content: space-between;position: relative;z-index: 1;}
.traditional-office-item a{display: flex;justify-content: space-between;width: 100%;color: #000000;font-size: 13px;line-height: 20px;font-family: 'NS-semi';}
.traditional-office-item a:hover{color:red}
.traditional-office-right{width: 100%;}

.traditional-office-left{max-width: 145px;height: 60px;border-radius: 50%;display: flex;align-items: center;font-weight: 800;text-transform: uppercase;color: #275C26;width: 20%;margin: 15px 0px 0px;font-size: 16px;}
.traditional-office-item:nth-child(2) .traditional-office-left{background: #ffff11e0!important;}
.traditional-office-item:nth-child(2) .traditional-office-right{background: #ffff11e0!important;}
.list-district::after{content: '';clear: both;display: block;}
.traditional-office-item:nth-child(2){position: relative;z-index: 0;}
#list-traditional-office-outstanding .traditional-office-outstanding-item{padding: 7px 0px;}
#list-traditional-office-outstanding{background:#ffffff;padding: 0 5px;}
#content-virtual-office p{margin: 10px 0;font-weight: 700;font-size: 24px;line-height: 40px;}
#traditional-office p{margin: 10px 0;font-weight: 700;font-size: 24px;line-height: 40px;}
#traditional-office .title-main h2 {
    margin: 0;
    padding: 15px 0px 0px;
    color: #222426;
    text-transform: uppercase;
    font-size: 26px;
    position: relative;
    line-height: 40px;
    z-index: 5;
    font-weight: 700;
    display: inline-block;
}
#traditional-office .title-main h2::after {
    position: absolute;
    content: '';
    width: 105px;
    right: -136px;
    z-index: 10;
    top: -8px;
    height: 105px;
    background: url(../image/icons/i-plus.png) no-repeat;
    background-size: contain;
}
/* sharing office */

#sharing-office{position: relative;padding: 100px 0 160px 0;overflow: hidden;}
.content-sharing-office-left {
    width: 39%;
    float: left;
    max-width: 367px;
    color: #444A4E;
    margin: 0 0 0 auto;
    padding: 0 0 0 70px;
    font-size: 24px;
    line-height: 40px;
    font-weight: 700;
}
#sharing-office::after {
    position: absolute;
    content: '';
    width: 815px;
    height: 815px;
    right: -300px;
    background: #f2f2f2;
    top: 0px;
    border-radius: 50%;
    z-index: -1;
}
#sharing-office .title-main h2{display: inline-block;margin: 0 0 0 auto;position: relative;padding: 15px 0px 0px;color: #222426;text-transform: uppercase;font-size: 26px;line-height: 40px;z-index: 5;font-weight: 700;}
#sharing-office .title-main h2:after{position: absolute;content: '';right: -147px;width: 105px;height: 105px;top: 0px;background: url('../image/icons/i-plus.png') no-repeat;background-size: contain;}
#sharing-office .title-main{text-align: left;}
#content .title-main{text-align: center!important;position: relative;padding: 0 7px;margin: 0 0 50px;}
#content .title-main h2::after{position: absolute;content: '';width: 105px;height: 116px;background: url('../image/icons/i-plus.png') no-repeat;right: -110px;background-size: cover;top: 0px;}
#content .title-main h2::before{position: absolute;content: '';width: 74px;height: 62px;background: url('../image/icons/i-plus-left.PNG') no-repeat;left: -90px;top: 23px;}

.box-child-breadscrumb-after .title-main h2::after{position: absolute;content: '';width: 47px;height: 75px;background: url('../image/icons/i-plus.png') no-repeat;right: 19px;background-size: contain;top: 5px;display: none;}
.box-child-breadscrumb-after .title-main h2::before{position: absolute;content: '';width: 45px;height: 62px;background: url('../image/icons/i-plus-left.PNG') no-repeat;left: 0px;top: 23px;background-size: contain;display: none;}
.box-child-breadscrumb-after .title-main{text-align: center!important;position: relative;padding: 0px 7px;margin: 0;font-family: 'SVN-CINTRA';width: 100%;}
.box-child-breadscrumb-after .title-main h2{
    font-size: 34px;
    line-height: 36px;
    letter-spacing: 2.5px;
    margin: 0;
    background: url('../image/background/bg-box-breadscrumb.png') no-repeat center;
    min-height: 47px;
}
.box-child-breadscrumb-after .title-main h2 span{
    color: #2B7E2A;
}
.sharing-office-item{display: flex;align-items: center;justify-content: center;position: relative;z-index: 1;}
.sharing-office-left{height: 130px;width: 130px;clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);display: flex;align-items: center;justify-content: center;background: #1a162b;color: #ffffff;}
.sharing-office-right{width: calc(100% - 160px);/* background: #3f395a; */text-align: right;}
.content-sharing-office{position: relative;padding: 20px 0px;}
.content-sharing-office::before{left: -50px;top:0px;background: red;}
.sharing-office-item:nth-child(2) .sharing-office-left{background: #ffffff!important;color:#000000!important}
.sharing-office-item:nth-child(2) .sharing-office-right{/* background: #ffffff!important; */color:#000000!important;}
.sharing-office-item:nth-child(2) .sharing-office-right .district-item{color:#000000!important;border: 1px solid;border-left: 0;background: #ffffff;}
.list-sharing-office{padding-top: 30px!important;}
.content-sharing-office{display: flex;}
#criteria{padding: 40px 0px;background: #ffffff;}
.creteria-item img{max-height: 64px;object-fit: contain;position: relative;z-index: 20;}
.creteria-item{position: relative;padding: 10px 0 0;margin: 0px auto;border-radius: 50%;text-align: center;}
.creteria-item:before{content:'';width: 250px;top:50%;position: absolute;left: 50%;transform: translate(-50%,-50%);border:2px solid #ffffff;height: 100px;z-index: 10;display: none;}
.menu-footer {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 0px 0px!important;
}
.logo{width: 100%;display: flex;align-items: center;justify-content: space-between;}
.logo img{width: 100%;object-fit: cover;}
.logo-footer img {
    margin-left: 7px;
}
.link-footer {
    width: calc(100% - 125px);
}
.link-footer ul li a {
    padding: 0 15px 0 15px;
    margin: 0 0 0 0px;
    font-style: normal;
    font-size: 14px;
    text-decoration: none;
    line-height: 17px;
    font-family: 'NS-bold';
    text-transform: capitalize;
    color: #494949;
    border-right: 1px solid;
}
.link-footer ul {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    margin: 0;
    padding: 0;
}
footer {
    width: 100%;
    background: #ffffff;
    color: blue;
    font-size: 15px;
}
.footer_widgets{display: flex;justify-content: space-between;}
.footer_contact{margin: 30px 0px 0px;list-style: none;justify-content: space-between;color: #ffffff;font-size: 14px;line-height: 20px;display: flex;flex-wrap: wrap;font-family: 'NS-semi';padding: 0;}
.footer_contact li{margin: 0 0 10px 0px;width: 45%;display: flex;}
.widget_title span{font-size: 18px;margin: 0 0 0px 0px;display: block;font-family: 'NS-bold';padding: 0px 0px 0px 0px;}
.widget_title{text-transform: uppercase;color: #FFDE59;display: flex;justify-content: space-between;align-items: center;font-size: 18px;line-height: 22px;font-weight: 700;font-family: 'NS-bold';max-width: 466px;margin: 0 0 36px 0;}
.single_footer_widget p{line-height: 22px;font-size: 15px;font-family: 'NS-regular';margin-bottom: 10px;}
.traditional-office-item:nth-child(2) .traditional-office-left{color:red!important}

/* deposit for rent */
.item-main{width: 32%;margin: 0 2% 2% 0;float: left;}
.content::after{content: '';clear:both;display: block;}
.deposit-for-rent-main{padding: 0px 0px 100px;font-family: 'NS-semi';}
.logo-in-deposit img{max-width: 100%;object-fit: cover;max-height: 130px;}
.logo-in-deposit,.link-hotline{text-align: center;display: flex;justify-content: flex-start;align-items: center;border-bottom: 1px solid;padding-bottom: 20px;}
.title-deposit{font-size: 17px;}
.link-hotline a{text-decoration: none;padding: 5px 7px;background: #dfd114;display: inline-block;margin: 20px auto 0px;border-radius: 3px;font-size: 17px;color: #ffffff;}
.title-benefit{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 23px;
    line-height: 41px;
    margin-bottom: 15px;
    color: #275C26;
}
.title-commitment{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 23px;
    margin-bottom: 15px;
    line-height: 41px;
    color: #275C26;
}
.form-infor-deposit-for-rent .form-top-item input,.form-infor-deposit-for-rent .form-top-item textarea{width: 100%;padding: 8px 10px;margin: 0 0 10px 0px;border: none;outline: none;}
.form-infor-deposit-for-rent .form-top-item input::-webkit-input-placeholder{color:#966464;}
.form-infor-deposit-for-rent .form-top-item input:-moz-placeholder{color:#966464;}
.form-infor-deposit-for-rent .form-top-item input::-moz-placeholder{color:#966464;}
.form-infor-deposit-for-rent .form-top-item input:-ms-input-placeholder{color:#966464;}
.form-infor-deposit-for-rent .form-top-item select{width:100%;padding: 8px 10px;margin: 0 0 8px 0px;border: none;border-radius: 3px;outline: none;color: #966464;}
.list-benefit li,.list-commitment li{margin: 0 0 7px 0px;position: relative;}
.list-benefit li::after,.list-commitment li::after{position: absolute;top: 0px;left: -40px;content: '';width: 18px;height: 18px;background:url(../image/icons/icon-deposit-list.png);background-size: cover;}

::after {}
.form-top-item h3{color: #ffffff;font-size: 22px;line-height: 30px;font-family: 'NS-bold';margin-bottom: 15px;}
.title-main-deposit{text-transform: uppercase;font-size: 26px;line-height: 34px;font-family: 'NS-bold';color: #BC7710;margin: 25px 0px 20px;}
.deposit-for-rent-main::after{content: '';clear: both;display: block;}
.deposite-content-left{width: 46%;}
.deposite-content-middle{width: 50%;margin: 0;}
.list-step-deposit li{margin: 0 0 19px 0;line-height: 20px;font-size: 16px;line-height: 25px;list-style: none;color: #393939;}
.form-infor-deposit-for-rent .form-top-item textarea{height: 140px;text-align: left;color: #966464;}
/* dropzone */
.dz-image img {
    width: 100%;
    height: 100%;
}
.dropzone.dz-started .dz-message {
	display: block !important;
}
.dropzone {
	border: 0!important;
	background: #2aa92a05!important;
	padding: 25px 30px!important;
}
.dropzone .dz-preview.dz-complete .dz-success-mark {
    opacity: 1;
}
.dropzone .dz-preview.dz-error .dz-success-mark {
    opacity: 0;
}
.dropzone .dz-preview .dz-error-message{
	top: 144px;
}
#dropzone h4{margin: 0px 0px 15px;font-size: 18px;line-height: 25px;
/* identical to box height */text-align: center;text-transform: uppercase;font-weight: 700;color: #393939;}
.note-image{margin: 0;font-size: 18px;line-height: 25px;
/* identical to box height */text-align: center;font-weight: 600;color: #393939;}
.dz-default{border: 2px dashed blue;padding: 26px 0px 26px;color: #393939;text-align: center;display: block;margin: 15px 0px 0px!important;}
.name-company-right{color:#000000;font-size: 20px;}
.name-company-left{color:blue;font-size: 20px;}
.btn-sending{width: 300px!important;color: #ffffff;margin: 0px auto 0px!important;background: #E99A24;display: block;height: 60px;border: 0;font-weight: bold;font-size: 22px;line-height: 30px;}
/* traditional office */
.content-traditional-office{display: flex;}
#content .title-main h2{text-align: center!important;padding: 7px 0px 0px;display: inline-block;text-transform: uppercase;position: relative;font-size: 64px;font-family: SVN-CINTRA;line-height: 72px;font-weight: 500;margin: 0;}
.title-news h2{margin: 0 0 30px 0;font-size: 32px;font-family: 'NS-bold';text-transform: uppercase;color: #BC7710;}
.news-item{width: 32%;margin:0 2% 2% 0;float: left;border: 1px solid #C5C5C5;box-sizing: border-box;padding: 14px 14px 14px;position: relative;background: #ffffff;min-height: 360px;position: relative;}
.list-news::after{content: '';clear: both;display: block;}
.news-item img{width: 100%;object-fit: cover;height: 186px;margin: 0 auto;}
.name-news{text-transform: uppercase;margin: 7px 0px 4px;padding: 0;font-size: 16px;}
.name-news a{color: #2D4A15;text-decoration: none;font-size: 14px;line-height: 17px;font-family: 'NS-bold';}
.des-news{line-height: 20px;padding: 10px 0px 0;}
.des-news p{margin: 0;font-size: 14px;line-height: 21px;}
.footer-content-left{
    width: 41%;
}
.name-type-office{font-weight: 800;position: relative;font-family: 'NS-bold';color: #222426;font-size: 36px;}
.des-general-intro::after{position: absolute;right: 0;top: 47%;width: 7px;transform: translateY(-43%);content: '';height: 80%;background: #FFDE59;z-index: 100;}
/* main content homepage */
.grid-thuvienanh {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: 170px;
    grid-gap: 20px 20px;
}
.grid-thuvienanh .box-thuvienanh:nth-child(1) {
    grid-column: 1/3;
    grid-row: 1/3;
}
.box-thuvienanh {
    position: relative;
    overflow: hidden;
    box-shadow: 12px 9px 26px 3px rgba(0, 0, 0, 0.25);
}
.box-thuvienanh img{object-fit: cover;height: 190px;width: 100%;}
#content-main-home{background:url('../image/background/bg_content-home.png') no-repeat;background: none;background-size: cover;padding: 0px 0px 0px;margin: 0;}
.title-main-home .number{
    font-family: SVN-Cintra;
    font-size: 138px;
    font-weight: 500;
    line-height: 121px;
    position: relative;
    z-index: 10;
    color: #231D15;
}
.title-main-home::after{position: absolute;content: '';width: 90px;height: 99px;right: -285px;z-index: 1;top: 74px;background: url('../image/background/i-book.png') no-repeat;background-size: cover;}
.title-main-home .name-type-office-main{
    color: #c51414;
}
.title-main-home h2{
    font-size: 50px;
    line-height: 60px;
    text-transform: uppercase;
    font-family: 'SVN-CINTRA';
    font-weight: 400;
    margin: 9px 0px 0px 94px;
    position: relative;
    letter-spacing: 3.5px;
    z-index: 10;
    color: #231D15;
}
.title-main-home{display: flex;align-items: flex-end;margin: 0 0 50px 225px;padding: 35px 0 0 65px;display: inline-block;position: relative;background-position-y: 57px;}
.title-main-home-inner{display: flex;align-items: center;}
.content-main-home{position: relative;z-index:10;display: flex;flex-wrap: wrap;}
.content-main-home-right-inner p{
    margin: 0 0 16px 0;
    font-weight: 700;
    font-size: 16px;
    line-height: 33px;
    color: #6A6C6C;
    width: 100%;
    display: flex;
}
.content-main-home-right-inner{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.content-main-home-left{/* width: 51%; */}
.content-main-home-right{width: 44%;padding: 0px 0px 11px 68px;display: flex;align-items: center;}
#content-traditional-office{padding: 48px 0px 40px;position: relative;background: url('../image/background/calendar.png') no-repeat,#F9F9F9;background-position-y: 45px;background-position-x: -35px;}
.title-traditional-main{
    margin: 0px 0 50px 42px;
}
#content-traditional-office .title-main-home::after{display: none;}
#content-traditional-office .content-main-home-right{width: auto;padding: 0;margin: -150px 0 0 0;position: relative;z-index: -1;}
#content-traditional-office .content-main-home-left{padding: 0 0 0 0px;}
.traditional-office-main-inner{display: flex;flex-wrap: wrap;font-size: 13px;justify-content: flex-start;font-weight: 600;padding: 0 0px;}
.traditional-office-item{width: 19.5%;height: 28px;margin: 0 3px 11px 0;padding: 0 5px 0px 5px;background: #ffffff;}
.name-city{color:#000000;}
.name-city h2{width: 24%;background: #48A747;text-transform: uppercase;height: 34px!important;color: #ffffff;display: flex;text-align: center;align-items: center;justify-content: center;font-size: 16px;margin: 0 0 11px;}
.box-traditional-office{background: #EFEFEF;/* max-width: 603px; */margin: 0;padding: 4px 0px 4px 5px;}
.box-traditional-office:nth-child(2){margin-top: 20px;}
.box-traditional-office:nth-child(2){position: relative;}
.box-traditional-office:nth-child(2)::after{width: 332px;border-radius: 50%;z-index: -1;height: 332px;content: '';display: none;top: -26px;left: -148px;}
#content-sharing-office .title-traditional-main::after{display: none;}
#content-sharing-office::before{position: absolute;width: 395px;left: 0px;top: 0px;height: 100%;content: '';background: url('../image/background/bg-traditional.png') no-repeat;background-size: cover;}
#content-sharing-office::after{position: absolute;width: 394px;left: 0px;top: 0px;height: 100%;content: '';background: #a6d026bd;}
#content-sharing-office .content-main-home-right{
    padding-left: 0;
    width: 60%;
}
#content-sharing-office{overflow: hidden;padding: 25px 0px 55px;position: relative;margin: 50px 0px;background: #F9F9F9;}
#content-sharing-office .content-main-home-left{padding: 0px 0px 0px 0px;width: 100%;}
#content-sharing-office .box-traditional-office:nth-child(2)::after{right: -115px;left: auto;background: #F9E0B0;}
.list-criteria{width: 100%;margin: 0 auto;border-bottom: 1px solid #275C26;padding: 15px 15% 15px;background: #EFEFEF;}
.creteria-item h2{
    margin: 10px 0 0;
    font-size: 18px;
    font-weight: 400;
}
.box-creteria-image{
    background: #E2E2E2;
    max-width: 88px;
    height: 88px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px;
    margin: 0 auto;
    border-radius: 50%;
}
.footer-bottom{background: #50921C;font-family: 'Montserat';color: #ffffff;padding: 60px 0px 25px;}
.footer-content-right{width: 52%;}
.footer_contact i{color:#FFDE59;font-size: 18px;margin: 0 10px 0px 0px;width: 20px;text-align: center;}
.copyright{text-align: center;margin: 25px 0px 0px;font-family: 'NS-bold';}
.list-contact-footer{list-style: none;display: flex;margin: 0;}
.list-contact-footer li{margin: 0 0 0 12px;}
/* breadscrumb */
#breadscrumb{position: relative;margin-bottom: 30px;}
#breadscrumb .box-breadscrumb::after{position: absolute;content: '';width: 130px;bottom: 0;left: 50%;transform: translateX(-50%);height: 136px;background: url('../image/logo/logo_intro.png') no-repeat center;justify-content: center;display: flex;background-size: contain;}
#breadscrumb2 .box-breadscrumb::after{position: absolute;content: '';width: 393px;bottom: -78px;left: 50%;transform: translateX(-50%);height: 216px;background: url('../image/logo/image_breadscrumb.png') no-repeat center,#ffffff;justify-content: center;display: none;clip-path: polygon(50% 0%, 100% 38%, 100% 100%, 0 100%, 0% 38%);background-size: contain;}

.box-breadscrumb img{width: 100%;object-fit: cover;max-height: 140px;}
#content .title-main::after{position: absolute;width: 445px;height: 5px;background:#FFDE59;content: '';bottom: 10px;left: 50%;transform: translateX(-50%);z-index: -1;}
#list-office{width: calc(100% - 300px);}
#list-office .main-content{/* border-bottom: 1px dashed; */}

/* blogs */
#list-blog{background: #f3f3f3;padding: 50px 0px;}

.content-general-office{margin: 0 0 0px 0;background: #ffffff;}
.xzoom-thumbs img{height: 188px!important;margin: 0;}
.xzoom-gallery{margin-left: 0!important;}
.image-content-office::after{content: '';clear: both;display: block;}
.title-content-in-tab{
    color: #275C26;
    font-size: 26px;
    line-height: 35px;
    margin-bottom: 25px;
    border-bottom: 1px solid #275C26;
}
.tablinks{background:#E99A24;width: 21.25%;height: 45px;color: #7D7D7D;border: none;outline: none;font-size: 18px;}
.tabcontent{font-size: 16px;line-height: 22px;color: #515252;list-style: none;margin: 10px 0px 0px;}
.box-detail-content-office{display: flex;justify-content: space-between;margin: 40px 0px  0px;}
/* struct buiding */
.des-struct-office ul li{width: 100%;padding: 0 0 0 28px;background: url(../image/icons/icon-deposit-list.png) no-repeat;margin: 0 0 7px;font-weight: 700;font-family: 'NS-bold';}
.des-struct-office ul li span{
    font-weight: 400;
    font-family: 'NS-regular';
}
.des-struct-office ul{display: flex;justify-content: space-between;flex-wrap: wrap;list-style: none;}
/* contact */
.box-phone-number{background: #E93F3F;width: 100%;height: 66px;color: #FFFFFF;display: flex;align-items: center;justify-content: center;font-size: 26px;line-height: 35px;}
.box-phone-number a{color:#ffffff;text-decoration: none;font-weight: 700;align-items: center;display: flex;}
.box-phone-number i{font-size: 46px;margin: 0 10px 0 0;font-weight: 700;}
.list-tab-content{border-bottom: none!important;}
/* blog */
.title-main-blog{
    text-align: center;
}
.title-main-blog h2{position: relative;display:inline-block;font-family: SVN-CINTRA;font-size: 55px;color: #275C26;line-height: 39px;}
.title-main-blog h2::after{position: absolute;content:'';width: calc(100% + 10px);height: 20px;z-index: -1;background: #FFDE59;bottom: 0;display: none;left: 50%;transform: translateX(-50%);}
.title-type-blogs h2{
    font-weight: 800;
    font-size: 25px;
    line-height: 35px;
    margin: 30px 0px 10px;
    text-transform: uppercase;
    font-family: 'NS-bold';
    display: inline-block;
    color: #275c26;
    background: #f2f2f2;
    padding: 9px 30px 1px 30px;
    text-align: center;
    position: relative;
}
.title-type-blogs-child h3{
    font-weight: 800;
    font-size: 26px;
    line-height: 44px;
/* identical to box height */
    text-transform: uppercase;
    color: #BC7710;
    padding-left: 25px;
    font-family: 'NS-bold';
    margin: 25px 0px 20px;
}
/* gallery */
#gallery img{width: 100%;object-fit: cover;height: 366px;}
.list-jobs .title-job{
    font-weight: bold;
    font-size: 26px;
    line-height: 35px;
    width: calc(100% - 60px);
    font-family: 'NS-bold';
    color: #000000;
}
.list-jobs .title-job p{
    font-weight: normal;
    font-size: 24px;
    font-family: 'NS-regular';
    line-height: 33px;
    margin: 3px 0px 8px;
}
.list-jobs ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
.list-jobs li{
    border-bottom: 1px solid #7B7B7B;
    display: flex;
    align-items: flex-start;
    padding: 13px 0px;
    list-style: none;
    list-style-type: none;
}
.list-jobs .numer-job{
    font-weight: bold;
    font-size: 26px;
    line-height: 35px;
    color: #000000;
    margin: 0 20px 0px 0;
}
.internal-operations{padding: 0 0 60px 0px;}
.internal-operations img{height: 267px;object-fit: cover;}
/* appointment */
.header-appointment h2{
    font-size: 40px;
    line-height: 44px;
/* identical to box height, or 110% */
    text-transform: uppercase;
    color: #231D15;
    padding: 0px 0px 10px;
    font-family: 'NS-bold';
    font-weight: 800;
    margin: 0;
}
.header-appointment p{
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
    font-family: 'NS-semi';
    color: #636F71;
    margin: 0;
}
.header-appointment{
    font-family: 'Nunito Sans', sans-serif;
    padding-bottom: 40px;
}
.image-appointment{width: 100%;object-fit: cover;max-width: 200px;height: 130px;}
#list-office-saving{background:#F3F3F3;padding: 86px 0px;font-family: 'Nunito Sans', sans-serif;}
.office-save-item{background:#ffffff;border-top: 10px solid #f2f2f2f2;}
.title-header-list-saving-office{border-top-left-radius: 10px;border-top-right-radius: 10px;text-align: center;font-family: 'Nunito Sans', sans-serif;}
.office-save-item td{align-items: center;justify-content: center;text-align: center;}
.btn-delete-saving-item{color:#D22424;font-size: 24px;margin-top: 39px;}
.price-saving-item{
    color: #6A6C6C;
    font-size: 14px;
    line-height: 19px;
    margin: 0px;
    text-align: left;
}
.price-saving-item span{
    font-weight: 800;
    font-size: 24px;
    font-family: 'NS-bold';
    line-height: 33px;
/* identical to box height */
    color: #BC7710;
}
.price-saving-item i{
    color: #C4C4C4;
    margin: 0 2px 0px 0px;
}
.location-saving-item{color: #6A6C6C;font-size: 14px;line-height: 19px;text-align: left;margin: 0;}
.location-saving-item i{
    color: #4B4B4B;
    margin: 0  9px 0 0;
}
.name-saving-item{
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    color: #275C26;
    margin: 17px 0 20px 0;
    text-align: left;
    font-family: 'NS-bold';
}
.btn-date-booking{text-align: center;}
.btn-date-booking a,.btn-date-booking input{
    border: 1px solid #595959;
    padding: 0px 7px;
    width: 70%;
    height: 36px;
    display: block;
    border-radius: 0;
    margin: 15px auto 20px;
    outline: none;
    color: #6A6C6C;
    text-align: center;
    font-size: 15px;
    position: relative;
}

.btn-delete-saving-item a{color:#D22424}
.ui-datepicker-trigger{display: none!important;}

/* group button booking see */
.list-btn-date-booking{
    display: flex;
    justify-content: flex-end;
    margin: 45px 0px 0px;
}
.btn-booking-oversee{
    display: flex;
}
.btn-booking-oversee input{
    border: none;
    background: #E99A24;
    color: #ffffff;
    text-align: center;
    font-size: 22px;
    font-weight: 800;
    margin: 0 10px 0 0;
    width: 240px;
}
.btn-booking-oversee a{
    border: none;
    background: linear-gradient( 
180deg
 , #9AD84B 0%, #6DAC1D 100%);
    font-weight: 800!important;
    border-radius: 50px;
    color: #ffffff;
    text-align: center;
    border-radius: 50px;
    font-size: 22px;
    height: 60px;
    font-weight: 800;
    margin: 0px 0px 0px 10px;
    /* width: 255px; */
    padding: 0 11px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.see-other-office{
    height: 60px;
    overflow: hidden;
    display: flex;
    margin: 0 0 0 20px;
    padding: 0 2px;
    justify-content: center;
    /* align-items: center; */
    font-weight: bold;
    font-size: 22px;
    line-height: 30px;
}
.see-other-office a{
    color: #ffffff;
    font-family: 'NS-bold';
    width: auto;
}
.see-other-office a:hover{background: red ; color:#ffffff!important}
/* deposit for rent */
.title-main-deposit-for-rent h2{text-align: center;font-weight: 800;font-size: 40px;line-height: 48px;
/* or 120% */text-transform: uppercase;color: #231D15;margin: 0 0 70px 0px;font-family: 'NS-bold';}
#deposit-for-rent  #breadscrumb::after{top: 50%;left: 50%;transform: translate(-50%,-50%);width: 236px;clip-path: polygon(50% 0%, 100% 30%, 100% 100%, 0 100%, 0 30%);background-color: transparent;}
#deposit-for-rent  #breadscrumb{margin-bottom: 44px;}
.link-hotline img{
    width: 94px;
    object-fit: cover;
    margin: 0 10px 0px 0px;
}
.link-hotline span{
    font-size: 36px;
    line-height: 49px;
    font-weight: 700;
    color: #E93F3F;
    font-family: 'NS-bold';
}
.list-step-deposit li span{
    font-weight: 700;
    font-size: 18px;
    text-transform: uppercase;
    line-height: 28px;
    color: #393939;
    display: block;
    margin: 0 0 4px;
    position: relative;
}
.list-step-deposit li span::before{position: absolute;width: 22px;height: 22px;content: '';top: 4px;left: -50px;background: #C0CDAF;border-radius: 50%;}
.deposite-content-left-inner{/* max-width: 508px; */}
.form-top-item{padding: 15px 41px 0px;}
.form-top-item:nth-child(2){padding-bottom: 20px!important;}
.box-upload-image{padding:39px 41px;}
.box-upload-image h3{
    font-size: 22px;
    line-height: 30px;
/* identical to box height */
    font-weight: 700;
    color: #393939;
    margin: 0 0 20px;
}
.dz-default p{
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    /* identical to box height */
    margin: 15px 0px 0px;
    text-align: center;
    text-transform: uppercase;
    color: #BC7710;
}
.content-deposit-top::after{clear: both;content:'';display:block;}
.deposite-content-right{width: 100%;float: none;}
/* benefit and commitment */
#box-benefit-commitment{background:#f3f3f3;padding: 50px 0px 30px;font-family: 'Nunito Sans';}
#box-benefit-commitment .item-main-inner{display: flex;justify-content: space-between;}
#box-benefit-commitment .content-benefit,#box-benefit-commitment .content-commitment{
    font-size: 17px;
    line-height: 30px;
    color: #393939;
    font-family: 'NS-semi';
    width: 49%;
}
#box-benefit-commitment .item-main-inner h3{
    font-family: 'NS-bold';
}
.list-benefit{
    margin: 0;
    padding: 0;
    list-style: none;
    padding: 0 0 0 40px;
}
.list-commitment{
    /* padding: 0; */
    padding: 0 0 0 40px;
    list-style: none;
}
/* form booking */
.box-form-booking{
    max-width: 886px;
    margin: 0 auto;
    width: 73.8%;
    box-shadow: 7px 4px 24px 1px rgba(101, 101, 101, 0.1);
}
.title-form-booking{
    background: #7CC242;
    text-align: center;
    color: #ffffff;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
}
.content-main-form{
    padding: 65px 90px;
    background: #ffffff;
    max-height: 500px;
    overflow-y: scroll;
}
.inforcustomer{
    margin-bottom: 20px;
}
.inforcustomer input{
    width: 100%;
    background: #ffffff;
    outline: none;
    text-align: left;
    padding: 7px 0px 8px 15px;
    border: 1px solid #288F04;
    box-sizing: border-box;
    box-shadow: 3px 4px 10px rgba(75, 74, 74, 0.15);
    font-weight: 500;
    font-size: 14px;
    /* background: #E8F0FE; */
    color: #000000;
    line-height: 19px;
}
.inforcustomer textarea{
    width: 100%;
    height: 140px;
    font-size: 14px;
    border: 1px solid #288F04;
    box-sizing: border-box;
    /* background: #E8F0FE; */
    outline: none;
    padding: 10px 0px 13px 15px;
    box-shadow: 3px 4px 10px rgba(75, 74, 74, 0.15);
}
#form-booking .address-booking{
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #6A6C6C;
    padding: 0 30px 20px;
    margin-bottom: 40px;
    border-bottom: 1px solid #275C26;
}
.title-form-booking h2{
    font-size: 24px;
    line-height: 33px;
/* identical to box height */
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    font-weight: 800;
    font-family: 'NS-bold';
    height: 66px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn-sending-contact input{
    width: 100%;
    background: #E99A24;
    color: #ffffff;
    border: 0;
    font-weight: 800;
    height: 66px;
    font-family: 'NS-bold';
    font-size: 22px;
}
/* compare office */

.btn-choose-booking{
    width: 100%;
    height: 100%;
    background: transparent!important;
}
.btn-choose-booking a{
    width: 100%;
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: center;
    border: 0;
    font-size: 22px;
    line-height: 23px;
/* identical to box height */
    text-align: center;
    color: #FFFFFF!important;
    background: #63991E;
    box-shadow: 7px 4px 24px 1px rgba(101, 101, 101, 0.1);
    font-family: 'NS-bold';
}
.list-content-compare li:last-child{padding:0!important;margin: 12px 0px 0px;}
.header-information-customer{
    max-width: 719px;
    margin: 0 auto;
    text-align: center;
    font-size: 20px;
}
#content-office-customer{background:#f3f3f3;padding:84px 0px}
.box-content-office-customer-inner{
    margin: 0 auto;
    max-width: 690px;
}
.title-time-booking h2{
    font-weight: 800;
    font-size: 24px;
    line-height: 33px;
/* identical to box height */
    color: #275C26;
    text-transform: uppercase;
    padding-bottom: 20px;
    border-bottom: 1px solid #275C26;
}
.input-contact-left{
    width: 59%;
}
.input-contact-right{
    width: 39%;
}
.row-contact{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 0 15px 0px;
}
.row-contact span{
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
/* identical to box height */
    color: #363636;
    display: block;
    width: 100%;
    margin: 0 0 4px;
    padding: 0 0 0 10px;
}
.row-contact input{
    width: 100%;
    border: 1px solid #545653;
    box-sizing: border-box;
    line-height: 41px;
    padding: 0 0 0 10px;
    outline: none;
    box-shadow: 3px 4px 10px rgba(75, 74, 74, 0.15);
}
.row-contact textarea{
    width: 100%;
    border: 1px solid #545653;
    box-sizing: border-box;
    outline: none;
    height: 140px;
    padding: 5px 10px;
    box-shadow: 3px 4px 10px rgba(75, 74, 74, 0.15);
}
.title-contact h2{
    font-weight: bold;
    font-size: 22px;
    line-height: 30px;
/* identical to box height */
    color: #545454;
}
.btn-request{
    text-align: right;
}
.btn-request input{
    width: 240px;
    height: 66px;
    background: #E99A24;
    border: 0;
    font-size: 22px;
    line-height: 30px;
/* identical to box height */
    text-align: center;
    color: #FFFFFF;
}

.box-image-virtual img{
    width: 100%;
}
.image-deposit img{width: 100%;object-fit: cover;}
.form-contact-virtual-image-bottom{
    background: #E8F3E3;
    padding: 45px 20px 22px 20px;
}

.paginate-item{
    display: inline-block;
    vertical-align: top;
    margin: 0px 2px 3px 2px;
    color: #333;
    /* background: #eee; */
    /* border: 1px solid rgba(161,161,161,0.4); */
    width: auto;
    font-size: 14px;
    cursor: pointer;
    font-weight: 500;
    padding: 1px 0px 0;
    border: 1px solid #C5C5C5;
    border-radius: 50%;
    width: 26px;
    line-height: 22px;
    height: 25px;
    text-align: center;
    font-family: 'NS-semi';
}
.header-contact h2{
    text-align: center;
    font-size: 64px;
    line-height: 50px;
    /* identical to box height, or 78% */
    text-transform: uppercase;
    font-weight: 700;
    color: #252C2D;
    margin: 0 0 30px 0;
    font-family: 'NS-bold';
}
/* Menu */
.block-menu-child{position: absolute;min-width: 1077px;height: auto;left: -480px;width: 100%;display: none;z-index: 1000;top: 96px;background: #F5F5F5;padding: 16px 10px;border-radius: 0;align-items: flex-start;}
.block-menu-child ul{
    flex-wrap: wrap;
    z-index: 100;
    width: 49%;
    position: relative;
}
.block-menu-child ul span{
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    text-transform: uppercase;
    color: #454545;
    font-weight: 800;
    display: block;
    text-align: left;
    margin: 0 0 12px;
    width: 15%;
}
.block-menu-child ul li{
    width: 32%;
    font-size: 15px;
    line-height: 16px!important;
    margin: 0 0  4px;
    height: auto!important;
    padding: 0 7px 0px 0px!important;
    color: #494949;
}
.block-menu-child ul li a{
    font-size: 13px!important;
    font-family: 'NS-semi'!important;
    color: #000000!important;
    text-transform: capitalize;
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.menu-left ul li{position: relative;line-height: 12px;padding: 0 21px 0px 0px;height: 96px;display: flex;align-items: center;}
.menu-left ul li:last-child{border: none!important;}
.menu-left ul li:hover .block-menu-child{display: flex;}
.menu-left ul li:last-child::after{display: none;}
.menu-left ul li::after{position: absolute;content: '';right: 7px;height: 20px;background: #000000;width: 1px;}
.block-menu-child ul:first-child{padding: 0;}
.menu-right ul li{position: relative;line-height: 40px;padding: 0 13px;align-items: center;display: flex;}
.traditional-office-item-main .box-traditional-provice:nth-child(2) .traditional-office-left{color: orange!important;}
.traditional-office-item-main .box-traditional-provice:nth-child(2) .district-item{background: #FAF1D0!important;}
#the-same-other-office{padding: 60px 0px 30px;}
#the-same-other-office-in-district{padding: 30px 0px;}
.block-content-struct{}
#list-tab ul li a:hover{color:red}
.btn-saving-office a{
    color: #ffffff;
    border: none;
    background: green;
    padding: 5px 7px;
    border-radius: 3px;
    outline: none;
    display: block;
    text-align: center;
    font-size: 16px;
    margin: 10px 32px 0px;
    max-width: 140px;
}
.nothing-to-show{
    padding: 22px 20px;
    box-shadow: 7px 4px 24px 1px rgb(101 101 101 / 10%);
    line-height: 22px;
    color: gray;
    font-weight: 600;
    font-size: 22px;
    text-align: left;
}
.list-traditonal-office-image-left{
    padding: 5px;
    margin-right: 25px;
}
.list-traditonal-office-image-left .traditonal-office-image-item{
    margin-bottom: 25px;
    box-shadow: 12px 9px 26px 3px rgba(0, 0, 0, 0.25);
}
.list-district-in-provice-outstanding{
    background: #EFEFEF;
    z-index: 20;
    position: relative;
    margin: 0 20px 0px 0px;
    box-shadow: 0px 4px 21px rgba(112, 105, 105, 0.25);
}
.main-content-traditional{display: flex;position: relative;padding: 0 120px 0px 50px;}
#content-traditional-office .title-main-home{
    margin: 0 0 42px 225px;
    position: relative;
    padding-top: 0;
}
#content-traditional-office .title-main-home h2{
    margin: 12px 0px 0px 30px;
    font-size: 40px;
    line-height: 45px;
}
#content-traditional-office::after{position: absolute;width: 450px;height: 100%;content:'';right: 0px;top: 0px;background: url('../image/background//bg-share-office.png') no-repeat top right;background-size: cover;}
#content-traditional-office::before{position: absolute;width: 450px;height: 100%;content:'';right: 0px;top: 0px;background: #43f915;}
/* general intro */
.box-general-intro{
    padding: 18px 0px;
    box-shadow: 4px 5px 9px rgb(0 0 0 / 10%);
    height: 503px;
    margin: 0 0 20px;
}
.general-intro-item{
    border-radius: 5px;
    overflow: hidden;
    min-height: 485px;
    background: #FFFFFF;
}
.image-intro-general{
    text-align: center;
    height: 308px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.des-general-intro{
    padding: 20px 9px 0px 25px;
    position: relative;
}
.name-type-office{
    font-size: 23px;
    line-height: 32px;
/* or 185% */
    padding: 0 0 0 0px;
    color: #000000;
    padding: 0;
}
.name-type-office span{
    font-size: 20px;
    line-height: 23px;
/* or 185% */
    color: #726E69;
    text-transform: initial;
    font-weight: 700;
    /* display: block; */
}
.des-general-intro-content{
    font-size: 14px;
    line-height: 20px;
    color: #393939;
}
.image-traditional{
    background: #E8BC21;
}
.image-sharing{
    background: #4BC2AD;
}
.image-virtual{
    background: #64B620;
}
.image-intro-general img{
    /* max-width: 310px; */
    margin: 0 auto;
}
.logo-general-intro{
    display: flex;
    justify-content: center;
    display: none;
}
.logo-general-intro img{width: 176px;object-fit: cover;}
.name-virtual::after{
    background: #64B620;
}
.name-traditional::after{
    background: #E8BC21;
}
.name-sharing::after{
    background: #297282;
}
#content-general-intro{background: url('../image/background/bg-slide-home.png') no-repeat;padding: 0px 0 0px 0px;}
#content-virtual::after{position: absolute;content: '';width: 77%;height: 100%;background: #F9F9F9;right:0px;top:0px;z-index: -1;}
#content-virtual::before{position: absolute;content: '';width: 82px;height: 105px;z-index: 10;background: url('../image/background/i-gip.png') no-repeat;right:0px;z-index: 100;top: 72px;background-size: contain;}
#content-virtual{position: relative;padding-bottom: 35px;max-width: 1350px;margin: 0 auto;background: #f9f9f9;}
#content-virtual .content-main-home-left{width: 50.92%!important;}
#content-virtual .title-main-home::before{
    content: '';
    position: absolute;
    top: 40%;
    left: 0px;
    width: 0;
    height: 0;
    border-top: 28.5px solid transparent;
    border-left: 45px solid #BC7710;
    border-bottom: 28.5px solid transparent;
    z-index: 10;
}
#content-virtual p i{
    font-size: 25px;
    color: #63991E;
    margin-right: 27px;
}
#content-virtual .content-main-home-right-inner p:nth-child(2n){font-weight: 800;color: #000000;}
#content-virtual .content-main-home::after{position: absolute;content: '';width: 177px;height: 177px;z-index: -1;background: url('../image/background/i-pencilcase.png') no-repeat;right:0px;bottom: -21px;}
#content-sharing-office .title-main-home::before{position: absolute;content: '';z-index: 10;left: 0px;transform: translateY(-50%);top: 50%;width: 0;height: 0;border-top: 28.5px solid transparent;border-left: 50px solid #FFDE59;border-bottom: 28.5px solid transparent;}
#content-sharing-office .title-main-home{background: url('../image/background/calendar.png') no-repeat right;padding-right: 120px;padding-bottom: 49px;margin-bottom: 0;margin-left: 225px;}

#content-sharing-office .main-content-traditional::before{position: absolute;content: '';width: 177px;height: 177px;z-index: 10;background: url('../image/background/card.png') no-repeat;right: -17px;top: -71px;}
#content-sharing-office .main-content-traditional::after{position: absolute;content: '';width: 65px;height: 132px;z-index: -1;background: url('../image/background/calculate.png') no-repeat;right:0px;bottom: -21px;}
#content-traditional-office .main-content-traditional::before{position: absolute;content: '';width: 59px;height: 125px;z-index: 10;background: url('../image/background/pencil.png') no-repeat;left: 164px;top: -61px;}
#content-traditional-office .content-main-home-left::after{position: absolute;content: '';width: 151px;height: 166px;z-index: 10;background: url('../image/background/icon_stapler.png') no-repeat;left: 0px;bottom: -21px;}
.breadscrumb2{position: relative;margin-bottom: 10px;max-height: 185px;}
.breadscrumb2 .box-breadscrumb::before{position: absolute;content: '';background: #1ad41ab3;width: 100%;height: 100%;left: 0px;top:0px;}
.box-main-blog{display: flex;justify-content: space-between;overflow: hidden;}
.box-main-blog-right{width: 255px;margin-top: 84px;}
.box-main-blog-left{width: calc(100% - 300px);}
/* search */

#list-new-news-box{
    margin-top: 36px;
}
#list-new-news-box ul{
    list-style: none;
    padding: 0;
    font-family: 'NS-semi';
    max-height: 271px;
    overflow-y: scroll;
    margin-top: 20px;
}
#list-new-news-box ul li{
    margin-bottom: 17px;
    font-weight: 600;
    font-size: 16px;
    padding-bottom: 17px;
    line-height: 22px;
/* identical to box height */
    border-bottom: 1px solid #DFDFDF;
}
#list-new-news-box ul li a{
    color: #1f441e;
}
.title-news-box h2{
    font-weight: bold;
    font-size: 22px;
    line-height: 30px;
/* identical to box height */
    font-family: 'NS-bold';
}
.title-news-box{position: relative;}
.title-news-box::after{position: absolute;content: '';width: 42px;height: 6px;background: #C4C4C4;}
#list-street{max-height: 450px;}
.link-readmore{
    font-style: italic;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    /* identical to box height */
    text-align: right;
    color: #D66905;
    display: inline-block;
}
.box-read-more{text-align: right;position: absolute;bottom: 7px;right: 14px;}
#content-sharing-office .number{color: #ffffff;}

#content-traditional-office  .title-main-home::before {
    position: absolute;
    content: '';
    z-index: 10;
    left: 0px;
    transform: translateY(-50%);
    top: 50%;
    width: 0;
    height: 0;
    border-top: 28.5px solid transparent;
    border-left: 50px solid #BC7710;
    border-bottom: 28.5px solid transparent;
}
#content-traditional-office .name-city h2{background: #E99A24;}
/* virtual ofice page */

#street{max-width: 300px!important;}
.name-type-office a{color:#000000}
#the-same-other-office #list-office{width: 100%;}
.value-ruler-in-text{display: flex;justify-content: center;height: 20px;}
.value-ruler-in-text input{width: auto!important;max-width: 36px;background: none!important;text-align: center;color: #000000!important;font-weight: 400!important;}
.value-ruler-in-text label{margin: 0 3px 0px 0px;}
#squareText{
    font-size: 13px;
    margin: 0!important;
    line-height: 22px;
    display: block!important;
}
#priceText{
    font-size: 13px;
    line-height: 20px;
    display: block!important;
}
.ui-slider-handle{background: #2B7E2A!important;outline: none!important;margin-top: -2px;border-radius: 0!important;border: none!important;max-width: 11px;max-height: 10px;}
.list-main-information-office-deposit{padding: 15px 0px;background: #7CC242;}
.ff_fileupload_dropzone_wrap{background-color: #FCFCFC;padding: 20px;}
.lbl-save-office,.lbl-save-office-for-seen{color: #ffffff;background: #da0a0a;font-weight: 800;padding: 2px 5px;border-radius: 50%;font-size: 11px;border: brown;}
/* Tab  */

.tab {
    overflow: hidden;
    background-color: #EFEFEF;
    display: flex;
    justify-content: center;
    padding: 0;
  }
  
  .active{display: block;}
  .box-contact-in-blog .content-main-form{padding: 20px 0px;}
  .box-contact-in-blog .box-form-booking {width: 100%;box-shadow: none;}
  .box-form-contact-virtual{width: 35%;float: left;background: #E8F3E3;position: relative;}
  .general-intro-virtual::after{position: absolute;content: '';height: 100%;width: 30%;/* background: #E8F3E3; */right: 0px;top: 0px;z-index: 0;}
  .content-form-general-intro{display: flex;justify-content: space-between;position: relative;z-index: 10;}
  #virtual-office-content{/* background: #E5E5E5; */}
  .drop-blog{min-width: 182px!important;padding: 15px;left: 0px!important;top: 56px;z-index: 100000;}
  .drop-blog h3{margin:0;line-height: 18px;}
  .image-detail-blog{width: 100%;object-fit: cover;}
  .drop-blog-left{border-right: 1px solid #f2f2f2;padding: 0;margin: 0;}
  .tag-blog-title h2{
    font-size: 12px;
    line-height: 16px;
    text-transform: uppercase;
    color: #454545;
    font-weight: 800;
    font-family: 'NS-bold';
}
.drop-blog ul li{
    width: 100%;
    margin: 0 0 7px 0px;
    align-items: center;
    display: flex;
}
  .drop-blog ul{
    margin: 11px 0px ;
    padding: 0;
    flex-wrap: wrap;
    width: 100%;
}
/* Text Hide */
.text-split{overflow:hidden;text-overflow:ellipsis;white-space:normal;-webkit-box-orient:vertical;display:-webkit-box;-webkit-line-clamp:3;}
.text-split.text-split-1{-webkit-line-clamp:1;}
.text-split.text-split-2{-webkit-line-clamp:2;}
.text-split.text-split-3{-webkit-line-clamp:3;}
.box-main-blog-left p{background: #ffffff;}
.block-menu-child ul li::after{display: none!important;}
.box-new-left-virtal-office{width: 40%;padding: 20px 0px 0px;}

.lbl-total-office-paginate{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    font-family: 'NS-bold';
    font-size: 22px;
}
#list-office-saving .modal-dialog{max-width: 880px!important;}
#list-office-saving .box-form-booking{width: 100%;border-radius: 0px;overflow: hidden;}
#list-office-saving .modal-body{padding:0}
.breadcrumb-link{list-style: none;display: flex;margin: 10px 0px 0px;}
.breadcrumb-link li{
    color: #737373;
    margin-right: 17px;
    position: relative;
    font-size: 14px;
}
.breadcrumb-link li::before{position: absolute;content: '';background: url('../image/icons/i-breadscrumb.png') no-repeat center;width: 9px;height: 20px;top: 50%;transform: translateY(-50%);left: -11px;}
.breadcrumb-link li:first-child::before{display: none;}
.breadcrumb-link li a{
    color: #737373;
}
.box-breadscrumb{position: relative;max-height: 140px;}
.box-link-booking-office i{
    font-size: 20px;
    margin: 0 7px 0px 0px;
}
.menu{position: sticky;top: 0;z-index: 1000;}
.menu-right ul li i{
    color: #2F6700;
    font-size: 19px;
}
.name-office a:hover{text-decoration: none;color: red;}
.box-phone-number a:hover{color: #ff1;text-decoration: none;}
.menu ul a.active{color: #2B850C!important;}
.title-name-blogs h2{
    font-size: 30px;
    line-height: 41px;
    color: #356113;
    font-weight: 700;
    border-top: 1px solid;
    padding-top: 20px;
    font-family: 'NS-bold';
}

.title-job a{color:#000000;text-decoration: none;}
.title-job a:hover{text-decoration: none;color:red}
.list-other-news{
    padding-left: 17px;
}
/* popup seen office */
#popup-seen-save-office{position: fixed;width: 100%;height: auto;/* max-height: 500px; */top: 0px;left: 50%;padding-bottom: 20px;z-index: 10001;transform: translateX(-50%);background: #ffffff;box-shadow: 2px 9px 37px 1px rgb(165 45 45 / 10%);border-radius: 5px;display: none;}
#popup-save-office{position: fixed;width: 500px;height: auto;background-image: linear-gradient(to bottom, #e4c6ace8 , #ffffff);top: 50%;border: 1px solid #de9e9e;padding: 0px 0px;left: 50%;z-index: 10001;transform: translate(-50%,-50%);/* box-shadow: 2px 9px 37px 1px rgb(165 45 45 / 10%); */color: red;overflow: hidden;display: none;}

.title-popup-save-office h2{
    font-size: 20px;
    font-weight: 700;
    color: #464646;
    margin: 0 0 0px 0px;
    padding: 0 0 30px 0px;
    text-align: center;
}
.title-popup-save-office{
    padding: 10px 20px 0px;
    color: #ffffff;
    width: 100%;
    z-index: 10;
    top: 0px;
}
.link-see-office a{
    color:#ffffff;
    width: 180px;
    height: 42px;
    display: flex;
    font-family: 'NS-bold';
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 18px;
    background: linear-gradient(
180deg
, #9AD84B 0%, #6DAC1D 100%);
    line-height: 23px;
}
.btn-close-popup{position: absolute;width: 25px;height: 25px;right: 16px;text-align: right;font-size: 18px;top: 0px;color: #7f867f;}

#popup-save-office .title-popup-save-office h2{
    text-align: center;
    padding: 35px 0px 14px;
}
#popup-save-office .link-see-office a{
    margin: 0 auto;
}
.see-other-office a:hover{text-decoration: none; color:#ff1}
/* Xem theem */
.xemthem{text-align: center;margin: 0px auto 0;color: #fff!important;display:block;position:relative;-moz-transition:all 0.2s ease-in-out;-o-transition:all 0.2s ease-in-out;-webkit-transition:all 0.2s ease-in-out;transition:all 0.2s ease-in-out;z-index:5;/* border-radius:30px; */overflow:hidden;background: #D22828;}
.xemthem:before{border-radius:0;position:absolute;content:'';display:block;left:-2px;top:0;right:-2px;bottom:0;-webkit-transform:scale(1,1);transform:scale(1,1);-webkit-transform-origin:left center;transform-origin:left center;z-index:-1;background: linear-gradient(
180deg
, #9AD84B 0%, #6DAC1D 100%);-webkit-transition:-webkit-transform 0.45s cubic-bezier(0.785,0.135,0.15,0.86);transition:-webkit-transform 0.45s cubic-bezier(0.785,0.135,0.15,0.86);transition:transform 0.45s cubic-bezier(0.785,0.135,0.15,0.86);transition:transform 0.45s cubic-bezier(0.785,0.135,0.15,0.86),-webkit-transform 0.45s cubic-bezier(0.785,0.135,0.15,0.86);}
.xemthem:hover:before{-webkit-transform-origin:right center;transform-origin:right center;-webkit-transform:scale(0,1);transform:scale(0,1);}
.xemthem:hover{color:#fff;z-index: 10;position: relative;}
#popup-seen-save-office .table-office-save{max-height: 400px;overflow-y: scroll;padding-top: 40px;position: relative;z-index: 0;}
.list-office-for-seen{position: relative;padding-top: 0px;padding-bottom: 20px;}
#popup-seen-save-office .image-appointment{max-height: 100px;object-fit: cover;}
.tabcontent-detail{margin-top: 50px;}
.list-btn-contact-detail{
    display: flex;
    margin-top: 25px;
}
.link-to-call{
    background: #E93F3F;
    padding: 7px 20px;
    height: 50px;
    display: flex;
    max-width: 210px;
    color: #ffffff;
    align-items: center;
    font-weight: 800;
    font-size: 20px;
    margin: 0 20px 0px 0px;
    line-height: 27px;
    font-family: 'NS-bold';
    border-radius: 25px;
    justify-content: center;
}
.link-to-appointment{
    background: #E99A24;
    padding: 7px 20px;
    height: 50px;
    display: flex;
    max-width: 210px;
    color: #ffffff;
    align-items: center;
    font-weight: 800;
    font-size: 20px;
    font-family: 'NS-bold';
    line-height: 27px;
    border-radius: 25px;
    justify-content: center
}
.link-to-call i{font-size: 30px;margin: 0 7px 0 0px;}
.fee-office ul li{width: 50%;align-items: center;}
.fee-office ul li span{
    width: 79%;
}
.menu-left ul li img{
    margin: -10px 5px 0px 0px;
}
.office-list::after{content: '';clear: both;display: block;}
.name-office-compare{
    font-size: 20px!important;
    line-height: 27px;
    text-align: center;
    font-weight: 700;
    color: #275C26;
}
.list-title-compare li img{margin-right: 8px;object-fit: cover;}
.btn-choose-booking a:hover,.delete-compare-office:hover{text-decoration: none;color:#ff1!important}
.tablinks2{line-height: 48px;border: 1px solid #d4bfbf!important;}
.link-contact-header{color:#ffffff}
.link-contact-header:hover{text-decoration: none;color:red}
.tablinks:nth-child(2){order: 1;}
.tablinks:nth-child(1){}
.box-list-office-saving{font-size: 14px;}
.name-type-office a:hover{text-decoration: none;}
.datepicker {font-size: 12px!important;}
.bootstrap-datetimepicker-widget table td.day{font-size: 11px!important;
   
   padding: 3px!important;}
.datepicker-days th{font-size: 12px!important;}
.bootstrap-datetimepicker-widget table td.active, .bootstrap-datetimepicker-widget table td.active:hover{font-size: 11px!important;}
.btn-sending-contact input:hover{background: #D22828;cursor: pointer;}
.header-top ul li:hover{background: #FFD21C;;}
.header-top ul li:hover a{color:#ffffff}
.list-btn-contact-detail a:hover{text-decoration: none;}
.box-no-image{width: 100%;}
.box-no-image img{
    background: #e4e4e4;
    min-height: 600px;
}
.internal-operations img{min-height: 267px;object-fit: cover;}
.list-blog-outstranding{display: flex;justify-content: space-between;}
.item-blog-mainOutstanding-right{width: 255px;max-height: 440px;overflow-y: scroll;}
.item-blog-mainOutstanding-left{width: calc(100% - 270px);}
.item-blog-outstanding-inner img{width: 100%;object-fit: cover;max-height: 344px;}
.name-outstanding-blog a{
    font-size: 20px;
    line-height: 27px;
    font-weight: bold;
    color: #2D4A15;
    margin-top: 15px;
    display: block;
}
.des-news-main{
    font-size: 14px;
    line-height: 19px;
    color: #000000;
}
#list-blog-right-main .name-outstanding-blog a{
    font-size: 14px;
    line-height: 19px;
}
.name-outstanding-blog{line-height: 25px;}
.image-child-right{height: 136px;object-fit: cover;}
.item-blog-outstading-right{margin-bottom: 18px;}
#style-1::-webkit-scrollbar {
    width: 6px;
    background-color: #F5F5F5;
} 
.box-notice-to-compare{
    max-width: 1200px;
    margin: 0 auto;
    background: #f3f3f3;
    padding: 20px 10px;
    text-align: center;
}
.box-notice-to-compare p{
    margin: 0;
    font-size: 21px;
}
.lbl-upate-price{color: #E93F3F!important;font-family: 'NS-semi';}
.tab-square::-webkit-scrollbar-thumb {
    background-color: #000000;
}
.scroll-top i {
    display: inline-block;
    color: #fff;
}
.scroll-top {
    width: 40px;
    background: #2B7E2A!important;
    border: 1px solid #2B7E2A!important;
    height: 40px;
    position: fixed;
    bottom: 25px;
    left: 20px;
    display: none;
    outline: none!important;
    z-index: 1000;
}
 .number-district{color: red!important;}
 /* custome scroll bar */

#list-tab .tab-square ul::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
	background-color: #F5F5F5;
	border-radius: 10px;
}

#list-tab .tab-square ul::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

#list-tab .tab-square ul::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-color: #FFF;
	background-image: -webkit-linear-gradient(top,
    #d0e6b3 0%,
											  #a8c77f 50%,
											  #8dc04b 51%,
											  #63991E 100%);
}
.internal-operations{object-fit: cover;}
.span-date-post{position: absolute;top: 14px;left: 0px;font-size: 9px;color: #ffffff;padding: 7px 3px;text-align: center;max-width: 30px;background: #63991E!important;}
.span-date-post span{border-bottom: 1px solid #ffffff;margin-bottom: 3px;display: block;padding-bottom: 3px;}
.lbl-month{font-size: 17px;font-weight: 700;line-height: 15px;}
.span-date-post span:last-child{margin: 0;padding: 0;border-bottom: 0;}
.lbl-author{font-style: italic;margin: 0 0 7px 0px!important;font-family: 'NS-semi';}
.active-paginate{
    background: #E99A24;
    border: none;
}
.list-blog-item .pagination-traditional-office{text-align: right;}
.link-footer ul li:last-child a{border: none!important;}
#popup-save-office .link-see-office a:hover{text-decoration: none;background: red;color:#ffffff}
.popup-for-save .title-popup-save-office{
    background: green;
    padding: 20px 0px 2px;
}
.box-compare-inner{max-height: 350px;overflow-y: scroll;}
.title-compare{color: #ffffff!important;}
#popup-seen-save-office .btn-close-popup{top: 17px;color: #4d524d;}
.drop-traditionl-office{left: -283px!important;}
.drop-traditionl-office ul p{
    width: 100%;
    display: flex;
    justify-content: flex-start;
}
.drop-traditionl-office ul p span{
    width: auto!important;
    margin: 0 10px 0px 0px
}
.number-total-district{color:red!important;font-family: 'NS-bold';}
.content-table-location-virtal-item p i{width: 10px;font-size: 13px;object-fit: cover;}
.content-searching{padding-top: 80px;}
.header-top{background: #64B620;font-family: 'NS-bold';}
.header-top ul{
    display: flex;
    justify-content: flex-end;
    list-style: none;
    color: #ffffff;
    width: 100%;
    align-items: center;
    margin: 0;
    height: 56px;
}
.header-top ul li{font-weight: 800;font-size: 9px;line-height: 19px;
/* identical to box height */text-transform: uppercase;color: #E93F3F;height: 100%;align-items: center;padding: 0 9px;display: flex;position: relative;}
.header-top ul li p{margin: 0;font-size: 12px;color: #ffffff;}
.header-top ul li i{
    margin-right: 5px;
}
.header-top ul li img{
    margin-top: -5px;
}
.header-top .hotline{
    background: #FFD21C;
}
.header-top .hotline p{
    color: #E93F3F!important;
}
.general-intro-virtual{background: #F9F9F9;position: relative;top: 0px;}
.title-type-blogs-child h2{
    padding: 0;
    margin: 0;
    position: relative;
    font-size: 26px;
    line-height: 35px;
    text-transform: uppercase;
    color: #231D15;
    padding-right: 25px;
    font-weight: 800;
    font-family: 'NS-bold';
}
.title-type-blogs-child h2::after{position: absolute;content: '';width: 3px;height: 58%;top: 50%;transform: translateY(-50%);background: #000000;right: 0;}
.title-blog-in-type{display: flex;align-items: center;margin-bottom: 25px;}
.title-blog-in-type span{display: none;}
.title-blog-in-type h3{
    margin: 0;
}
.navbar-header{display: none;}
/* menu small */
.menu-small{display: none;}

/* menu small */
.sidebar {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 1;
	max-width: 220px;
	top: 0;
	right: 0;
	background-color: #64B620;
	overflow-x: hidden;
	transition: 0.5s;
	z-index: 10000;
	padding-top: 40px;
}
  
.sidebar a {padding: 6px 8px 6px 16px!important;text-decoration: none;font-size: 15px;color: #ffffff;font-family: 'NS-semi';font-weight: 600;display: flex;text-transform: CAPITALIZE;transition: 0.3s;}

.sidebar a:hover {
color: #f1f1f1;
}

.sidebar .closebtn {position: absolute;top: 0;right: 5px;font-size: 32px;margin-left: 50px;width: 100%;display: flex;align-items: center;justify-content: flex-end;padding: 0 10px;color: #ffffff;}

.openbtn {font-size: 24px;cursor: pointer;background-color: #ffffff;color: #2B7E2A;padding: 0px 5px 0px 15px;text-align: right;border: none;outline: none!important;}

.openbtn:hover {background-color: #ffffff;}
.menu-large{display: block;display: flex;align-items: center;justify-content: space-between;width: 100%;}
.menu-small{display: none;}
#main {transition: margin-left .5s;display: flex;width: 100%;}
.i-active{display: none;}
.link-home.active{color:red}
.link-home.active .i-active,#mySidebar a:hover .i-active{display: block!important;}
#mySidebar a:hover .i-normal{display: none!important;}
.link-home.active .i-normal{display: none!important;}
#mySidebar a span{margin: 0 10px 0px 0px;}
#mySidebar a:hover{color:red}
.menu-large .logo{width: auto!important;}
.d-in-small-screen{display: none;}
.sidebar a:hover{color:#ff1!important}
.btn-close-popup-compare{color:#ffffff!important}
.btn-close-popup:hover{cursor: pointer;}
.d-in-small-screen .btn-date-booking a, .d-in-small-screen .btn-date-booking input{padding: 20px 0px;margin: 3px 0px 0px 0px;}
#tag-knowledge,#tag-activity{display: flex;justify-content: space-between;padding-left: 10px;padding-right: 10px;margin-bottom: 10px;max-width: 119px;}
#tag-knowledge span,#tag-activity span{margin: 0 0 0 5px!important;}
#content-knowledge,#content-activity{display: none;}
.table-location-virtal-item{width: 49%;margin: 0 2% 0 0;float: left;box-shadow: 3px 9px 20px 3px rgb(0 0 0 / 25%);}
.list-image-virtuals{
    display: flex;
}
.list-image-virtuals ul{list-style: none;padding: 0 0 0 8px;display: flex;}
.list-image-virtuals img{
    margin: 0;
    object-fit: cover;
    height: 156px;
    width: 98%;
}
.image-virtual-left{}
.image-virtual-right{}
.box-child-breadscrumb-after img{
    max-width: 119px!important;
    width: 100%;
    object-fit: contain;
    height: 42px;
}
.box-child-breadscrumb-after{
    position: absolute;
    content: '';
    width: 378px;
    background: #ffffff;
    bottom: -1px;
    left: 50%;
    /* clip-path: polygon(50% 0%, 100% 23%, 100% 71%, 0 71%, 0 21%); */
    transform: translateX(-50%);
    height: 122px;
    display: flex;
    padding: 0 0 0px 0px;
    flex-wrap: wrap;
    justify-content: center;
    clip-path: polygon(50% 0%, 100% 48%, 100% 100%, 0 100%, 0% 48%);
    background-size: contain;
}
.owl-tintuc .news-item{width: 100%!important;margin: 0!important;}
#tintuc{padding: 60px 0px;}
#tintuc .title-main h2{text-align: center;font-family: 'SVN-Cintra';margin-bottom: 30px;font-size: 40px;}
#customer-opinions{padding: 15px 0px 30px;}
#customer-opinions .title-main h2{text-align: center;font-family: 'SVN-Cintra';margin-bottom: 45px;font-size: 40px;}
/*  */
.box-customer-idea{
    text-align: center;
}
.image-customer{}
.thumnail-nail-customer-idea{position: relative;width: 230px;height: 230px;margin: 0 auto;}
.thumnail-nail-customer-idea:before{position: absolute;content: '';left: 0px;bottom: 0px;height: 37px;width: 37px;z-index: 1;}
.thumnail-nail-customer-idea img{border-radius: 50%}
.name-customer{
    font-size: 16px;
    text-transform: uppercase;
    margin: 30px 0px 10px 0px;
}
.name-customer a{
    color: #000000;
}
.des-customer-idea{
    margin: 0 auto;
    padding: 0 40px;
    text-align: center;
    display: flex;
    font-size: 15px;
    align-items: center;
    color: #393939;
}
.list-customer-idea{
    background: #f8f8f8;
    padding: 20px 0px 0px 0px;
    height: 435px;
}

/* album slick */
#album-slick{display:flex;justify-content:space-between;}
.album-left{width: 100%;height: 450px;margin: 0 0 0 auto;}
.album-right{max-height:373px;margin: 0 0 0 auto;}
.album-right .slick-album *{vertical-align:top;}
.album-right .slick-album .slick-slide{border:none!important;}
.pvd{cursor:pointer;/* height: 140px; */float: left;width: 100%;/* width: 240px!important; */margin: 0 auto;padding: 10px 5px 0px 5px;}
.pvd img{width: 100%;height: 100%;object-fit: cover;}
.album-intro{width: 100%;}
.box-customer-opinion{display: flex;}
.prev_des,.prev_cus{
    width: 30px;
    left: 0px;
    height: 30px;
    display: flex;
    justify-content: center;
    color: #ffffff;
    align-items: center;
    background: #e68a8a;
    text-align: center;
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    border-radius: 50%;
}
.prev_des i{}
.next_des,.next_cus{
    width: 30px;
    height: 30px;
    justify-content: center;
    background: #e68a8a;
    align-items: center;
    color: #ffffff;
    border-radius: 50%;
    position: absolute;
    right: 0px;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
}
.next_des i{}
.slider-nav-ab {position: relative;padding: 0 60px;max-width: 80%;margin: 0 auto;}
.single-item-ab {position: relative;padding: 0 0px;}
.des-customer-idea-star{color:#d6d630}
#map-office iframe{
    width: 100%;
    height: 500px;
}
.lbl-discount-office{position: absolute;background: url('../image/background/bg-discount.png') no-repeat;top: 0px;background-size: cover;right: 0px;color: #AB1313;font-family: 'NS-bold';padding: 5px 4px;}
.text-discount{color:#ffffff;display: block;font-size: 11px;text-align: center;text-transform: uppercase;}
.header-top li:hover .drop-blog{display: flex;}
.header-top .li-blog:hover{background: none!important}
.header-top li a{color:#ffffff;font-size: 12px;}
.list-content-compare li a{color: #275C26;}
.name-saving-item a{color:#275C26}
.name-saving-item a:hover{color:red}
#section-header .header-top ul li ul li:hover{background: transparent!important;}
#section-header .header-top ul li ul li:hover a{color:red!important;}
.note-fill{color: #b32100!important;}
.tablinks:nth-child(1):hover,.tablinks:nth-child(1).active{background: #D48919!important;}
.link-to-call:hover{color:#ffffff; background: #2B7E2A!important;}
.link-to-appointment:hover{color:#ffffff; background: #2B7E2A!important;}
.btn-sending:hover{background: #2B7E2A!important;cursor: pointer;}
.box-content-office-virtial{max-width: 1350px;margin: 0 auto;}
.block-menu-child ul li a:hover{color:red!important}
#content-sharing-office .main-content-traditional{padding:0 50px 0 120px}
.slogan-virtual-office{display: flex; justify-content: center;}
.popup-not-result{
    top: 50%!important;
}
@media (min-width: 1400px){
    .box-child-breadscrumb-after{width: 500px;}
}
.single_footer_widget p:first-child{margin-top: 36px;}
.link-footer ul li a:hover{color:red}
.lbl-city-header{width: 100%!important;display: block!important;font-family: 'NS-bold';}
.title-type-blogs h2::after{position: absolute;width: 100%;content: '';bottom: -2px;height: 3px;background: #275c26;left: 0px;}
.number-outstanding-building{margin-left: 3px;}
.title-type-blogs h2 a:hover{text-decoration: none;color:red;}
.btn-close-appointment{position: absolute;width: 32px;height: 32px;right: 20px;font-size: 23px;top: 41%;transform: translateY(-50%);border: 0;background: none;outline: 0;}
.title-form-booking{position: relative;}
.daterangepicker .calendar-table th, .daterangepicker .calendar-table td{border: 1px solid;line-height: 12px!important;}

td.active.start-date.active.end-date.available {}

td.active.start-date.active.end-date.available {
    border-radius: 0;
}
.slider-banner img{margin: 0 0 0 auto;max-height: 100px;width: 100%;}
.in-large{display: block;}
.in-small{display: none;}
/* .filepond--image-preview-overlay{display: none!important;} */
 .filepond--image-preview-overlay-idle {display: none!important;}
@media (min-width: 1200px){
    .type-office-item:nth-child(3n + 1) {
        clear: both;
    }
    .type-office-item:nth-child(3n) {
        margin-right: 0!important;
    }
    .item-main:last-child{margin-right:0px!important}
    .office-list::after{content: '';clear: both;display: block;}
    .news-item:nth-child(3n){margin-right:0px}
    .news-item:nth-child(3n+1){clear:both}
    .table-location-virtal-item:nth-child(2n){margin-right:0px}
    .table-location-virtal-item:nth-child(2n+1){clear:both}
}
@media (max-width: 1160px){
.menu-left ul li::after{display: none;}
}
@media (max-width:1199px){
    .box-child-breadscrumb-after{width: 370px;}
}
@media (min-width:992px) and (max-width:1199px){
    .menu-left ul li{padding: 0px;}
    .menu-left{width: calc(100% - 460px);}
    .menu-right ul li{padding:0 7px}
    .menu-left ul li::after{right: -25px;}
}
@media (max-width:1070px){
    .menu-left ul li::after{display: none;}
}
@media (max-width:991px){
    .content-right-detail-blogs img{width: 100%!important;object-fit: cover;}
    .header-appointment h2{font-size: 26px;line-height: 30px;}
    #content-traditional-office::after,#content-traditional-office::before{display: none;}
    #content-sharing-office .main-content-traditional{padding:0}
    #content-sharing-office::before,#content-sharing-office::after{display: none;}
    #map-office{}
    .header-top .drop-blog {display: none!important;}
    .table-location-virtal-item{width: 100%;float: none;}
    .sidebar h3{margin: 0;}
    .sidebar ul li a{padding: 7px 0px 3px 6px!important;}
    .drop-blog-left{border: 0;}
    .drop-child-news{padding: 0 0 0 16px;}
    .drop-child-news ul{list-style: none;padding: 0 0 0 7px;}
    .tag-blog-title h2{color:#ffffff;font-size: 15px;text-transform: capitalize;}
    #list-tab .tab-square{width: 49%;margin: 0 2% 2% 0;float: left;}
    #list-tab .tab-square:nth-child(2n){margin-right: 0;}
    #list-tab .tab-square:nth-child(2n+1){clear: both;}
    .box-main-blog-left{width: 100%;}
    .box-main-blog-right{width: 100%;}
    .box-main-blog{flex-wrap: wrap;}
    .header-contact h2{font-size: 26px;}
    .box-notice-to-compare h3{font-size: 18px;}
    .btn-delete-saving-item{margin-top: 2px;font-size: 13px;}
    .btn-date-booking{margin: 0 10px 0px 0px;width: 100%;text-align: left;}
    .d-in-small-screen{text-align: left;display: flex;}
    .hidden-in-small-screen{display: none;}
    .box-breadscrumb{display: none;}
    .menu-footer{justify-content: center;}
    #deposit-for-rent #breadscrumb{margin-bottom: 10px;background: #f3f3f3;padding: 0;}
    .list-btn-date-booking{margin-top: 20px;justify-content: center;}
    .header-appointment{padding-bottom: 20px;}
    .name-saving-item{font-size: 15px;margin: 0 0 7px;}
    .location-saving-item{font-size: 12px;}
    .header-appointment p{font-size: 14px;line-height: 20px;}
    .see-other-office a{font-size: 16px;height: 40px;padding: 0 20px;}
    #list-office-saving{padding: 30px 0px;}
    .price-saving-item span{font-size: 14px;line-height: 25px;}
    .btn-book-appointment{font-size: 16px!important;width: auto;height: 40px!important;padding: 0 20px;}
    .see-other-office
    .form-top-item{max-width: 700px;margin:0 auto}
    .deposit-for-rent-main{padding: 0 0 0px 0px;}
    .link-hotline img{width: 40px;}
    #box-benefit-commitment{padding: 30px 0px 15px;margin: 20px 0px 0px;}
    #box-benefit-commitment .content-benefit, #box-benefit-commitment .content-commitment{font-size: 14px;line-height: 20px;}
    #box-benefit-commitment .item-main-inner h3{font-size: 15px;line-height: 25px;margin: 0 0 15px 0px;}
    .item-main-inner{flex-wrap: wrap;}
    .deposite-content-left-inner{max-width: 100%;}
    .deposite-content-left{width: 100%;}
    .deposite-content-middle{width: 100%;padding: 0 1px;}
    .list-step-deposit li span{font-size: 20px;}
    .title-main-deposit{font-size: 18px;margin: 20px 0px 10px;}
    .title-type-blogs h2{font-size: 25px;margin-top: 10px;}
    .breadcrumb-link{flex-wrap: wrap;padding: 5px 0px;margin: 0;}
    #content .title-main h2::after{
        width: 67px;
        background-size: contain;
        right: -73px;
        top: 20px;
    }
    #content .title-main h2::before{
    width: 50px;
}
    .list-virtal-news-item{padding: 27px 17px 6px;}
    #breadscrumb2 .box-breadscrumb::after {
        width: 200px;
        bottom: -9px;
        left: 50%;
        transform: translateX(-50%);
        height: 76px;
    }
    .menu-large{display: none;}
    .menu-small{display: flex;width: 100%;height: 80px;}
    .navbar-header{display: block;}
    .main-content-traditional{flex-wrap: wrap;padding: 0;}
    .menu-left,.menu-right{display: none;}
    .list-traditional-office-tab .center{flex-wrap: wrap;}
    #list-office,#list-tab{width: 100%;}
    #content .title-main h2{font-size: 46px;line-height: 64px;}
    .breadscrumb2,.breadscrumb{margin-bottom: 0px;background: #f2f2f2;padding: 4px 0px;}
    .content-main-home-right{padding-left: 50px;padding: 14px 0px 0px 30px;}
    .content-main-home-right-inner p{font-size: 15px;width: 100%;margin: 0 0 6px;}
    #content-virtual p i{font-size: 30px;}
    #content-general-intro{padding: 0px 0px;}
    #content-sharing-office .content-main-home-left{padding: 0 15px;}
    .link-footer ul li a{padding: 0 15px;}
    #content-traditional-office .content-main-home-left{padding: 0 10px;}
    .title-main-home::after{right: -89px;}
    #content-virtual::after{width: 100%;}
    #content-traditional-office .main-content-traditional::before,#content-traditional-office .content-main-home-left::after{display: none;}
    .list-traditonal-office-image-left{margin-right: 0;width: 100%;display: none;max-width: 100%;justify-content: center;}
    #breadscrumb::after {width: 210px;bottom: -29px;height: 109px;}
    #gallery img{height: auto!important;}
    .list-district-in-provice-outstanding,.traditional-office-main-inner,.box-traditional-office{width: 100%;max-width: 100%;margin: 0!important;}
    .traditonal-office-image-item img{margin: 0 20px 0px 0px;height: 268px;object-fit: cover;}
    .internal-operations{padding-bottom: 0;}
    .keyword input{font-size: 14px;height: 28px;margin: 5PX 0PX;padding: 4px 7px;}
    .footer_contact{flex-wrap: wrap;}
    .footer_contact li{width: 100%;}
    .left-pro-detail{width: 250px;}
    .right-pro-detail{width: calc(100% - 270px);}
    #detail-office{margin: 0;}
    .lbl-price-general{font-size: 20px;line-height: 30px;}
    .lbl-detail{font-size: 15px;}
    .box-detail-content-office{flex-wrap: wrap;margin: 20px 0px;}
    .tablinks2{line-height: 30px;border: 1px solid #000000!important;}
    .link-to-call{font-size: 17px;font-family: 'NS-bold';padding: 0px 10px;line-height: 21px;height: 40px;}
    .link-to-appointment{height: 40px;font-size: 18px;font-family: 'NS-bold';}
    .link-home.active{color:#ff1}
    .link-hotline span{font-size: 22px;}
    .content-form-general-intro{flex-wrap: wrap;}
}

@media (min-width:768px) and (max-width:991px){
    .title-main-deposit-for-rent h2{font-size: 30px;margin-bottom: 30px;}
    .title-content-in-tab h2{font-size: 23px;}
    .lbl-name{font-size: 24px;line-height: 32px;}
    #list-blog{padding-top: 30px;padding-bottom: 30px;}
    .title-news h2{font-size: 28px;text-align: center;}
    #list-tab .tab-square{width: 49%;float: left;margin: 0 2% 2% 0;}
    #list-tab .tab-square:nth-child(2n){margin-right: 0px;}
    #list-tab .tab-square:nth-child(2n+1){clear:both}
    #priceText,#squareText{font-size: 10px;}
    .news-item{width: 49%;margin: 0 2% 2% 0;float: left;}
    .news-item:nth-child(2n){margin-right: 0px;}
    .news-item:nth-child(2n+1){clear: both;}
    .district-item{width: calc(100%/5);}
    .lbl-total-office{font-size: 16px;}
    #content .title-main h2{font-size: 35px;line-height: 47px;}
    #content .title-main{margin: 0 0 30px 0;}
    .tab button{font-size: 14px;}
}
@media (max-width:767px){
    .in-large{display: none!important;}
    .in-small{display: block!important;max-height: 90px!important;object-fit: cover;}
    .list-step-deposit{padding-left: 20px;}
    .dropzone{padding: 10px 20px!important;}
    .dz-default{padding: 18px 0px 8px!important;}
    #dropzone h4{font-size: 13px;margin-bottom: 6px;}
    .dz-default p{font-size: 13px;margin-top: 5px!important;}
    .note-image{font-size: 14px;}
    .header-top ul li p,.header-top li a{font-size:9px}
    .title-list-image-ground h2{font-size: 15px;}
    .item-image-ground img{height: 140px;}
    #customer-opinions .title-main h2{margin-bottom: 25px;}
    .name-customer{margin-top: 20px;font-size: 13px;margin-bottom: 0;}
    .slider-nav-ab img{width: 60px;height: 60px;}
    .slider-nav-ab .thumnail-nail-customer-idea{width: 60px;height: 60px;}
    #map-office{}
    .slider-nav-ab{max-width: 100%;}
    .slider-nav-ab{padding: 0 18px;}
    .des-customer-idea{padding: 0 10px;font-size: 13px;}
    .thumnail-nail-customer-idea{width: 120px;height: 120px;}
    #customer-opinions .title-main h2,#tintuc .title-main h2{font-size: 25px;}
    .box-notice-to-compare p{font-size: 16px!important;}
    .d-in-small-screen{flex-wrap: wrap;justify-content: center;}
    .office-save-item td{padding:5px!important}
    #popup-seen-save-office .name-saving-item{font-size: 12px;line-height: 15px;}
    #popup-save-office{width: 85%;top: 20%;}
    #list-office-compare{padding:30px 0px}
    .name-office-compare{font-size: 14px!important;}
    .title-form-booking h2{font-size: 15px;height: 45px;}
    .traditional-office-item{font-size: 13px;width: 24.1%;}
    .traditional-office-item a{font-size: 11px;}
    .content-main-form{padding:30px 15px;margin-bottom: 30px;font-size: 14px;}
    .box-notice-to-compare h3{font-size: 18px;}
    .btn-date-booking a, .btn-date-booking input{width: 84px;height: 27px;padding: 3px 7px!important;margin: 15px auto 3px;}
    .header-contact h2{margin-bottom: 15px;}
    #list-office-saving{padding: 30px 0px 0px;}
    .see-other-office
    .list-step-deposit li{font-size: 14px;margin-bottom: 7px;}
    .box-main-blog-left{width: 100%;padding-top: 20px;}
    .box-main-blog-right{width: 100%;margin-top: 30px;}
    .box-main-blog{flex-wrap: wrap;}
    #content-virtual::before{display: none;}
    .content-main-home-right{width: 100%;}
    #content-virtual .content-main-home-left{width: 100%;display: none;}
    .title-main-home{margin: 0 0 0px 23px;}
    .title-main-home .number{font-size: 78px;}
    .title-main-home h2{font-size: 28px;line-height: 35px;margin: 0 0 0 15px;}
    #content-virtual .title-main-home::before{border-top: 10.5px solid transparent;border-left: 17px solid #BC7710;border-bottom: 10.5px solid transparent;top: 50%;}
    #content-sharing-office{margin: 40px 0px;}
    .link-footer{display: none;}
    #content-traditional-office::before,#content-traditional-office::after{width: 430px;display: none;}
    .link-footer {display: none;}
    .name-city h2{width: 160px;}
    #content-sharing-office .title-main-home{padding-right: 15px;margin-left: 0;padding-bottom: 20px;}
    .title-main-home{padding-top: 0px;padding: 30px 0 0 27px;margin: 0 0 0 30px!important;}
    #content-sharing-office .title-main-home::before{
        border-top: 11.5px solid transparent;
        border-left: 20px solid #FFDE59;
        border-bottom: 11.5px solid transparent;
    }
        #content-traditional-office .title-main-home::before{
        border-top: 11.5px solid transparent;
        border-left: 20px solid #BC7710;
        border-bottom: 11.5px solid transparent;
    }
    .header-top ul{height: 30px;margin: 0;padding: 0;}
    .box-phone-number{margin: 20px auto 0px;height: 45px;font-size: 16px;width: 100%;}
    .box-phone-number i{font-size: 23px;}
    .list-jobs .title-job{font-size: 19px;line-height: 23px;}
    .list-jobs .title-job p{font-size: 16px;}
    .title-type-blogs-child h3{font-size: 19px;margin: 0px 0px 0px!important;}
    .list-jobs .numer-job{font-size: 20px;width: 51px;margin: 0;}
    
    .content-right-detail-blogs{width: 100%;object-fit: cover;margin: 0 auto;}
    .title-blog-in-type{margin: 0 0 10px 0px;}
    .list-news .news-item{width: 49%;margin: 0 2% 2% 0;float: left;}
    .list-news .news-item:nth-child(2n){margin-right: 0;}
    .list-news .news-item:nth-child(2n+1){clear: both;}
    .title-main-deposit-for-rent h2{font-size: 25px;line-height: 30px;margin-bottom: 20px;padding-top: 20px;}
    #list-new-news-box ul li{padding-bottom: 5px;font-size: 14px;}
    .tabcontent-detail{margin-top: 20px;}
    .title-list-office-same-road h2{font-size: 16px;line-height: 24px;}
    #popup-seen-save-office{width: 90%!important;top: 70px;}
    .title-popup-save-office h2{font-size: 15px;}
    #popup-save-office .link-see-office a{
        width: 133px;
        height: 30px;
        font-size: 13px;
    }
    #content .title-main{margin-bottom: 20px;}
    #customer-opinions,#tintuc{padding: 30px 0px 0px;}
    .list-step-deposit li{font-size: 14px;line-height: 20px;margin-bottom: 3px;}
    .list-step-deposit li span::before{width: 10px;height: 10px;top: 11px;left: -20px;}
    .list-benefit li::after, .list-commitment li::after{width: 15px;height: 15px;left: -30px;}
    .list-benefit,.list-commitment{padding-left: 30px!important;}
    .form-top-item:nth-child(2){padding-bottom: 0px!important;}
    .title-main-blog h2{font-size: 35px;line-height: 45px;}
    #map-office iframe{height: 350px!important;}
}
@media (min-width:481px) and (max-width:767px){
    .district-item{width: calc(100%/3);}
    .content-detail-blog .list-icon-left{margin: 0 15px 0px 0px;}
    .list-icon-left li img{width: 37px;}
    .list-blog-outstranding{flex-wrap: wrap;}
    .item-blog-mainOutstanding-left{width: 100%;}
    .item-blog-mainOutstanding-right{width: 100%;}
    .item-blog-outstading-right{width: 49%;margin: 0 2% 2% 0;float: left;}
    .item-blog-outstading-right:nth-child(2n){margin-right: 0;}
    .item-blog-outstading-right:nth-child(2n+1){clear: both;}
    .general-intro-virtual-office,.box-form-contact-virtual{width: 100%;margin: auto;}
    .general-intro-virtual-office{padding-top: 30px;}
    .box-new-left-virtal-office,.list-virtal-image-item{width: 100%;}
    .slogan-virtual-office h2{font-size: 30px;line-height: 39px;}
}
@media (max-width:480px){
    .thumnail-nail-customer-idea{width: 130px;height: 130px;}
    #content .title-main h2::before {
        width: 44px!important;
        left: -55px!important;
        background-size: contain!important;
    }
    #content .title-main h2 {
        font-size: 23px!important;
        line-height: 34px!important;
    }
    #content .title-main h2::after {
        width: 35px!important;
        background-size: contain!important;
        right: -55px!important;
        top: 8px!important;
    }
    .office-save-item td{padding:5px!important}
    #popup-seen-save-office .name-saving-item{font-size: 12px;line-height: 15px;}
    #list-tab .tab-square ul::-webkit-scrollbar{width: 4px;}
    .office-same-item{width: 49%;margin:0 2% 2% 0;float: left;}
    .office-same-item:nth-child(2n){margin-right: 0;}
    .office-same-item:nth-child(2n+1){clear: both;}
    .title-type-blogs h2{font-size: 17px;line-height: 22px;margin-top: 26px;padding: 9px 10px 2px;}
    .title-type-blogs-child h3{font-size: 16px;}
    .name-type-office{font-size: 23px;}
    .name-type-office span{font-size: 20px;}
    .title-content-in-tab h2{font-size: 17px;line-height: 22px;}
    #content-virtual{padding-bottom: 30px;}
    #content-general-intro{padding: 0px 0px 20px;}
    #content-virtual p i{font-size: 25px;}
    .box-notice-to-compare h3{font-size: 15px;}
    .btn-date-booking a, .btn-date-booking input{width: 100%;margin: 0 0 7px 0px!important;width: 100%;font-size: 12px;border: 1px solid #d6bbbb;}
    #box-benefit-commitment{padding: 30px 0px 0px;margin-top: 20px;}
    #box-benefit-commitment .content-benefit, #box-benefit-commitment .content-commitment{width: 100%;margin-bottom: 20px;}
    #box-benefit-commitment .item-main-inner h3{font-size: 14px;text-align: center;margin: 0 auto 12px;}
    .list-step-deposit li span{font-size: 14px; margin-bottom: 0;}
    .title-main-deposit-for-rent h2{font-size: 17px;line-height: 27px;margin-bottom: 10px;padding-top: 0px;}
    #content-sharing-office::after,#content-sharing-office::before{display: none;}
    .traditional-office-item{width: 32.5%;margin: 0 2px 2px 0;font-size: 11px;}
    .traditional-office-item a{font-size: 10px!important;}
    .title-main-home .number{color: #000000!important;line-height: 50px;font-size: 51px;}
    #content-sharing-office{padding: 0px 0px 20px;}
    .menu-footer{justify-content: center;}
    .title-main-home::after{right: 0px;display: none;}
    #content-traditional-office .title-main-home{margin-left: 0px;margin-bottom: 20px;}
    .title-main-home h2{font-size: 23px!important;line-height: 24px!important;}
    .footer-content-left,.footer-content-right{width: 100%;}
    .footer_widgets{flex-wrap: wrap;}
    #content-traditional-office{padding:20px 0px}
    .single_footer_widget p,.footer_contact{font-size: 12px;margin-top: 15px;}
    .general-intro-virtual-office{width: 100%;}
    .box-form-contact-virtual{width: 100%;}
    .general-intro-virtual-office{width: 100%;padding-top: 30px;}
    .form-contact-virtual-image-bottom{width: 100%;padding: 30px 10px!important;}
    .content-form-general-intro{flex-wrap: wrap;}
    .box-breadscrumb{display: none;}
    #content .title-main::after{width: 70px;}
    .copyright{margin-top: 30px;}
    .footer-bottom{
    padding: 30px 0px;
}
    #content-sharing-office .main-content-traditional::before{display: none;}
    .list-virtal-image-item{padding:0px!important}
    .btn-sending-virtual{margin-top: 30px;}
    .content-table-location-virtal-item .district-title, .content-table-location-virtal-item .address-title{font-size: 12px;}
    .widget_title{font-size: 15px;}
    #criteria{padding:25px 0px}
    .header-top ul li img{width: 10px; margin:0}
    #content .title-main{margin-bottom: 20px;}
    .box-filter-left{margin-bottom: 0px;}
    .tab button{height: 30px;font-size: 10px;line-height: 14px;border: 1px solid #bcd0bc!important;padding: 0px 0px;}
    .district-item{width: calc(100%/3);font-size: 10px;margin: 0;}
    .lbl-total-office-paginate{font-size: 15px;}
    #list-tab .tab-square{width: 49%;margin:0 2% 2% 0;float: left;}
    #list-tab .tab-square:nth-child(2n){margin-right: 0px;}
    #list-tab .tab-square:nth-child(2n+1){clear: both;}
    .tab-phone-number{margin: 0 auto;width: 100%!important;}
    .news-item{width: 49%;margin: 0 2% 2% 0;float: left;padding: 5px;min-height: auto;}
    .news-item:nth-child(2n){margin-right: 0px;}
    .news-item:nth-child(2n+1){clear:both;}
    .title-news h2{font-size: 22px;margin-bottom: 11px;}
    #breadscrumb{background: #f2f2f2;padding: 3px 0px;margin-bottom: 20px!important;}
    .internal-operations img{object-fit: cover;height: 180px;min-height: auto;}
    .inforcustomer{margin-bottom: 10px;}
    .btn-sending-contact input{height: 55px;}
    .title-name-blogs h2{font-size: 16px;margin: 0;padding-top: 7px;}
    .list-icon-left{display: none;}
    .title-other-news{font-size: 17px;}
    .item-blog-mainOutstanding-left,.item-blog-mainOutstanding-right{width: 100%;}
    .list-blog-outstranding{flex-wrap: wrap;}
    .title-type-blogs-child h2, .title-blog-in-type h3{font-size: 17px;}
    .title-main-deposit{font-size: 15px;line-height: 20px;text-align: center;margin: 5px 16px;}
    .form-top-item{padding: 2px 10px 0px!important;}
    .form-top-item h3{font-size: 17px;}
    .box-upload-image{padding: 25px 0px;}
    #dropzone h4{font-size: 13px;}
    .form-infor-deposit-for-rent .form-top-item select{padding: 4px 10px;}
    .dz-default p{font-size: 13px;}
    .form-infor-deposit-for-rent .form-top-item textarea{height: 115px;font-size: 14px;}
    .box-upload-image h3{font-size: 16px;}
    .btn-sending{width: auto!important;font-size: 15px;height: auto;padding: 5px 12px;}
    .form-infor-deposit-for-rent .form-top-item input, .form-infor-deposit-for-rent .form-top-item textarea{padding: 4px 10px;font-size: 14px;}
    .btn-book-appointment{font-size: 14px!important;height: 40px!important;padding: 3px 10px!important;width: 156px!important;}
    .see-other-office a{font-size: 13px;padding: 0 10px;line-height: 17px;min-width: 140px;}
    .des-general-intro{padding: 20px ;}
    .value-building{font-size: 13px;}
    .des-building p{font-size: 12px;margin: 0 0 3px 0px;}
    .des-building p i{font-size: 12px;width: 15px;}
    .list-traditional-office-tab{padding: 30px 0px;}
    .paginate-item{font-size: 12px;width: 20px;height: 20px;line-height: 19px;}
    .creteria-item h2{font-size: 16px;}
    .box-main-blog-left{padding: 0!important;}
    .news-item img{height: 100px;}
    .news-item{height: 266px;}
    .list-jobs .title-job{font-size: 14px;}
    .list-jobs .numer-job{font-size: 16px;}
    .list-jobs .title-job p{margin: 0;}
    .left-pro-detail{width: 100%;}
    .right-pro-detail{width: 100%;}
    .title-content-in-tab{font-size: 16px;margin-bottom: 10px;}
    #the-same-other-office-in-district{padding-top: 0px;}
    .name-office{margin:0;padding:0}
    #list-tab ul{height: 170px;}
    #the-same-other-office{padding-top: 0px;}
    .box-notice-to-compare p{font-size: 16px!important;}
    .des-struct-office{font-size: 14px;}
    
}
@media (max-width:374px){}