.slogan-virtual-office h2{
    font-weight: 900;
    font-size: 46px;
    line-height: 52px;
/* or 117% */
    color: red;
    display: inline-block;
    font-family: 'NS-black';
    margin-bottom: 20px;
}
.slogan-virtual-office span{
    display: block;
    color: #231D15;
}
.general-intro-virtual-office{padding-top: 25px;width: 65%;float: left;}
.list-benefit-virtual{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    font-weight: bold;
    justify-content: space-between;
    font-size: 15px;
    font-family: 'NS-bold';
    margin-bottom: 0;
    padding: 0 10px;
}
.list-benefit-virtual li{
    display: flex;
    margin: 0 0 12px 0px;
    width: 49.5%;
    color: #000000;
}
.list-benefit-virtual li i{
    color: #63991E;
    margin: 0 12px 0px 0px;
    font-size: 20px;
}
#list-location-virtual-office{
    padding: 55px 0px;
}
.title-list-location-virtual-office h2{
    font-weight: 800;
    font-size: 27px;
    line-height: 35px;
    text-transform: uppercase;
    color: #231D15;
    margin-bottom: 25px;
}
.list-location-virtual-office-inner-left{
    width: 100%;
    background: #FFFFFF;
}
.list-location-virtual-office-inner-right{
    width: 100%;
    padding: 10px 0px 0px 0px;
    margin-top: 60PX;
    justify-content: space-between;
    display: flex;
    align-items: flex-end;
}
.content-table-location-virtal-item thead{background: #7CC242;color: #ffffff;font-weight: 800;font-size: 18px;line-height: 25px;
/* identical to box height */text-align: center;color: #FFFFFF;text-transform: uppercase;}
.title-table-location-virtal-item h2{
    font-weight: 800;
    font-size: 18px;
    line-height: 25px;
/* identical to box height */
    text-align: center;
    text-transform: uppercase;
    color: #63991E;
    padding: 22px 0px;
    margin: 0;
}
.content-table-location-virtal-item tr th{text-align: left;}
.content-table-location-virtal-item .district-title{/* width: 120px; */text-align: center;font-size: 14px;font-family: 'NS-bold';}
.content-table-location-virtal-item .address-title{width: calc(100% - 120px);font-size: 14px;font-family: 'NS-bold';text-align: center;}
.content-table-location-virtal-item .address-title p{margin: 0;font-size: 14px;font-family: 'NS-regular';color: #231D15;text-align: left;}
.title-related-news-virtual-office h2{
    font-weight: 800;
    font-size: 26px;
    line-height: 40px;
/* or 125% */
    text-transform: uppercase;
    color: #BC7710;
    padding-right: 20px;
    margin-bottom: 16px;
    text-align: center;
}
.list-location-virtual-office-inner{display: flex;justify-content: space-between;flex-wrap: wrap;}
.list-virtal-news-item ul{
    list-style: none;
    padding: 0;
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
}
.list-virtal-news-item ul li{
    border-bottom: 1px solid #CECECE;
    margin-bottom: 27px;
    display: flex;
}
.list-virtal-news-item ul li h2{
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
    color: #2D4A15;
    margin-bottom: 13px;
    font-weight: bold;
}
.list-virtal-news-item ul li h2 a{color: #2D4A15;}
.list-virtal-news-item ul li p{
    font-size: 14px;
    line-height: 19px;
    color: #231D15;
}
.list-virtal-news-item ul li:last-child{border:none;margin: 0;}
.list-virtal-news-item img{width: 140px;object-fit: cover;/* max-height: 250px; */background: #d7d6d2;/* height: 100%; */min-height: 75px;}
.list-virtal-image-item li{border: none!important;margin-bottom: 10px!important;height: 436px;}
.list-virtal-news-item{
    background: #F3F3F3;
    padding: 30px 18px 24px;
}
.list-virtal-image-item{background: #ffffff!important;padding: 10px;width: calc(60% - 20px);}
.input-information-virtual span{display: block!important;width: 100%!important;}
.input-information-virtual{width: 100%;margin-bottom: 7px;}
.input-contact-virtual{
    display: flex;
    margin-bottom: 11px;
    justify-content: space-between;
}
.input-contact-virtual span{
    width: 27%;
    display: block;
    font-weight: 800;
    font-size: 14px;
    line-height: 22px;
/* identical to box height */
    text-transform: uppercase;
    color: #393939;
    padding: 9px 0px 0px;
}
.input-contact-virtual input,.input-contact-virtual select{
    width: 70%;
    border: 1px solid #6A6C6C;
    box-sizing: border-box;
    outline: none;
    line-height: 22px;
    height: 27px;
    box-shadow: 7px 4px 24px 1px rgba(101, 101, 101, 0.1);
}

.input-contact-virtual textarea{
    width: 100%;
    height: 130px;
    border: 1px solid #6A6C6C;
    box-sizing: border-box;
    outline: none;
    box-shadow: 7px 4px 24px 1px rgba(101, 101, 101, 0.1);
}
.btn-sending-virtual input{
    background: #E99A24;
    border: none;
    color: #ffffff;
    width: 250px;
    line-height: 46px;
    font-family: 'NS-bold';
}
.btn-sending-virtual{
    text-align: center;
    margin-top: 22px;
}
.input-contact-virtual.content-contact{flex-wrap: wrap;}
.table-location-virtal-item:nth-child(2n) .content-table-location-virtal-item thead{background: #DAAC36!important;}
.image-virtual-left img{}
.outstanding-note-virtual{color: #000000!important;}
.btn-sending-virtual input:hover{background: green; cursor: pointer;}
.image-related-news-in-virtual{}
.title-related-news-in-virtual{
    margin: 0 0 0 15px;
}
.input-contact-virtual select{margin-top: 5px!important;}
@media (max-width:991px){
    .box-form-contact-virtual{width: 100%!important;max-width: 700px;margin: 0 auto;}
    .general-intro-virtual::after{display: none!important;}
    .input-contact-virtual input{line-height: 25px;}
    .form-contact-virtual-image-bottom{padding: 30px 20px!important;max-width: 600px;margin: 0 auto;}
    .input-contact-virtual span{font-size: 14px;}
    .btn-sending-virtual input{width: auto;padding: 10px 20px;font-size: 18px;line-height: 28px;}
    .content-table-location-virtal-item .district-title{width: 80px;}
    .content-table-location-virtal-item .district-title,.content-table-location-virtal-item .address-title{font-size: 13px;padding: 15px 5px;}
    .title-list-location-virtual-office h2{font-size: 19px;text-align: center;}
    .title-related-news-virtual-office h2{font-size: 23px;}
    .list-location-virtual-office-inner-left{width: 100%;}
    .list-location-virtual-office-inner-right{width: 100%;padding: 0px 0px 0px 0px;margin: 40px 0px 0px;flex-wrap: wrap;}
    .list-location-virtual-office-inner{flex-wrap: wrap;}
    .list-benefit-virtual li{width: 100%;}
    .list-image-virtuals img{height: 95px!important;}
}

@media (min-width:768px) and (max-width:991px){
    .slogan-virtual-office h2{font-size: 29px;margin-bottom: 30px;line-height: 36px;}
    .list-benefit-virtual{font-size: 18px;line-height: 25px;padding: 0;}
    .list-benefit-virtual li i{font-size: 30px;}
    .general-intro-virtual-office{width: 100%;max-width: 700px;margin: 0 auto;}
    .box-form-contact-virtual{width: 100%;margin: auto;}
    #list-location-virtual-office{padding: 50px 15px;/* max-width: 660px; */margin: 0 auto;}
    .list-virtal-image-item ul{display: flex;}
    .list-virtal-image-item{padding: 0;margin: 0;background: transparent!important;}
}

@media (max-width:480px){
    .list-benefit-virtual li{margin-bottom: 10PX;font-size: 14px;}
    .input-contact-virtual{margin-bottom: 10px;}
    .btn-sending-virtual input{font-size: 13px;padding: 3px 10px;font-family: 'NS-bold';}
    .content-table-location-virtal-item .address-title p{font-size: 12px;}
    .list-virtal-news-item ul li{margin-bottom: 15px;}
    .slogan-virtual-office h2{font-size: 22px;line-height: 35px;margin-bottom: 13px;text-align: center;margin: 0 auto;}
    .list-benefit-virtual li i{font-size: 26px;margin: 0 15px  0px;}
    .list-benefit-virtual{font-size: 18px;padding-left: 0px;line-height: 32px;}
    .input-contact-virtual textarea{height: 150px!important;}
    .input-contact-virtual span{font-size: 11px!important;width: 80px;}
    .input-contact-virtual input{line-height: 25px!important;max-width: calc(100% - 97px);}
    .title-list-location-virtual-office h2{font-size: 14px!important;padding: 0 18px;line-height: 24px;margin-bottom: 20px;}
    #list-location-virtual-office{padding:40px 0px 20px}
    .content-table-location-virtal-item .district-title{width: 108px;font-size: 10px;}
    .box-new-left-virtal-office,.list-virtal-news-item{width: 100%!important;}
    .list-virtal-news-item{padding: 10px 0px;}
    .title-table-location-virtal-item h2{font-size: 14px;padding: 8px 0px;}
    .title-related-news-virtual-office h2{font-size: 18px;}
    .list-virtal-news-item{padding: 15px 15px 0px;}
    .list-virtal-news-item ul li h2{font-size: 13px;line-height: 17px;margin-bottom: 7px;}
}