{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="keywords" content="cho thuê văn phòng, tòa nhà văn phòng, văn phòng cho thuê, công nghệ bất động sản, thuê văn phòng giá rẻ, văn phòng ảo, văn phòng chia sẻ" />
    <meta name="description" content="AZOFFICE có hệ thống văn phòng ảo trải rộng hầu hết các quận/huyện quan trọng tại 02 thành phố lớn là HCM, Hà Nội.  Cung cấp hệ thống công nghệ giúp Ban Quản Lý Tòa Nhà quản lý và vận hành tòa nhà suôn sẻ, gắn kết mối quan hệ tốt đẹp của Tòa Nhà với Khách Hàng thuê văn phòng." />
    <meta name="google-site-verification" content="7umx89J4ZDSRv5y8mHsqYL-ftbQM-TXxYO50t4YkWZo" />
    <link rel="profile" href="https://gmpg.org/xfn/11" />
    <!-- Robots -->
    <meta name="robots" content="index,follow" />

      <title>{% block head_title %}{% endblock %}</title>
      {% block extra_head %}
      {% endblock %}
    <link rel="stylesheet" href="{% static 'plugin/slick-1.8.1/slick/slick.css' %}">
    <meta name="csrf-token" content="1QgIsRPGFl0anaQpmsOh7kybQMp5Nek9t8KKIYJa">

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/product.css' %}">

    <link href="{% static 'image/logo/logo.png' %}" rel="shortcut icon" type="image/x-icon" />
    <!-- Webmaster Tool -->
    <!-- Global site tag (gtag.js) - Google Ads: 409091406 -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=AW-409091406"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());

        gtag('config', 'AW-409091406');
    </script>
    <link rel="stylesheet" href="{% static 'plugin/jquery-ui-1.12.1.custom/jquery-ui.css' %}">
    <link rel="stylesheet" href="{% static 'plugin/jquery-ui-1.12.1.custom/jquery-ui.min.css' %}">
    <link rel="stylesheet" href="{% static 'plugin/font-awesome-4.7.0/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'plugin/font-awesome-4.7.0/css/font-awesome.css' %}">
    <link rel="stylesheet" href="{% static 'plugin/bootstrap/css/bootstrap.min.css' %}">

    <link rel="stylesheet" href="{% static 'plugin/OwlCarousel2-2.3.4/docs/assets/owlcarousel/assets/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'plugin/OwlCarousel2-2.3.4/docs/assets/owlcarousel/assets/owl.theme.default.min.css' %}">
    <script src="{% static 'plugin/jquery.slim.min.js_3.5.1/cdnjs/jquery.slim.min.js' %}"></script>
    <script src="{% static 'plugin/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/app.js' %}"></script>
    <script src="{% static 'plugin/jquery-ui-1.12.1.custom/jquery-ui.min.js' %}"></script>
</head>

<body>
    <header id="section-header">
        <div class="header-top">
            <div class="center">
                <ul>
                    <li class="li-blog">
                        <a href="{% url 'blog_list' %}" class=""> <img src="{% static 'image/icons/i-blog.png' %}" alt=""> Blog</a>
                        <div class="block-menu-child drop-blog">
                            <div class="drop-blog-left">
                                <ul>
                                    <li>
                                        <h3> <a href="https://azoffice.vn/tin-tuc/loai-tin-tuc?typeBlog=hoat-dong-azoffice.html&&page=0">Hoạt động AZOFFICE</a></h3>
                                    </li>
                                    <li>
                                        <h3> <a href="https://azoffice.vn/tin-tuc/loai-tin-tuc?typeBlog=trang-tri-van-phong.html&&page=0">Trang trí văn phòng</a></h3>
                                    </li>
                                    <li>
                                        <h3> <a href="https://azoffice.vn/tin-tuc/loai-tin-tuc?typeBlog=kien-thuc-chung.html&&page=0">Kiến thức chung</a></h3>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li class="hotline">
                        <p><img src="{% static 'image/icons/i-phone.png' %}" alt=""> 0899 173 017</p>
                    </li>
                    <li>
                        <p><i class="fa fa-envelope"></i>info@azoffice.vn</p>
                    </li>
                    <li>
                        <p> <a class="link-contact-header" href="https://azoffice.vn/lien-he"> <img src="{% static 'image/icons/icon_gioithieu.png' %}" alt=""> Liên hệ</a></p>
                    </li>
                </ul>
            </div>
        </div>
    </header>
    <div class="menu" id="section-header">
        <div class="center">
            <div class="menu-large">
                <div class="logo">
                    <a href="{% url 'homepage' %}">
                        <img src="{% static 'image/logo/logo.png' %}" alt="">
                    </a>
                </div>
                <div class="menu-left">
                    <ul>
                        <li><a href="{% url 'homepage' %}" class=" active">Trang chủ</a> </li>
                        <li><a href="#" class="">Văn phòng ảo</a></li>
                        <li>
                            <a href="{% url 'building_list' %}" class="">Văn phòng truyền thống</a>
                            <div class="block-menu-child drop-traditionl-office">
                                {% for item in list_outstanding_traditional_building %}
                                    <ul>
                                        <p><span class="lbl-city-header">{{ item.name_province}}</span> <span class="number-total-district">{{ item.total}}</span></p>
                                        {% for office in item.list_district %}
                                            <li><img src="{% static 'image/icons/icon_pin2.png' %}" alt="Quận 1"> <a href="{% url 'building_in_district' office.district_id %}"> {{office.district_name}} <span class="number-district">{{office.total}}</span> </a></li>
                                        {% endfor %}
                                    </ul>
                                {% endfor %}
                            </div>
                        </li>

                        <li><a href="#" class="">Văn phòng chia sẻ</a>
                            <div class="block-menu-child d-none">
                                <ul class="d-none">
                                    <p><span class="lbl-city-header">Hồ Chí Minh</span> <span class="number-total-district">2560</span></p>
                                    <li><img src="{% static 'image/icons/icon_pin2.png' %}" alt="Quận 1"> <a href="https://azoffice.vn/van-phong/van-phong-theo-quan?idDistrict=1&&idType=2&&page=0"> Quận 1 <span class="number-district">552</span> </a></li>
                                    <li><img src="{% static 'image/icons/icon_pin2.png' %}" alt="Quận 2"> <a href="https://azoffice.vn/van-phong/van-phong-theo-quan?idDistrict=2&&idType=2&&page=0"> Quận 2 <span class="number-district">137</span> </a></li>
                                    <li><img src="{% static 'image/icons/icon_pin2.png' %}" alt="Quận 3"> <a href="https://azoffice.vn/van-phong/van-phong-theo-quan?idDistrict=3&&idType=2&&page=0"> Quận 3 <span class="number-district">328</span> </a></li>
                                    <li><img src="{% static 'image/icons/icon_pin2.png' %}" alt="Quận 4"> <a href="https://azoffice.vn/van-phong/van-phong-theo-quan?idDistrict=4&&idType=2&&page=0"> Quận 4 <span class="number-district">94</span> </a></li>
                                    <li><img src="{% static 'image/icons/icon_pin2.png' %}" alt="Quận 5"> <a href="https://azoffice.vn/van-phong/van-phong-theo-quan?idDistrict=5&&idType=2&&page=0"> Quận 5 <span class="number-district">81</span> </a></li>
                                    <li><img src="{% static 'image/icons/icon_pin2.png' %}" alt="Quận 6"> <a href="https://azoffice.vn/van-phong/van-phong-theo-quan?idDistrict=6&&idType=2&&page=0"> Quận 6 <span class="number-district">7</span> </a></li>
                                    <li><img src="{% static 'image/icons/icon_pin2.png' %}" alt="Quận 7"> <a href="https://azoffice.vn/van-phong/van-phong-theo-quan?idDistrict=7&&idType=2&&page=0"> Quận 7 <span class="number-district">123</span> </a></li>
                                    <li><img src="{% static 'image/icons/icon_pin2.png' %}" alt="Quận 8"> <a href="https://azoffice.vn/van-phong/van-phong-theo-quan?idDistrict=8&&idType=2&&page=0"> Quận 8 <span class="number-district">11</span> </a></li>
                                    <li><img src="{% static 'image/icons/icon_pin2.png' %}" alt="Quận 9"> <a href="https://azoffice.vn/van-phong/van-phong-theo-quan?idDistrict=9&&idType=2&&page=0"> Quận 9 <span class="number-district">14</span> </a></li>
                                    <li><img src="{% static 'image/icons/icon_pin2.png' %}" alt="Quận 10"> <a href="https://azoffice.vn/van-phong/van-phong-theo-quan?idDistrict=10&&idType=2&&page=0"> Quận 10 <span class="number-district">147</span> </a></li>
                                    <li><img src="{% static 'image/icons/icon_pin2.png' %}" alt="Quận 11"> <a href="https://azoffice.vn/van-phong/van-phong-theo-quan?idDistrict=11&&idType=2&&page=0"> Quận 11 <span class="number-district">16</span> </a></li>
                                    <li><img src="{% static 'image/icons/icon_pin2.png' %}" alt="Quận 12"> <a href="https://azoffice.vn/van-phong/van-phong-theo-quan?idDistrict=12&&idType=2&&page=0"> Quận 12 <span class="number-district">9</span> </a></li>
                                    <li><img src="{% static 'image/icons/icon_pin2.png' %}" alt="Quận Thủ Đức"> <a href="https://azoffice.vn/van-phong/van-phong-theo-quan?idDistrict=13&&idType=2&&page=0"> Quận Thủ Đức <span class="number-district">15</span> </a></li>
                                    <li><img src="{% static 'image/icons/icon_pin2.png' %}" alt="Quận Gò Vấp"> <a href="https://azoffice.vn/van-phong/van-phong-theo-quan?idDistrict=14&&idType=2&&page=0"> Quận Gò Vấp <span class="number-district">22</span> </a></li>
                                    <li><img src="{% static 'image/icons/icon_pin2.png' %}" alt="Quận Bình Thạnh"> <a href="https://azoffice.vn/van-phong/van-phong-theo-quan?idDistrict=15&&idType=2&&page=0"> Quận Bình Thạnh <span class="number-district">337</span> </a></li>
                                    <li><img src="{% static 'image/icons/icon_pin2.png' %}" alt="Quận Tân Bình"> <a href="https://azoffice.vn/van-phong/van-phong-theo-quan?idDistrict=16&&idType=2&&page=0"> Quận Tân Bình <span class="number-district">382</span> </a></li>
                                    <li><img src="{% static 'image/icons/icon_pin2.png' %}" alt="Quận Tân Phú"> <a href="https://azoffice.vn/van-phong/van-phong-theo-quan?idDistrict=17&&idType=2&&page=0"> Quận Tân Phú <span class="number-district">37</span> </a></li>
                                    <li><img src="{% static 'image/icons/icon_pin2.png' %}" alt="Quận Phú Nhuận"> <a href="https://azoffice.vn/van-phong/van-phong-theo-quan?idDistrict=18&&idType=2&&page=0"> Quận Phú Nhuận <span class="number-district">220</span> </a></li>
                                    <li><img src="{% static 'image/icons/icon_pin2.png' %}" alt="Quận Bình Tân"> <a href="https://azoffice.vn/van-phong/van-phong-theo-quan?idDistrict=19&&idType=2&&page=0"> Quận Bình Tân <span class="number-district">3</span> </a></li>
                                    <li><img src="{% static 'image/icons/icon_pin2.png' %}" alt="	Huyện Củ Chi"> <a href="https://azoffice.vn/van-phong/van-phong-theo-quan?idDistrict=20&&idType=2&&page=0"> Huyện Củ Chi <span class="number-district">1</span> </a></li>
                                    <li><img src="{% static 'image/icons/icon_pin2.png' %}" alt="Huyện Hóc Môn"> <a href="https://azoffice.vn/van-phong/van-phong-theo-quan?idDistrict=21&&idType=2&&page=0"> Huyện Hóc Môn <span class="number-district">2</span> </a></li>
                                    <li><img src="{% static 'image/icons/icon_pin2.png' %}" alt="Huyện Bình Chánh"> <a href="https://azoffice.vn/van-phong/van-phong-theo-quan?idDistrict=22&&idType=2&&page=0"> Huyện Bình Chánh <span class="number-district">15</span> </a></li>
                                    <li><img src="{% static 'image/icons/icon_pin2.png' %}" alt="Huyện Nhà Bè"> <a href="https://azoffice.vn/van-phong/van-phong-theo-quan?idDistrict=23&&idType=2&&page=0"> Huyện Nhà Bè <span class="number-district">6</span> </a></li>
                                    <li><img src="{% static 'image/icons/icon_pin2.png' %}" alt="Huyện Cần Giờ"> <a href="https://azoffice.vn/van-phong/van-phong-theo-quan?idDistrict=24&&idType=2&&page=0"> Huyện Cần Giờ
                                            <span class="number-district">1</span> </a></li>
                                </ul>
                                <ul class="d-none">
                                    <p><span class="lbl-city-header">Hà Nội</span> <span class="number-total-district">340</span></p>
                                    <li><img src="{% static 'image/icons/icon_pin2.png' %}" alt="Quận Ba Đình"> <a href="https://azoffice.vn/van-phong/van-phong-theo-quan?idDistrict=25&&idType=2&&page=0"> Quận Ba Đình <span class="number-district">36</span> </a></li>
                                    <li><img src="{% static 'image/icons/icon_pin2.png' %}" alt="Quận Hoàn Kiếm"> <a href="https://azoffice.vn/van-phong/van-phong-theo-quan?idDistrict=26&&idType=2&&page=0"> Quận Hoàn Kiếm <span class="number-district">42</span> </a></li>
                                    <li><img src="{% static 'image/icons/icon_pin2.png' %}" alt="Quận Tây Hồ"> <a href="https://azoffice.vn/van-phong/van-phong-theo-quan?idDistrict=27&&idType=2&&page=0"> Quận Tây Hồ <span class="number-district">6</span> </a></li>
                                    <li><img src="{% static 'image/icons/icon_pin2.png' %}" alt="Quận Long Biên"> <a href="https://azoffice.vn/van-phong/van-phong-theo-quan?idDistrict=28&&idType=2&&page=0"> Quận Long Biên <span class="number-district">0</span> </a></li>
                                    <li><img src="{% static 'image/icons/icon_pin2.png' %}" alt="Quận Cầu Giấy"> <a href="https://azoffice.vn/van-phong/van-phong-theo-quan?idDistrict=29&&idType=2&&page=0"> Quận Cầu Giấy <span class="number-district">89</span> </a></li>
                                    <li><img src="{% static 'image/icons/icon_pin2.png' %}" alt="Quận Đống Đa"> <a href="https://azoffice.vn/van-phong/van-phong-theo-quan?idDistrict=30&&idType=2&&page=0"> Quận Đống Đa <span class="number-district">52</span> </a></li>
                                    <li><img src="{% static 'image/icons/icon_pin2.png' %}" alt="Quận Hai Bà trưng"> <a href="https://azoffice.vn/van-phong/van-phong-theo-quan?idDistrict=31&&idType=2&&page=0"> Quận Hai Bà trưng <span class="number-district">33</span> </a></li>
                                    <li><img src="{% static 'image/icons/icon_pin2.png' %}" alt="Quận Hoàng Mai"> <a href="https://azoffice.vn/van-phong/van-phong-theo-quan?idDistrict=32&&idType=2&&page=0"> Quận Hoàng Mai <span class="number-district">0</span> </a></li>
                                    <li><img src="{% static 'image/icons/icon_pin2.png' %}" alt="Quận Thanh Xuân"> <a href="https://azoffice.vn/van-phong/van-phong-theo-quan?idDistrict=33&&idType=2&&page=0"> Quận Thanh Xuân <span class="number-district">38</span> </a></li>
                                    <li><img src="{% static 'image/icons/icon_pin2.png' %}" alt="Huyện Sóc Sơn"> <a href="https://azoffice.vn/van-phong/van-phong-theo-quan?idDistrict=34&&idType=2&&page=0"> Huyện Sóc Sơn <span class="number-district">0</span> </a></li>
                                    <li><img src="{% static 'image/icons/icon_pin2.png' %}" alt="Huyện Đông Anh"> <a href="https://azoffice.vn/van-phong/van-phong-theo-quan?idDistrict=35&&idType=2&&page=0"> Huyện Đông Anh <span class="number-district">0</span> </a></li>
                                    <li><img src="{% static 'image/icons/icon_pin2.png' %}" alt="Huyện Gia Lâm"> <a href="https://azoffice.vn/van-phong/van-phong-theo-quan?idDistrict=36&&idType=2&&page=0"> Huyện Gia Lâm <span class="number-district">0</span> </a></li>
                                    <li><img src="{% static 'image/icons/icon_pin2.png' %}" alt="Quận Nam Từ Liêm"> <a href="https://azoffice.vn/van-phong/van-phong-theo-quan?idDistrict=37&&idType=2&&page=0"> Quận Nam Từ Liêm <span class="number-district">39</span> </a></li>
                                    <li><img src="{% static 'image/icons/icon_pin2.png' %}" alt="Huyện Thanh trì"> <a href="https://azoffice.vn/van-phong/van-phong-theo-quan?idDistrict=38&&idType=2&&page=0"> Huyện Thanh trì <span class="number-district">0</span> </a></li>
                                    <li><img src="{% static 'image/icons/icon_pin2.png' %}" alt="Quận Bắc Từ Liêm"> <a href="https://azoffice.vn/van-phong/van-phong-theo-quan?idDistrict=39&&idType=2&&page=0"> Quận Bắc Từ Liêm <span class="number-district">1</span> </a></li>
                                    <li><img src="{% static 'image/icons/icon_pin2.png' %}" alt="Huyện Mê Linh"> <a href="https://azoffice.vn/van-phong/van-phong-theo-quan?idDistrict=40&&idType=2&&page=0"> Huyện Mê Linh <span class="number-district">0</span> </a></li>
                                    <li><img src="{% static 'image/icons/icon_pin2.png' %}" alt="Quận Hà Đông"> <a href="https://azoffice.vn/van-phong/van-phong-theo-quan?idDistrict=41&&idType=2&&page=0"> Quận Hà Đông <span class="number-district">3</span> </a></li>
                                    <li><img src="{% static 'image/icons/icon_pin2.png' %}" alt="Thị xã Sơn Tây"> <a href="https://azoffice.vn/van-phong/van-phong-theo-quan?idDistrict=42&&idType=2&&page=0"> Thị xã Sơn Tây <span class="number-district">0</span> </a></li>
                                    <li><img src="{% static 'image/icons/icon_pin2.png' %}" alt="Huyện Ba Vì"> <a href="https://azoffice.vn/van-phong/van-phong-theo-quan?idDistrict=43&&idType=2&&page=0"> Huyện Ba Vì <span class="number-district">0</span> </a></li>
                                    <li><img src="{% static 'image/icons/icon_pin2.png' %}" alt="Huyện Phúc Thọ"> <a href="https://azoffice.vn/van-phong/van-phong-theo-quan?idDistrict=44&&idType=2&&page=0"> Huyện Phúc Thọ <span class="number-district">0</span> </a></li>
                                    <li><img src="{% static 'image/icons/icon_pin2.png' %}" alt="Huyện Đan Phượng"> <a href="https://azoffice.vn/van-phong/van-phong-theo-quan?idDistrict=45&&idType=2&&page=0"> Huyện Đan Phượng <span class="number-district">0</span> </a></li>
                                    <li><img src="{% static 'image/icons/icon_pin2.png' %}" alt="Huyện Hoài Đức"> <a href="https://azoffice.vn/van-phong/van-phong-theo-quan?idDistrict=46&&idType=2&&page=0"> Huyện Hoài Đức <span class="number-district">1</span> </a></li>
                                    <li><img src="{% static 'image/icons/icon_pin2.png' %}" alt="Huyện Quốc Oai"> <a href="https://azoffice.vn/van-phong/van-phong-theo-quan?idDistrict=47&&idType=2&&page=0"> Huyện Quốc Oai <span class="number-district">0</span> </a></li>
                                    <li><img src="{% static 'image/icons/icon_pin2.png' %}" alt="Huyện Thạch Thất"> <a href="https://azoffice.vn/van-phong/van-phong-theo-quan?idDistrict=48&&idType=2&&page=0"> Huyện Thạch Thất <span class="number-district">0</span> </a></li>
                                    <li><img src="{% static 'image/icons/icon_pin2.png' %}" alt="Huyện Chương Mỹ"> <a href="https://azoffice.vn/van-phong/van-phong-theo-quan?idDistrict=49&&idType=2&&page=0"> Huyện Chương Mỹ <span class="number-district">0</span> </a></li>
                                    <li><img src="{% static 'image/icons/icon_pin2.png' %}" alt="Huyện Thanh Oai"> <a href="https://azoffice.vn/van-phong/van-phong-theo-quan?idDistrict=50&&idType=2&&page=0"> Huyện Thanh Oai <span class="number-district">0</span> </a></li>
                                    <li><img src="{% static 'image/icons/icon_pin2.png' %}" alt="Huyện Thường Tín"> <a href="https://azoffice.vn/van-phong/van-phong-theo-quan?idDistrict=51&&idType=2&&page=0"> Huyện Thường Tín <span class="number-district">0</span> </a></li>
                                    <li><img src="{% static 'image/icons/icon_pin2.png' %}" alt="Huyện Phú Xuyên"> <a href="https://azoffice.vn/van-phong/van-phong-theo-quan?idDistrict=52&&idType=2&&page=0"> Huyện Phú Xuyên <span class="number-district">0</span> </a></li>
                                    <li><img src="{% static 'image/icons/icon_pin2.png' %}" alt="Huyện Ứng Hòa"> <a href="https://azoffice.vn/van-phong/van-phong-theo-quan?idDistrict=53&&idType=2&&page=0"> Huyện Ứng Hòa <span class="number-district">0</span> </a></li>
                                    <li><img src="{% static 'image/icons/icon_pin2.png' %}" alt="Huện Mỹ Đức"> <a href="https://azoffice.vn/van-phong/van-phong-theo-quan?idDistrict=54&&idType=2&&page=0"> Huện Mỹ Đức <span class="number-district">0</span> </a></li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <a href="https://azoffice.vn/mat-bang" class="">Nhà/ Mặt bằng</a>
                        </li>
                    </ul>
                </div>
                <div class="menu-right">
                    <ul>
                        <li><a href="https://azoffice.vn/ky-gui-cho-thue.html" class=""><img src="{% static 'image/icons/icon_ky_gui.png' %}" alt=""> Ký gửi thuê</a> </li>
                        <li><a href="https://azoffice.vn/hen-xem" class=""><i class="fa fa-calendar"></i> Hẹn xem
                                <span class="lbl-save-office-for-seen">
                                    0
                                </span>
                            </a>
                        </li>
                        <li><a href="#" onclick="submitFormCompare()" class=""><img src="{% static 'image/icons/icon_so_sanh.png' %}" alt=""> So sánh
                                <span class="" id="nb_office_compare">


                                </span>
                            </a></li>
                    </ul>
                </div>
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
            </div>
            <div class="menu-small">
                <div id="mySidebar" class="sidebar">
                    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
                    <a href="https://azoffice.vn/trang-chu" class=" link-home  active" title="home">

                        Trang chủ
                    </a>
                    <a href="https://azoffice.vn/van-phong/van-phong-ao" class="link-intro " title="Giới thiệu">

                        Văn phòng ảo
                    </a>
                    <a href="https://azoffice.vn/van-phong/van-phong-truyen-thong" class="link-member " title="Thành viên">

                        Văn phòng truyền thống
                    </a>
                    <a href="#" class="link-service " title="Danh mục dịch vụ">

                        Văn phòng chia sẻ
                    </a>
                    <a href="https://azoffice.vn/mat-bang" class="link-service " title="Danh mục dịch vụ">

                        Nhà/Mặt bằng
                    </a>
                    <a href="https://azoffice.vn/tin-tuc" class="link-question " title="Hỏi đáp">
                        blog
                    </a>
                    <div class="drop-child-news ">
                        <div class="drop-blog-left">
                            <ul id="content-knowledge" class="d-block">
                                <li>
                                    <h3> <a href="https://azoffice.vn/tin-tuc/loai-tin-tuc?typeBlog=hoat-dong-azoffice.html&&page=0">Hoạt Động AZOFFICE</a></h3>
                                </li>
                                <li>
                                    <h3> <a href="https://azoffice.vn/tin-tuc/loai-tin-tuc?typeBlog=trang-tri-van-phong.html&&page=0">Trang trí văn phòng</a></h3>
                                </li>
                                <li>
                                    <h3> <a href="https://azoffice.vn/tin-tuc/loai-tin-tuc?typeBlog=kien-thuc-chung.html&&page=0">Kiến thức chung</a></h3>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <a href="https://azoffice.vn/ky-gui-cho-thue.html" class="link-question " title="Hỏi đáp">
                        Ký gửi văn phòng
                    </a>
                    <a href="https://azoffice.vn/hen-xem" class="link-question " title="Hỏi đáp">
                        Hẹn xem
                    </a>
                    <a href="https://azoffice.vn/so-sanh-van-phong" class="link-question " title="Hỏi đáp">
                        So sánh
                    </a>
                </div>
                <div id="main">
                    <div class="logo">
                        <h1>
                            <a href="https://azoffice.vn/trang-chu">
                                <img src="https://azoffice.vn/image/logo/logo.png" alt="">
                            </a>
                        </h1>
                        <div class="navbar-header">
                            <button class="openbtn" onclick="openNav()">
                                <i class="fa fa-bars"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% block content %} {% endblock content%}
    <footer class="footer-area">
        <div class="footer_top">
            <div class="center">
                <div class="menu-footer">
                    <div class="logo-footer ">
                        <img src="{% static 'image/logo/logo.png' %}" alt="">
                    </div>
                    <div class="link-footer ">
                        <ul class="">
                            <li>
                                <a href="https://azoffice.vn/trang-chu" title="home">Trang chủ</a>
                            </li>
                            <li>
                                <a href="https://azoffice.vn/van-phong/van-phong-ao" title="Văn phòng ảo">Văn phòng ảo</a>
                            </li>
                            <li>
                                <a href="https://azoffice.vn/van-phong/van-phong-truyen-thong" title="Văn phòng truyền thống">Văn phòng truyền thống</a>

                            </li>
                            <li>
                                <a href="" title="Văn phòng chia sẻ">Văn phòng chia sẻ</a>
                            </li>
                            <li>
                                <a href="https://azoffice.vn/mat-bang" title="Nhà - mặt bằng">Nhà / Mặt bằng</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="center">
                <div class="footer_widgets">
                    <div class=" footer-content-left">
                        <div class="single_footer_widget">
                            <h2 class="widget_title">
                                Về chúng tôi
                            </h2>
                            <p>
                                Là công ty công nghệ hoạt động trong lĩnh vực bất động sản, AZOFFICE được sự hợp tác và ủy quyền của gần 2.000 tòa nhà văn phòng tại VN.
                            </p>
                            <p>
                                AZOFFICE cung cấp hệ thống công nghệ giúp Ban Quản Lý Tòa Nhà quản lý và vận hành tòa nhà suôn sẻ hơn, gắn kết mối quan hệ tốt đẹp của Tòa Nhà với Khách Hàng thuê văn phòng.
                            </p>
                            <p>
                                AZOFFICE có hệ thống Văn Phòng Ảo trải rộng phủ hầu hết các quận/huyện quan trọng tại 02 thành phố lớn là Hồ Chí Minh và Hà Nội.
                            </p>
                        </div>
                    </div>
                    <div class="footer-content-right">
                        <div class="widget_title">
                            <span>Liên hệ</span>
                            <ul class="list-contact-footer">
                                <li>
                                    <img src="{% static 'image/icons/i-face.png' %}" alt="">
                                </li>
                                <li>
                                    <img src="{% static 'image/icons/icon_ig.png' %}" alt="">
                                </li>
                                <li>
                                    <img src="{% static 'image/icons/icon_pin.png' %}" alt="">
                                </li>
                                <li>
                                    <img src="{% static 'image/icons/icon_google.png' %}" alt="">
                                </li>
                            </ul>
                        </div>
                        <ul class="footer_contact">
                            <li>
                                <i class="fa fa-home"></i> <span>AZOFFICE JSC</span>
                            </li>
                            <li>
                                <i class="fa fa-phone"></i><span> 0899 17 30 17</span>
                            </li>
                            <li>
                                <i class="fa fa-map-marker"></i><span> Tầng 02, Tòa nhà RUBYLAND, 4 Lê Quát, Phường Tân Thới Hòa, Quận Tân Phú, TP HCM.</span>
                            </li>
                            <li>
                                <i class="fa fa-envelope"></i><span> info@azoffice.vn</span>
                            </li>
                        </ul>
                    </div>
                </div>
                <p class="copyright">© BẢN QUYỀN THUỘC VỀ AZOFFICE</p>
            </div>
        </div>
    </footer>
    <div id="popup-save-office">
        <div class="list-office-for-seen">
            <div class="title-popup-save-office">
                <h2>Đã lưu tòa nhà vào danh sách đặt lịch hẹn</h2>
                <span class="btn-close-popup"><i class="fa fa-times"></i></span>
            </div>
            <div class="link-see-office">
                <a href="https://azoffice.vn/hen-xem">Đặt lịch ngay </a>
            </div>
        </div>
    </div>
    <div id="popup-save-office" class="popup-not-result">
        <div class="list-office-for-seen">
            <div class="title-popup-save-office">
                <h2>Không có tòa nhà trong quận này</h2>
                <span class="btn-close-popup"><i class="fa fa-times"></i></span>
            </div>
        </div>
    </div>
    <div class="list-hidden-input-for-seen">
        <input type="hidden" id="oldAppointment" value=" 0 " id="oldHiddenAppointment">
        <input type="hidden" id="newAppointment" name="newAppointment" value="" id="newHiddenAppointment">
        <input type="hidden" id="tabDistrictActive" name="tabDistrictActive">
    </div>
    <div id="popup-seen-save-office" class="popup-for-save" style="width:60%">
        <div class="list-office-for-seen">
            <div class="title-popup-save-office ">
                <h2 class="title-compare">So sánh Thông Tin Tòa Nhà</h2>
                <span class="btn-close-popup btn-close-popup-compare"><i class="fa fa-times"></i></span>
            </div>
            <div class="box-compare-inner">
                <table class="table table-office-save">
                    <tbody id="tbody_listCompareOffice">

                    </tbody>
                </table>
            </div>
            <div class="link-see-office">
                <a href="#" onclick="submitFormCompare()">So sánh ngay</a>
            </div>
        </div>
    </div>

    <script>
        function submitFormCompare() {
            // https://azoffice.vn/so-sanh-van-phong
            var routeCompare = "https://azoffice.vn/so-sanh-van-phong";
            var arrListUrlOfficeCompareShow = JSON.parse(localStorage.getItem("hiddenUrlOffice"));
            if (arrListUrlOfficeCompareShow) {
                var dataPost = '';
                arrListUrlOfficeCompareShow.forEach((entry) => {
                    dataPost = (dataPost) ? dataPost + ';;' + entry.url : entry.url;
                });
                window.open(routeCompare + '?data_compare=' + dataPost, '_self');
            }
            window.open(routeCompare);
        }
    </script>
    <div class="list-hidden-input">
        <form action="https://azoffice.vn/so-sanh-van-phong" method="get" id="formOfficeCompare">
            <input type="hidden" name="urlOffice" id="hiddenUrlOffice">
        </form>
        <input type="hidden" name="nameOffice" id="hiddenNameOffice">
        <input type="hidden" name="imageOffice" id="hiddenImageOffice">
        <input type="hidden" name="location" id="hiddenLocationOffice">
        <input type="hidden" name="price" id="hiddenPriceOffice">
    </div>

    <button class="btn btn-primary scroll-top" data-scroll="up" type="button">
        <i class="fa fa-chevron-up"></i>
    </button>

    <script src="{% static 'plugin/slick-1.8.1/slick/slick.js' %}"></script>
    <script src="{% static 'plugin/slick-1.8.1/slick/slick.min.js' %}"></script>
    <script src="{% static 'plugin/OwlCarousel2-2.3.4/docs/assets/owlcarousel/owl.carousel.js' %}"></script>
    <script src="{% static 'plugin/OwlCarousel2-2.3.4/docs/assets/owlcarousel/owl.carousel.min.js' %}"></script>
    <script src="{% static 'js/script.js' %}"></script>
</body>

</html>