{% extends "base.html" %}

{% block content %}
<div id="breadscrumb">
    <div class="box-breadscrumb">
        <img src="https://azoffice.vn/image/background/bg-breadscrumb.png" alt="">
    </div>
    <div class="center">
        <ol class="breadcrumb-link">
            <li class="breadscrumb-item"><a href="https://azoffice.vn/trang-chu">Trang chủ</a></li>
            <li class="breadscrumb-item breadscrumb-active">Blog</li>
        </ol>
    </div>
</div>
<div id="content-blog">
    <div class="center">
        <div class="title-main-blog">
            <h2>Blog</h2>
        </div>
        <div class="box-list-blogs">
            <div class="box-main-blog" id="block-blog-child">
                <div class="box-main-blog-left">
                    <div class="title-type-blogs">
                        <h2><a href="https://azoffice.vn/tin-tuc/loai-tin-tuc?typeBlog=hoat-dong-azoffice.html&&page=0">
                            <i class="fa fa-indent"></i> Hoạt Động AZOFFICE </a></h2>
                    </div>

                    <div class="list-blog-outstranding">
                        <div class="item-blog-mainOutstanding-left">
                            <div class="item-blog-outstanding-inner">
                                <a href="{% url 'chi-tiet-tin-tuc' slug=first_posts_activities_azoffice.url_blog %}">
                                    <img src="{{first_posts_activities_azoffice.image_blog}}"
                                         alt="Not Found Image first_posts_activities_azoffice.name_blog">
                                </a>
                                <h2 class="name-outstanding-blog text-split text-split-2">
                                    <a href="{% url 'chi-tiet-tin-tuc' slug=first_posts_activities_azoffice.url_blog %}">
                                        {{first_posts_activities_azoffice.name_blog}}
                                    </a>
                                </h2>
                                <p class="des-news-main text-split text-split-2">
                                    {{first_posts_activities_azoffice.description_blog}}
                                </p>
                            </div>
                        </div>
                        <div class="item-blog-mainOutstanding-right" id="list-blog-right-main">
                            <div class="item-blog-outstading-right">
                                <div class="item-blog-outstanding-inner">
                                    <ul>
                                        {% for data in get_list_posts_activities_azoffice%}
                                        <li>
                                            <a href="{% url 'chi-tiet-tin-tuc' slug=data.url_blog %}">
                                                <img class="image-child-right"
                                                     src="{{data.image_blog}}"
                                                     alt="Not Found Image {{data.url_blog}}">
                                            </a>
                                            <h2 class="name-outstanding-blog text-split text-split-2">
                                                <a href="{% url 'chi-tiet-tin-tuc' slug=data.url_blog %}">{{data.name_blog}}</a>
                                            </h2>
                                        </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="title-type-blogs">
                        <h2>
                            <a href="https://azoffice.vn/tin-tuc/loai-tin-tuc?typeBlog=trang-tri-van-phong.html&&page=0">
                                <i class="fa fa-indent"></i> Trang Trí Văn Phòng </a></h2>
                    </div>
                    <div class="list-blog-outstranding">
                        <div class="item-blog-mainOutstanding-left">
                            <div class="item-blog-outstanding-inner">
                                <a href="{% url 'chi-tiet-tin-tuc' slug=first_posts_office_decoration.url_blog %}">
                                    <img src="{{first_posts_office_decoration.image_blog}}"
                                         alt="Not Found Image {{first_posts_office_decoration.name_blog}}">
                                </a>
                                <h2 class="name-outstanding-blog text-split text-split-2">
                                    <a href="{% url 'chi-tiet-tin-tuc' slug=first_posts_office_decoration.url_blog %}">
                                        {{first_posts_office_decoration.name_blog}}</a>
                                </h2>
                                <p class="des-news-main text-split text-split-2">
                                    {{first_posts_office_decoration.description_blog}}
                                </p>
                            </div>
                        </div>
                        <div class="item-blog-mainOutstanding-right" id="list-blog-right-main">
                            <div class="item-blog-outstading-right">
                                <div class="item-blog-outstanding-inner">
                                    <ul>
                                        {% for data in get_list_posts_office_decoration%}
                                        <li>
                                            <a href="{% url 'chi-tiet-tin-tuc' slug=data.url_blog %}">
                                                <img class="image-child-right"
                                                     src="{{data.image_blog}}"
                                                     alt="Not Found Image {{data.name_blog}}">
                                            </a>
                                            <h2 class="name-outstanding-blog text-split text-split-2">
                                                <a href="{% url 'chi-tiet-tin-tuc' slug=data.url_blog %}">
                                                    {{data.name_blog}}
                                                </a>
                                            </h2>
                                        </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="title-type-blogs">
                        <h2><a href="https://azoffice.vn/tin-tuc/loai-tin-tuc?typeBlog=kien-thuc-chung.html&&page=0"> <i
                                class="fa fa-indent"></i> Kiến Thức Chung </a></h2>
                    </div>
                    <div class="list-blog-outstranding">
                        <div class="item-blog-mainOutstanding-left">
                            <div class="item-blog-outstanding-inner">
                                <a href="{% url 'chi-tiet-tin-tuc' slug=first_posts_generalknowledge.url_blog %}">
                                    <img src="{{first_posts_generalknowledge.image_blog}}"
                                         alt="Not Found Image {{first_posts_generalknowledge.name_blog}}">
                                </a>
                                <h2 class="name-outstanding-blog text-split text-split-2">
                                    <a href="{% url 'chi-tiet-tin-tuc' slug=first_posts_generalknowledge.url_blog %}">
                                        {{first_posts_generalknowledge.name_blog}}</a>
                                </h2>
                                <p class="des-news-main text-split text-split-2">
                                    {{first_posts_generalknowledge.description_blog}}
                                </p>
                            </div>
                        </div>
                        <div class="item-blog-mainOutstanding-right" id="list-blog-right-main">
                            <div class="item-blog-outstading-right">
                                <div class="item-blog-outstanding-inner">
                                    <ul>
                                        {% for data in get_list_posts_generalknowledge%}
                                        <li>
                                            <a href="{% url 'chi-tiet-tin-tuc' slug=data.url_blog %}">
                                                <img class="image-child-right"
                                                     src="{{data.image_blog}}"
                                                     alt="Not Found Image {{data.name_blog}}">
                                            </a>
                                            <h2 class="name-outstanding-blog text-split text-split-2">
                                                <a href="{% url 'chi-tiet-tin-tuc' slug=data.url_blog %}">
                                                    {{data.name_blog}}
                                                </a>
                                            </h2>
                                        </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="box-main-blog-right">
                    <div id="search-2">
                        <form action="" method="post" class="search-form">
                            <input type="hidden" name="_token" value="">
                            <button class="search-submit"><img src="https://azoffice.vn/image/icons/search.png" alt="">
                            </button>
                            <input type="text" class="search-field" name="keyword"
                                   placeholder="Nhập vào từ khóa tìm kiếm">
                        </form>
                    </div>
                    <div id="list-new-news-box">
                        <div class="title-news-box">
                            <h2>Bài viết mới nhất</h2>
                            <ul>
                                {% for lasted_list_blog in get_lasted_list_blog %}
                                <li>
                                    <a href="{% url 'chi-tiet-tin-tuc' slug=lasted_list_blog.url_blog %}">{{lasted_list_blog.name_blog}}</a>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    <div id="list-new-news-box">
                        <div class="title-news-box">
                            <h2>Bài viết liên quan</h2>
                        </div>
                        <ul>
                            {% for data in get_list_posts_activities_azoffice %}
                            <li>
                                <a href="{% url 'chi-tiet-tin-tuc' slug=data.url_blog %}">{{data.name_blog}}</a>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="tab-square">
                        <div class="box-phone-number">
                            <a href="tel:0899 173 017"><i class="fa fa-phone"></i> 0899 173 017</a>
                        </div>
                    </div>
                    <div class="box-contact-in-blog">
                        <div class="box-form-booking">
                            <form action="" method="post" id="form-booking">
                                <input type="hidden" name="_token" value="Kkzs1Lkgc6XVsMyQgPDvZk2xQ9BgQT48F9L7N6uj">
                                <div class="content-main-form">
                                    <div class="inforcustomer">
                                        <input required type="text" name="nameCustomer" placeholder="Họ tên"
                                               name="nameCustomer" value=""/>
                                        <input type="hidden" name="typeContact" value="10">
                                    </div>
                                    <div class="inforcustomer">
                                        <input required type="email" name="emailCustomer" placeholder="Email"
                                               name="emailCustomer" value="">
                                    </div>
                                    <div class="inforcustomer">
                                        <input required type="text" name="phoneCustomer" placeholder="Điện thoại"
                                               name="phoneCustomer" value="">
                                    </div>
                                    <div class="inforcustomer">
                                        <textarea type="text" name="contentCustomer"
                                                  placeholder="Nhập nội dung của bạn... " value=""></textarea>
                                    </div>
                                    <div class="btn-sending-contact">
                                        <input type="submit" value="Gửi thông tin liên hệ">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}