{% extends "base.html" %}
    {% block head_title %}Văn phòng truyền thống{% endblock %}
    {% block extra_head %}
        <link rel="stylesheet" href="https://azoffice.vn/css/product.css">
    {% endblock %}
{% block content %}
    <div id="breadscrumb2" class="breadscrumb2">
        <div class="box-breadscrumb">
            <img src="https://azoffice.vn/image/background/bg-slide.png" alt="">
            <div class="box-child-breadscrumb-after">
                <img src="https://azoffice.vn/image/logo/image_breadscrumb.png">
                <div class="title-main">
                    <h2> Văn phòng <br> <span> truyền thống</span></h2>
                </div>
            </div>
        </div>
        <div class="center">
            <ol class="breadcrumb-link">
                <li class="breadscrumb-item"><a href="https://azoffice.vn/trang-chu">Trang chủ</a></li>
                <li class="breadscrumb-item breadscrumb-active">Văn phòng truyền thống</li>
            </ol>
        </div>
    </div>
    <section class="content" id="content">
        <div id="traditional-office-content">
            <div class="center">
                <div class="title-main d-none">
                    <h2> Văn phòng <br> truyền thống</h2>
                </div>
                <div class="box-filter">
                    <form action="https://azoffice.vn/tim-kiem-van-phong" method="get" class="form-filter">
                        <input type="hidden" name="_token" value="p9NXJKSDJfnYLYi2qrVGciEDfi8Pv95xXzfHc6lr">
                        <div class="box-filter-left">
                            <div class=" box-filter-top">
                                <select name="city" id="city" value=" ">
                                    <option value="">Thành Phố</option>
                                    <option value="45">Hồ Chí Minh</option>
                                    <option value="23">Hà Nội</option>
                                </select>

                                <input type="hidden" id="searchDistrict" value="">
                                <select name="district" id="district">
                                    <option value="">Quận/Huyện</option>
                                </select>

                                <input type="hidden" id="searchRoad" value="">
                                <select name="street" id="street">
                                    <option value="">Đường/Phố</option>
                                </select>
                                <div class="keyword">
                                    <input type="text" name="keyword" placeholder="Nhập từ khóa, tên văn phòng, đường, quận" value="">
                                    <input type="hidden" name="idType" value="van-phong-truyen-thong" placeholder="Nhập từ khóa, tên văn phòng, đường, quận">
                                </div>
                            </div>
                            <div class="box-filter-bottom">
                                <div class="filter-square">
                                    <span class="lbl-square"> Diện tích</span>
                                    <div class="ruler-value">
                                        <div class="value-ruler-in-text">
                                            <input type="hidden" id="squareFrom" name="squareFrom" value="0" readonly style="border:0; color:#f6931f; font-weight:bold;">
                                            <input type="hidden" id="squareTo" name="squareTo" value="50000" readonly style="border:0; color:#f6931f; font-weight:bold;">
                                            <p id="squareText">Diện tích từ 0 - 50000 m2</p>
                                        </div>
                                        <div class="noUi-target noUi-ltr noUi-horizontal noUi-background" id="slider-range-square"></div>
                                    </div>
                                </div>
                                <div class="filter-price">
                                    <span class="lbl-price">Giá</span>
                                    <div class="ruler-value">
                                        <div class="value-ruler-in-text">
                                            <input type="hidden" id="priceFrom" name="priceFrom" value="0" readonly style="border:0; color:#f6931f; font-weight:bold;">
                                            <input type="hidden" id="priceTo" name="priceTo" value="100" readonly style="border:0; color:#f6931f; font-weight:bold;">
                                            <p id="priceText">Giá từ 0$/m2 - 100 $/m2</p>
                                        </div>
                                        <div class="noUi-target noUi-ltr noUi-horizontal noUi-background" id="slider-range-price"></div>
                                    </div>
                                </div>
                                <div class="btn-searching">
                                    <input type="submit" class="btn-confirm-searching" value="Tìm kiếm">
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <script>
                    var district = document.getElementById('searchDistrict').value;
                    $('#searchDistrict  option[value="+ district +"]').prop("selected", true);

                    $(function() {
                        // config range slider square
                        $("#squareText").hide();
                        $("#slider-range-square").slider({
                            range: false,
                            min: 0,
                            max: 50000,
                            values: [$("#squareFrom").val(), $("#squareTo").val()],
                            slide: function(event, ui) {
                                $("#squareText").show();
                                $("#squareFrom").val(ui.values[0]);
                                $("#squareTo").val(ui.values[1]);
                                $("#squareText").text("Diện tích từ " + ui.values[0] + " m2 đến " + ui.values[1] + " m2");
                            }
                        });
                        $("#squareFrom").val($("#slider-range-square").slider("values", 0));
                        $("#squareTo").val($("#slider-range-square").slider("values", 1));
                        $("#squareText").text("Diện tích từ " + ui.values[0] + " m2 đến " + ui.values[1] + " m2");
                    });
                    $(function() {
                        $("#priceText").hide();
                        $("#slider-range-price").slider({
                            range: true,
                            min: 0,
                            max: 100,
                            values: [$("#priceFrom").val(), $("#priceTo").val()],
                            slide: function(event, ui) {
                                $("#priceText").show();
                                $("#priceFrom").val(ui.values[0]);
                                $("#priceTo").val(ui.values[1]);
                                $("#priceText").text("Giá từ $" + ui.values[0] + " đến $" + ui.values[1]);
                            }
                        });
                        $("#priceFrom").val($("#slider-range-price").slider("values", 0));
                        $("#priceTo").val($("#slider-range-price").slider("values", 1));
                        $("#priceText").text("Giá từ $" + ui.values[0] + " đến $" + ui.values[1]);
                    });

                    var url = "https://azoffice.vn/danh-sach-quan";
                    var id_province = $("select[name='city']").val();
                    var districtValue = $("#searchDistrict").val();
                    if (id_province != '') {
                        $.ajax({
                            url: url,
                            method: 'POST',
                            data: {
                                id_province: id_province,
                                _token: $("input[name='_token']").val()
                            },

                            success: function(data) {
                                $("select[name='district'").html('');
                                $.each(data.datas, function(key, value) {
                                    $("select[name='district']").append(
                                        '<option class="district_optiion"  value="' + value.id + '">' + value.name_district + '</option>'
                                    );
                                });

                                $('.district_optiion').each(function() {
                                    if ($(this).val() == parseInt(districtValue)) {
                                        $(this).prop("selected", true);
                                    }
                                });
                            }
                        });
                    }
                    $("select[name='city']").change(function() {
                        var id_province = $(this).val();
                        var token = $("input[name='_token']").val();
                        $.ajax({
                            url: url,
                            method: 'POST',
                            data: {
                                id_province: id_province,
                                _token: token
                            },
                            success: function(data) {
                                $('.loader').hide();
                                $("select[name='district'").html('');
                                $('#district').append('<option value="" selected="selected">Chọn Quận/Huyện</option>');
                                $.each(data.datas, function(key, value) {

                                    $("select[name='district']").append(
                                        "<option value=" + value.id + ">" + value.name_district + "</option>"
                                    );
                                });

                            }
                        });
                    });

                    var url_road = "https://azoffice.vn/danh-sach-duong";
                    var id_district = parseInt(districtValue);
                    var roadValue = $("#searchRoad").val();
                    if (id_district != '') {
                        $.ajax({
                            url: url_road,
                            method: 'POST',
                            data: {
                                id_district: id_district,
                                _token: $("input[name='_token']").val()
                            },

                            success: function(data) {
                                if (data.datas != '') {
                                    $("select[name='street'").html('');
                                    $('#street').append('<option value="" selected="selected">Chọn Đường</option>');
                                    $.each(data.datas, function(key, value) {
                                        $("select[name='street']").append(
                                            '<option class="road_optiion"  value="' + value.id + '">' + value.name + '</option>'
                                        );
                                    });
                                }

                                $('.road_optiion').each(function() {
                                    if ($(this).val() == parseInt(roadValue)) {
                                        $(this).prop("selected", true);
                                    }
                                });
                            }
                        });
                    }
                    $("select[name='district']").change(function() {

                        var id_district = $(this).val();
                        var token = $("input[name='_token']").val();
                        $.ajax({
                            url: url_road,
                            method: 'POST',
                            data: {
                                id_district: id_district,
                                _token: token
                            },
                            success: function(data) {
                                if (data['datas'].length) {
                                    $('.loader').hide();
                                    $("select[name='street'").html('');
                                    $('#street').append('<option value="" selected="selected">Chọn Đường</option>');
                                    $.each(data.datas, function(key, value) {

                                        $("select[name='street']").append(
                                            "<option value=" + value.id + ">" + value.name + "</option>"
                                        );
                                    });
                                } else {
                                    $('.popup-not-result').show();
                                    // location.reload();
                                }
                            }
                        });
                    });
                </script>
                <div class="listProvinceInCity">
                    <div class="listTab">
                        <div class="tab tab-product">
                            {% for item in list_district_in_province %}
                                <button id="tablink 0" class="tablinks   active " onclick="openCity(event, {{item.id}})"> {{item.name_province}}</button>
                            {% endfor %}
                        </div>
                        <div id="45" class="tabcontent  active  ">
                            <div class="box-traditional-provice">
                                <div class="traditional-office-right">
                                    <div class="list-district">
                                        <div class="district-item ">
                                            <a href="https://azoffice.vn/van-phong/van-phong-theo-quan?idDistrict=1&&idType=1&&page=0"> <span>Quận 1</span>
                                                <span>
                                                    552
                                                </span>
                                            </a>
                                        </div>
                                        <div class="district-item ">
                                            <a href="https://azoffice.vn/van-phong/van-phong-theo-quan?idDistrict=2&&idType=1&&page=0"> <span>Quận 2</span>
                                                <span>
                                                    137
                                                </span>
                                            </a>
                                        </div>
                                        <div class="district-item ">
                                            <a href="https://azoffice.vn/van-phong/van-phong-theo-quan?idDistrict=3&&idType=1&&page=0"> <span>Quận 3</span>
                                                <span>
                                                    328
                                                </span>
                                            </a>
                                        </div>
                                        <div class="district-item ">
                                            <a href="https://azoffice.vn/van-phong/van-phong-theo-quan?idDistrict=4&&idType=1&&page=0"> <span>Quận 4</span>
                                                <span>
                                                    94
                                                </span>
                                            </a>
                                        </div>
                                        <div class="district-item ">
                                            <a href="https://azoffice.vn/van-phong/van-phong-theo-quan?idDistrict=5&&idType=1&&page=0"> <span>Quận 5</span>
                                                <span>
                                                    81
                                                </span>
                                            </a>
                                        </div>
                                        <div class="district-item ">
                                            <a href="https://azoffice.vn/van-phong/van-phong-theo-quan?idDistrict=6&&idType=1&&page=0"> <span>Quận 6</span>
                                                <span>
                                                    7
                                                </span>
                                            </a>
                                        </div>
                                        <div class="district-item ">
                                            <a href="https://azoffice.vn/van-phong/van-phong-theo-quan?idDistrict=7&&idType=1&&page=0"> <span>Quận 7</span>
                                                <span>
                                                    123
                                                </span>
                                            </a>
                                        </div>
                                        <div class="district-item ">
                                            <a href="https://azoffice.vn/van-phong/van-phong-theo-quan?idDistrict=8&&idType=1&&page=0"> <span>Quận 8</span>
                                                <span>
                                                    11
                                                </span>
                                            </a>
                                        </div>
                                        <div class="district-item ">
                                            <a href="https://azoffice.vn/van-phong/van-phong-theo-quan?idDistrict=9&&idType=1&&page=0"> <span>Quận 9</span>
                                                <span>
                                                    14
                                                </span>
                                            </a>
                                        </div>
                                        <div class="district-item ">
                                            <a href="https://azoffice.vn/van-phong/van-phong-theo-quan?idDistrict=10&&idType=1&&page=0"> <span>Quận 10</span>
                                                <span>
                                                    147
                                                </span>
                                            </a>
                                        </div>
                                        <div class="district-item ">
                                            <a href="https://azoffice.vn/van-phong/van-phong-theo-quan?idDistrict=11&&idType=1&&page=0"> <span>Quận 11</span>
                                                <span>
                                                    16
                                                </span>
                                            </a>
                                        </div>
                                        <div class="district-item ">
                                            <a href="https://azoffice.vn/van-phong/van-phong-theo-quan?idDistrict=12&&idType=1&&page=0"> <span>Quận 12</span>
                                                <span>
                                                    9
                                                </span>
                                            </a>
                                        </div>
                                        <div class="district-item ">
                                            <a href="https://azoffice.vn/van-phong/van-phong-theo-quan?idDistrict=13&&idType=1&&page=0"> <span>Quận Thủ Đức</span>
                                                <span>
                                                    15
                                                </span>
                                            </a>
                                        </div>
                                        <div class="district-item ">
                                            <a href="https://azoffice.vn/van-phong/van-phong-theo-quan?idDistrict=14&&idType=1&&page=0"> <span>Quận Gò Vấp</span>
                                                <span>
                                                    22
                                                </span>
                                            </a>
                                        </div>
                                        <div class="district-item ">
                                            <a href="https://azoffice.vn/van-phong/van-phong-theo-quan?idDistrict=15&&idType=1&&page=0"> <span>Quận Bình Thạnh</span>
                                                <span>
                                                    337
                                                </span>
                                            </a>
                                        </div>
                                        <div class="district-item ">
                                            <a href="https://azoffice.vn/van-phong/van-phong-theo-quan?idDistrict=16&&idType=1&&page=0"> <span>Quận Tân Bình</span>
                                                <span>
                                                    382
                                                </span>
                                            </a>
                                        </div>
                                        <div class="district-item ">
                                            <a href="https://azoffice.vn/van-phong/van-phong-theo-quan?idDistrict=17&&idType=1&&page=0"> <span>Quận Tân Phú</span>
                                                <span>
                                                    37
                                                </span>
                                            </a>
                                        </div>
                                        <div class="district-item ">
                                            <a href="https://azoffice.vn/van-phong/van-phong-theo-quan?idDistrict=18&&idType=1&&page=0"> <span>Quận Phú Nhuận</span>
                                                <span>
                                                    220
                                                </span>
                                            </a>
                                        </div>
                                        <div class="district-item ">
                                            <a href="https://azoffice.vn/van-phong/van-phong-theo-quan?idDistrict=19&&idType=1&&page=0"> <span>Quận Bình Tân</span>
                                                <span>
                                                    3
                                                </span>
                                            </a>
                                        </div>
                                        <div class="district-item ">
                                            <a href="https://azoffice.vn/van-phong/van-phong-theo-quan?idDistrict=20&&idType=1&&page=0"> <span> Huyện Củ Chi</span>
                                                <span>
                                                    1
                                                </span>
                                            </a>
                                        </div>
                                        <div class="district-item ">
                                            <a href="https://azoffice.vn/van-phong/van-phong-theo-quan?idDistrict=21&&idType=1&&page=0"> <span>Huyện Hóc Môn</span>
                                                <span>
                                                    2
                                                </span>
                                            </a>
                                        </div>
                                        <div class="district-item ">
                                            <a href="https://azoffice.vn/van-phong/van-phong-theo-quan?idDistrict=22&&idType=1&&page=0"> <span>Huyện Bình Chánh</span>
                                                <span>
                                                    15
                                                </span>
                                            </a>
                                        </div>
                                        <div class="district-item ">
                                            <a href="https://azoffice.vn/van-phong/van-phong-theo-quan?idDistrict=23&&idType=1&&page=0"> <span>Huyện Nhà Bè</span>
                                                <span>
                                                    6
                                                </span>
                                            </a>
                                        </div>
                                        <div class="district-item ">
                                            <a href="https://azoffice.vn/van-phong/van-phong-theo-quan?idDistrict=24&&idType=1&&page=0"> <span>Huyện Cần Giờ
                                                </span>
                                                <span>
                                                    1
                                                </span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <input type="hidden" id="idDistrictActive" value=" 0 " name="idDistrictActive">
                        <div id="23" class="tabcontent  ">
                            <div class="box-traditional-provice">
                                <div class="traditional-office-right">
                                    <div class="list-district">
                                        <div class="district-item ">
                                            <a href="https://azoffice.vn/van-phong/van-phong-theo-quan?idDistrict=25&&idType=1&&page=0"> <span>Quận Ba Đình</span>
                                                <span>
                                                    36
                                                </span>
                                            </a>
                                        </div>
                                        <div class="district-item ">
                                            <a href="https://azoffice.vn/van-phong/van-phong-theo-quan?idDistrict=26&&idType=1&&page=0"> <span>Quận Hoàn Kiếm</span>
                                                <span>
                                                    42
                                                </span>
                                            </a>
                                        </div>
                                        <div class="district-item ">
                                            <a href="https://azoffice.vn/van-phong/van-phong-theo-quan?idDistrict=27&&idType=1&&page=0"> <span>Quận Tây Hồ</span>
                                                <span>
                                                    6
                                                </span>
                                            </a>
                                        </div>
                                        <div class="district-item ">
                                            <a href="https://azoffice.vn/van-phong/van-phong-theo-quan?idDistrict=28&&idType=1&&page=0"> <span>Quận Long Biên</span>
                                                <span>
                                                    0
                                                </span>
                                            </a>
                                        </div>
                                        <div class="district-item ">
                                            <a href="https://azoffice.vn/van-phong/van-phong-theo-quan?idDistrict=29&&idType=1&&page=0"> <span>Quận Cầu Giấy</span>
                                                <span>
                                                    89
                                                </span>
                                            </a>
                                        </div>
                                        <div class="district-item ">
                                            <a href="https://azoffice.vn/van-phong/van-phong-theo-quan?idDistrict=30&&idType=1&&page=0"> <span>Quận Đống Đa</span>
                                                <span>
                                                    52
                                                </span>
                                            </a>
                                        </div>
                                        <div class="district-item ">
                                            <a href="https://azoffice.vn/van-phong/van-phong-theo-quan?idDistrict=31&&idType=1&&page=0"> <span>Quận Hai Bà trưng</span>
                                                <span>
                                                    33
                                                </span>
                                            </a>
                                        </div>
                                        <div class="district-item ">
                                            <a href="https://azoffice.vn/van-phong/van-phong-theo-quan?idDistrict=32&&idType=1&&page=0"> <span>Quận Hoàng Mai</span>
                                                <span>
                                                    0
                                                </span>
                                            </a>
                                        </div>
                                        <div class="district-item ">
                                            <a href="https://azoffice.vn/van-phong/van-phong-theo-quan?idDistrict=33&&idType=1&&page=0"> <span>Quận Thanh Xuân</span>
                                                <span>
                                                    38
                                                </span>
                                            </a>
                                        </div>
                                        <div class="district-item ">
                                            <a href="https://azoffice.vn/van-phong/van-phong-theo-quan?idDistrict=34&&idType=1&&page=0"> <span>Huyện Sóc Sơn</span>
                                                <span>
                                                    0
                                                </span>
                                            </a>
                                        </div>
                                        <div class="district-item ">
                                            <a href="https://azoffice.vn/van-phong/van-phong-theo-quan?idDistrict=35&&idType=1&&page=0"> <span>Huyện Đông Anh</span>
                                                <span>
                                                    0
                                                </span>
                                            </a>
                                        </div>
                                        <div class="district-item ">
                                            <a href="https://azoffice.vn/van-phong/van-phong-theo-quan?idDistrict=36&&idType=1&&page=0"> <span>Huyện Gia Lâm</span>
                                                <span>
                                                    0
                                                </span>
                                            </a>
                                        </div>
                                        <div class="district-item ">
                                            <a href="https://azoffice.vn/van-phong/van-phong-theo-quan?idDistrict=37&&idType=1&&page=0"> <span>Quận Nam Từ Liêm</span>
                                                <span>
                                                    39
                                                </span>
                                            </a>
                                        </div>
                                        <div class="district-item ">
                                            <a href="https://azoffice.vn/van-phong/van-phong-theo-quan?idDistrict=38&&idType=1&&page=0"> <span>Huyện Thanh trì</span>
                                                <span>
                                                    0
                                                </span>
                                            </a>
                                        </div>
                                        <div class="district-item ">
                                            <a href="https://azoffice.vn/van-phong/van-phong-theo-quan?idDistrict=39&&idType=1&&page=0"> <span>Quận Bắc Từ Liêm</span>
                                                <span>
                                                    1
                                                </span>
                                            </a>
                                        </div>
                                        <div class="district-item ">
                                            <a href="https://azoffice.vn/van-phong/van-phong-theo-quan?idDistrict=40&&idType=1&&page=0"> <span>Huyện Mê Linh</span>
                                                <span>
                                                    0
                                                </span>
                                            </a>
                                        </div>
                                        <div class="district-item ">
                                            <a href="https://azoffice.vn/van-phong/van-phong-theo-quan?idDistrict=41&&idType=1&&page=0"> <span>Quận Hà Đông</span>
                                                <span>
                                                    3
                                                </span>
                                            </a>
                                        </div>
                                        <div class="district-item ">
                                            <a href="https://azoffice.vn/van-phong/van-phong-theo-quan?idDistrict=42&&idType=1&&page=0"> <span>Thị xã Sơn Tây</span>
                                                <span>
                                                    0
                                                </span>
                                            </a>
                                        </div>
                                        <div class="district-item ">
                                            <a href="https://azoffice.vn/van-phong/van-phong-theo-quan?idDistrict=43&&idType=1&&page=0"> <span>Huyện Ba Vì</span>
                                                <span>
                                                    0
                                                </span>
                                            </a>
                                        </div>
                                        <div class="district-item ">
                                            <a href="https://azoffice.vn/van-phong/van-phong-theo-quan?idDistrict=44&&idType=1&&page=0"> <span>Huyện Phúc Thọ</span>
                                                <span>
                                                    0
                                                </span>
                                            </a>
                                        </div>
                                        <div class="district-item ">
                                            <a href="https://azoffice.vn/van-phong/van-phong-theo-quan?idDistrict=45&&idType=1&&page=0"> <span>Huyện Đan Phượng</span>
                                                <span>
                                                    0
                                                </span>
                                            </a>
                                        </div>
                                        <div class="district-item ">
                                            <a href="https://azoffice.vn/van-phong/van-phong-theo-quan?idDistrict=46&&idType=1&&page=0"> <span>Huyện Hoài Đức</span>
                                                <span>
                                                    1
                                                </span>
                                            </a>
                                        </div>
                                        <div class="district-item ">
                                            <a href="https://azoffice.vn/van-phong/van-phong-theo-quan?idDistrict=47&&idType=1&&page=0"> <span>Huyện Quốc Oai</span>
                                                <span>
                                                    0
                                                </span>
                                            </a>
                                        </div>
                                        <div class="district-item ">
                                            <a href="https://azoffice.vn/van-phong/van-phong-theo-quan?idDistrict=48&&idType=1&&page=0"> <span>Huyện Thạch Thất</span>
                                                <span>
                                                    0
                                                </span>
                                            </a>
                                        </div>
                                        <div class="district-item ">
                                            <a href="https://azoffice.vn/van-phong/van-phong-theo-quan?idDistrict=49&&idType=1&&page=0"> <span>Huyện Chương Mỹ</span>
                                                <span>
                                                    0
                                                </span>
                                            </a>
                                        </div>
                                        <div class="district-item ">
                                            <a href="https://azoffice.vn/van-phong/van-phong-theo-quan?idDistrict=50&&idType=1&&page=0"> <span>Huyện Thanh Oai</span>
                                                <span>
                                                    0
                                                </span>
                                            </a>
                                        </div>
                                        <div class="district-item ">
                                            <a href="https://azoffice.vn/van-phong/van-phong-theo-quan?idDistrict=51&&idType=1&&page=0"> <span>Huyện Thường Tín</span>
                                                <span>
                                                    0
                                                </span>
                                            </a>
                                        </div>
                                        <div class="district-item ">
                                            <a href="https://azoffice.vn/van-phong/van-phong-theo-quan?idDistrict=52&&idType=1&&page=0"> <span>Huyện Phú Xuyên</span>
                                                <span>
                                                    0
                                                </span>
                                            </a>
                                        </div>
                                        <div class="district-item ">
                                            <a href="https://azoffice.vn/van-phong/van-phong-theo-quan?idDistrict=53&&idType=1&&page=0"> <span>Huyện Ứng Hòa</span>
                                                <span>
                                                    0
                                                </span>
                                            </a>
                                        </div>
                                        <div class="district-item ">
                                            <a href="https://azoffice.vn/van-phong/van-phong-theo-quan?idDistrict=54&&idType=1&&page=0"> <span>Huện Mỹ Đức</span>
                                                <span>
                                                    0
                                                </span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <input type="hidden" id="idDistrictActive" value=" 0 " name="idDistrictActive">
                    </div>
                </div>
                <script>
                    function openCity(evt, cityName) {
                        var i, tabcontent, tablinks;
                        tabcontent = document.getElementsByClassName("tabcontent");
                        for (i = 0; i < tabcontent.length; i++) {
                            tabcontent[i].style.display = "none";
                            tabcontent[i].className = tabcontent[i].className.replace("active", "");
                        }
                        tablinks = document.getElementsByClassName("tablinks");
                        for (i = 0; i < tablinks.length; i++) {
                            tablinks[i].className = tablinks[i].className.replace(" active", "");
                        }
                        document.getElementById(cityName).style.display = "block";
                        evt.currentTarget.className += " active";
                        document.getElementById('tabDistrictActive').value = cityName;
                    }

                    var tabActive = document.getElementById('idDistrictActive').value;
                    tablinks = document.getElementsByClassName("tablinks");
                    for (i = 0; i < tablinks.length; i++) {
                        tablinks[i].className = tablinks[i].className.replace(" active", "");
                    }
                    tabcontent = document.getElementsByClassName("tabcontent");
                    for (i = 0; i < tabcontent.length; i++) {
                        tabcontent[i].className = tabcontent[i].className.replace("active", "");
                    }
                    if (tabActive < 24) {
                        tablinks[0].classList.add("active");
                        tabcontent[0].classList.add("active");
                    } else {
                        tablinks[1].classList.add("active");
                        tabcontent[1].classList.add("active");
                    }
                </script>
            </div>
        </div>
        <div class="list-traditional-office-tab">
            <div class="center">
                <div id="list-office">
                    <div class="main-content">
                        <div class="lbl-total-office-paginate">
                            <div class="lbl-total-office"><img src="https://azoffice.vn/image/icons/i-arrow.png" alt=""> Số tòa nhà: <span>{{list_traditional_office.total}}</span></div>

                            <div class="pagination-traditional-office">

                            </div>
                        </div>
                        <div class="office-list">
                            {% for office in list_traditional_offices %}
                                <div class="office-item">
                                    <div class="image-office">
                                        <a href="{% url 'building_detail' office.url_building %}">
                                            <img src="{{office.image_building}}" alt="Tòa nhà Holistay văn phòng cho thuê Quận 1">
                                        </a>
                                    </div>
                                    <div class="des-building">
                                        <h2 class="name-office text-split text-split-1"> <a href="{% url 'building_detail' office.url_building %}"> {{office.name_building}} </a></h2>
                                        <p class="price-building"><i class="fa fa-dollar"></i> Giá thuê: <span class="value-building">
                                                Đang cập nhật
                                            </span>
                                        </p>
                                        <p class="location-building text-split text-split-1"><i class="fa fa-map-marker"></i> {{office.address_building}}</p>
                                        <p class="square-building text-split text-split-1"><i class="fa fa-cube"></i> Diện tích: {{office.square_building}}</p>
                                        <p class="direction-building text-split text-split-1"><i class="fa fa-compass"></i> Hướng: {{office.direction_building}}</p>
                                        <p class="direction-building lbl-upate-price"><i class="fa fa-check"></i>Giá được cập nhật lại ngày : {{office.price_updated_at}}</p>
                                    </div>
                                    <div class="box-booking-compare">
                                        <div class="box-link-booking-office">
                                            <a href="javascript:void(0)" onclick="addToListSeenOffice('holistay')"><i class="fa fa-calendar"></i><span>Đặt lịch xem</span></a>
                                        </div>
                                        <div class="box-link-compare-office">
                                            <a href="javascript:void(0)" data-url="holistay" data-image="https://azoffice.vn/data/img_after/1640577633-holistay.png" data-name="Tòa nhà Holistay văn phòng cho thuê Quận 1" data-price="" data-square="40m2- 80m2-120m2" data-address="2/3a Nguyễn Thị Minh Khai, Phường Đa Kao, Quận 1, Hồ Chí Minh" id="holistay" onclick="addToListCompareOffice('holistay')">
                                                <img src="https://azoffice.vn/image/icons/i-compare.PNG" alt=""><span>So sánh</span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                        <div class="lbl-total-office-paginate">
                            <div class="lbl-total-office"><img src="https://azoffice.vn/image/icons/i-arrow.png" alt=""> Số tòa nhà: <span>2897</span></div>
                            <div class="pagination-traditional-office">
                                <a href="https://azoffice.vn/van-phong/van-phong-truyen-thong?page=1" class="paginate-item  active-paginate "> 1 </a>
                                <a href="https://azoffice.vn/van-phong/van-phong-truyen-thong?page=2" class="paginate-item "> 2 </a>
                                <a href="https://azoffice.vn/van-phong/van-phong-truyen-thong?page=3" class="paginate-item "> 3 </a>
                                <a href="https://azoffice.vn/van-phong/van-phong-truyen-thong?page=4" class="paginate-item "> 4 </a>


                                <a href="#" class="paginate-item"> ... </a>
                                <a href="https://azoffice.vn/van-phong/van-phong-truyen-thong?page=242" class="paginate-item"> 242 </a>
                                <a href="https://azoffice.vn/van-phong/van-phong-truyen-thong?page=2" class="paginate-item"> >> </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="list-tab">
                    <div class="tab-square">
                        <span class="name-type-tab text-split text-split-1">Giá cho thuê
                        </span>
                        <ul>
<!--                            {% for price in list_price%}-->
<!--                             <li><a href=" {% url 'building_filter' type_filter='van-phong-theo-gia' type_price=price.slug id_type=id_type page=page %} ">{{price.name}}</a></li>-->
<!--                            {% endfor%}-->
                        </ul>
                    </div>
                    <div class="tab-square">
                        <span class="name-type-tab text-split text-split-1">Diện tích cho thuê
                        </span>
                        <ul>
<!--                            {% for square in list_square%}-->
<!--                             <li><a href="https://azoffice.vn/van-phong/van-phong-loc-theo-gia?typePrice=tu-8-10&&idType=van-phong-truyen-thong&&page=0">{{square.name}}</a></li>-->
<!--                            {% endfor%}-->
                        </ul>
                    </div>
                    <div class="tab-square">
                        <span class="name-type-tab text-split text-split-1">Hướng tòa nhà
                        </span>
                        <ul>
<!--                            <li><a href="https://azoffice.vn/van-phong/van-phong-loc-theo-huong?idDirection=chua-xac-dinh&&idType=van-phong-truyen-thong&&page=0">Chưa Xác Định</a></li>-->
<!--                            {% for direction in list_direction%}-->
<!--                             <li><a href="https://azoffice.vn/van-phong/van-phong-loc-theo-gia?typePrice=tu-8-10&&idType=van-phong-truyen-thong&&page=0">{{direction.name}}</a></li>-->
<!--                            {% endfor%}-->
                        </ul>
                    </div>
                    <div class="tab-square">
                        <span class="name-type-tab text-split text-split-1">Tiêu chuẩn văn phòng
                        </span>
                        <ul>
<!--                            {% for standard in list_standard%}-->
<!--                             <li><a href="https://azoffice.vn/van-phong/van-phong-loc-theo-gia?typePrice=tu-8-10&&idType=van-phong-truyen-thong&&page=0">{{standard.name}}</a></li>-->
<!--                            {% endfor%}-->
                        </ul>
                    </div>
                    <div class="tab-square tab-phone-number">
                        <div class="box-phone-number">
                            <a href="tel:0899 173 017"><i class="fa fa-phone"></i> 0899 173 017</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="list-blog">
            <div class="center">
                <div class="title-news">
                    <h2>Kiến thức liên quan</h2>
                </div>
                <div class="list-news">
                    <div class="news-item">
                        <p class="span-date-post">
                            <span> 25</span>
                            <span class="lbl-month">04</span>
                            <span> 2022</span>
                        </p>
                        <div class="image-news">
                            <a href="https://azoffice.vn/tin-tuc/chi-tiet-tin-tuc/top-nhung-toa-nha-cho-thue-gia-re-gan-cau-vuot-32-quan-10.html" title="TOP NHỮNG TÒA NHÀ CHO THUÊ GIÁ RẺ GẦN CẦU VƯỢT 3/2 QUẬN 10">
                                <img src="https://azoffice.vn/data/blog/top-nhung-toa-nha-cho-thue-gia-re-gan-cau-vuot-32-quan-10-bia.jpg" alt="TOP NHỮNG TÒA NHÀ CHO THUÊ GIÁ RẺ GẦN CẦU VƯỢT 3/2 QUẬN 10">
                            </a>
                        </div>
                        <div class="des-news">
                            <h2 class="name-news text-split text-split-1">
                                <a href="https://azoffice.vn/tin-tuc/chi-tiet-tin-tuc/top-nhung-toa-nha-cho-thue-gia-re-gan-cau-vuot-32-quan-10.html">TOP NHỮNG TÒA NHÀ CHO THUÊ GIÁ RẺ GẦN CẦU VƯỢT 3/2 QUẬN 10</a>
                            </h2>
                            <p class="lbl-author">Theo admin</p>
                            <p class="text-split text-split-3">Đối với các công ty vừa thành lập hoặc các công ty sắp hết hợp đồng thuê văn phòng thì việc chọn thuê văn phòng luôn là vấn đề đáng quan tâm. Để tìm được một văn phòng vừa ý, giá cả hợp lý, vị trí thuận tiện đi lại, cơ sở hạ tầng tốt thật sự khiến các chủ doanh nghiệp cân nhắc lựa chọn rất nhiều. Bài viết này, Azoffice sẽ chia sẻ cho các bạn top những tòa nhà cho thuê giá rẻ gần cầu vượt 3/2 quận 10.</p>
                            <div class="box-read-more">
                                <a href="https://azoffice.vn/tin-tuc/chi-tiet-tin-tuc/top-nhung-toa-nha-cho-thue-gia-re-gan-cau-vuot-32-quan-10.html" class="link-readmore">Xem thêm >></a>
                            </div>
                        </div>
                    </div>
                    <div class="news-item">
                        <p class="span-date-post">
                            <span> 22</span>
                            <span class="lbl-month">04</span>
                            <span> 2022</span>
                        </p>
                        <div class="image-news">
                            <a href="https://azoffice.vn/tin-tuc/chi-tiet-tin-tuc/thue-van-phong-can-dat-coc-bao-nhieu.html" title="THUÊ VĂN PHÒNG CẦN ĐẶT CỌC BAO NHIÊU?">
                                <img src="https://azoffice.vn/data/blog/thue-van-phong-can-dat-coc-bao-nhieu-ws.jpg" alt="THUÊ VĂN PHÒNG CẦN ĐẶT CỌC BAO NHIÊU?">
                            </a>
                        </div>
                        <div class="des-news">
                            <h2 class="name-news text-split text-split-1">
                                <a href="https://azoffice.vn/tin-tuc/chi-tiet-tin-tuc/thue-van-phong-can-dat-coc-bao-nhieu.html">THUÊ VĂN PHÒNG CẦN ĐẶT CỌC BAO NHIÊU?</a>
                            </h2>
                            <p class="lbl-author">Theo admin</p>
                            <p class="text-split text-split-3">Xoay quanh việc chọn thuê văn phòng luôn có rất nhiều vấn đề cần quan tâm và tìm hiểu đặc biệt là các khoản chi phí thuê, chi phí phát sinh cố định, tiền cọc,...Chính vì vậy trước khi quyết định thuê văn phòng, bên thuê cần biết rõ số tiền cọc và các loại chi phí thuê hằng tháng, những quy định pháp luật có liên quan và cách để lấy lại tiền cọc trong những trường hợp rủi ro có thể xảy ra. Cùng Azoffice tìm hiểu thêm về nội dung này trong bài viết dưới đây nhé!</p>
                            <div class="box-read-more">
                                <a href="https://azoffice.vn/tin-tuc/chi-tiet-tin-tuc/thue-van-phong-can-dat-coc-bao-nhieu.html" class="link-readmore">Xem thêm >></a>
                            </div>
                        </div>
                    </div>
                    <div class="news-item">
                        <p class="span-date-post">
                            <span> 21</span>
                            <span class="lbl-month">04</span>
                            <span> 2022</span>
                        </p>
                        <div class="image-news">
                            <a href="https://azoffice.vn/tin-tuc/chi-tiet-tin-tuc/van-phong-xanh-la-gi-doanh-nghiep-nao-nen-lua-chon-van-phong-xanh.html" title="VĂN PHÒNG &quot;XANH&quot; LÀ GÌ? DOANH NGHIỆP NÀO NÊN LỰA CHỌN VĂN PHÒNG &quot;XANH&quot;?">
                                <img src="https://azoffice.vn/data/blog/van-phong-xanh-la-gi-doanh-nghiep-nao-nen-lua-chon-van-phong-xanh-BÌA XANH.jpg" alt="VĂN PHÒNG &quot;XANH&quot; LÀ GÌ? DOANH NGHIỆP NÀO NÊN LỰA CHỌN VĂN PHÒNG &quot;XANH&quot;?">
                            </a>
                        </div>
                        <div class="des-news">
                            <h2 class="name-news text-split text-split-1">
                                <a href="https://azoffice.vn/tin-tuc/chi-tiet-tin-tuc/van-phong-xanh-la-gi-doanh-nghiep-nao-nen-lua-chon-van-phong-xanh.html">VĂN PHÒNG &quot;XANH&quot; LÀ GÌ? DOANH NGHIỆP NÀO NÊN LỰA CHỌN VĂN PHÒNG &quot;XANH&quot;?</a>
                            </h2>
                            <p class="lbl-author">Theo admin</p>
                            <p class="text-split text-split-3">Văn phòng xanh ngày nay được xem là xu hướng mới trong thiết kế văn phòng. Với xu hướng này, không những giúp thanh lọc không khí mà còn mang tới một không gian làm việc thư thái và nhiều năng lượng cho các nhân viên. Để biết thêm về xu hướng này, hãy cùng Azoffice theo dõi bài viết dưới đây nhé!</p>
                            <div class="box-read-more">
                                <a href="https://azoffice.vn/tin-tuc/chi-tiet-tin-tuc/van-phong-xanh-la-gi-doanh-nghiep-nao-nen-lua-chon-van-phong-xanh.html" class="link-readmore">Xem thêm >></a>
                            </div>
                        </div>
                    </div>
                    <div class="news-item">
                        <p class="span-date-post">
                            <span> 17</span>
                            <span class="lbl-month">04</span>
                            <span> 2022</span>
                        </p>
                        <div class="image-news">
                            <a href="https://azoffice.vn/tin-tuc/chi-tiet-tin-tuc/co-nen-thue-nha-nguyen-can-de-lam-van-phong-hay-khong.html" title="CÓ NÊN THUÊ NHÀ NGUYÊN CĂN ĐỂ LÀM VĂN PHÒNG HAY KHÔNG?">
                                <img src="https://azoffice.vn/data/blog/co-nen-thue-nha-nguyen-can-de-lam-van-phong-hay-khong-Presentation1.jpg" alt="CÓ NÊN THUÊ NHÀ NGUYÊN CĂN ĐỂ LÀM VĂN PHÒNG HAY KHÔNG?">
                            </a>
                        </div>
                        <div class="des-news">
                            <h2 class="name-news text-split text-split-1">
                                <a href="https://azoffice.vn/tin-tuc/chi-tiet-tin-tuc/co-nen-thue-nha-nguyen-can-de-lam-van-phong-hay-khong.html">CÓ NÊN THUÊ NHÀ NGUYÊN CĂN ĐỂ LÀM VĂN PHÒNG HAY KHÔNG?</a>
                            </h2>
                            <p class="lbl-author">Theo admin</p>
                            <p class="text-split text-split-3">Xu hướng thuê nhà nguyên căn để mở văn phòng ngày nay đang phổ biến. Vậy thuê nhà nguyên văn để làm văn phòng có lợi ích như thế nào? Có nên hay không nên? Cùng Azoffice tìm câu trả lời các câu hỏi này qua bài viết dưới đây nhé!</p>
                            <div class="box-read-more">
                                <a href="https://azoffice.vn/tin-tuc/chi-tiet-tin-tuc/co-nen-thue-nha-nguyen-can-de-lam-van-phong-hay-khong.html" class="link-readmore">Xem thêm >></a>
                            </div>
                        </div>
                    </div>
                    <div class="news-item">
                        <p class="span-date-post">
                            <span> 17</span>
                            <span class="lbl-month">04</span>
                            <span> 2022</span>
                        </p>
                        <div class="image-news">
                            <a href="https://azoffice.vn/tin-tuc/chi-tiet-tin-tuc/cac-kinh-nghiem-chon-thue-van-phong-ao.html" title="CÁC KINH NGHIỆM CHỌN THUÊ VĂN PHÒNG ẢO">
                                <img src="https://azoffice.vn/data/blog/cac-kinh-nghiem-chon-thue-van-phong-ao-1-01-01.png" alt="CÁC KINH NGHIỆM CHỌN THUÊ VĂN PHÒNG ẢO">
                            </a>
                        </div>
                        <div class="des-news">
                            <h2 class="name-news text-split text-split-1">
                                <a href="https://azoffice.vn/tin-tuc/chi-tiet-tin-tuc/cac-kinh-nghiem-chon-thue-van-phong-ao.html">CÁC KINH NGHIỆM CHỌN THUÊ VĂN PHÒNG ẢO</a>
                            </h2>
                            <p class="lbl-author">Theo admin</p>
                            <p class="text-split text-split-3">Văn phòng ảo hiện đang là mô hình văn phòng được các doanh nghiệp quan tâm đặc biệt là các doanh nghiệp có quy mô vừa và nhỏ. Đã có rất nhiều đơn vị cho thuê nắm bắt được xu hướng đó và tiến hành mở rộng cho thuê loại hình văn phòng này. Tuy nhiên, đây là dịch vụ còn quá mới mẻ khiến cho các doanh nghiệp có nhiều điều phân vân. Bài viết này, Azoffice mong rằng sẽ giải đáp các thắc mắc của các quý doanh nghiệp.</p>
                            <div class="box-read-more">
                                <a href="https://azoffice.vn/tin-tuc/chi-tiet-tin-tuc/cac-kinh-nghiem-chon-thue-van-phong-ao.html" class="link-readmore">Xem thêm >></a>
                            </div>
                        </div>
                    </div>
                    <div class="news-item">
                        <p class="span-date-post">
                            <span> 12</span>
                            <span class="lbl-month">04</span>
                            <span> 2022</span>
                        </p>
                        <div class="image-news">
                            <a href="https://azoffice.vn/tin-tuc/chi-tiet-tin-tuc/8-bi-kip-vang-giup-giam-chi-phi-thue-van-phong-hang-nam.html" title="8 &quot;BÍ KÍP VÀNG&quot; GIÚP GIẢM CHI PHÍ THUÊ VĂN PHÒNG HẰNG NĂM">
                                <img src="https://azoffice.vn/data/blog/8-bi-kip-vang-giup-giam-chi-phi-thue-van-phong-hang-nam-kh.jpg" alt="8 &quot;BÍ KÍP VÀNG&quot; GIÚP GIẢM CHI PHÍ THUÊ VĂN PHÒNG HẰNG NĂM">
                            </a>
                        </div>
                        <div class="des-news">
                            <h2 class="name-news text-split text-split-1">
                                <a href="https://azoffice.vn/tin-tuc/chi-tiet-tin-tuc/8-bi-kip-vang-giup-giam-chi-phi-thue-van-phong-hang-nam.html">8 &quot;BÍ KÍP VÀNG&quot; GIÚP GIẢM CHI PHÍ THUÊ VĂN PHÒNG HẰNG NĂM</a>
                            </h2>
                            <p class="lbl-author">Theo admin</p>
                            <p class="text-split text-split-3">Nền kinh tế sau cơn đại dịch covid-19 đã bị tổn hại nặng nề, rất nhiều doanh nghiệp lớn nhỏ đã phải đóng cửa vĩnh viễn, một số khác đang phải đau đầu vì nhiều loại chi phí cố định phải chi trả, trong đó không thể không nhắc đến chi phí thuê văn phòng, kho bãi,...Bài viết là 8 “bí kíp vàng” mà Azoffice muốn chia sẻ để phần nào giúp các bạn giảm chi phí thuê văn phòng, giảm bớt nỗi lo cho các doanh nghiệp.</p>
                            <div class="box-read-more">
                                <a href="https://azoffice.vn/tin-tuc/chi-tiet-tin-tuc/8-bi-kip-vang-giup-giam-chi-phi-thue-van-phong-hang-nam.html" class="link-readmore">Xem thêm >></a>
                            </div>
                        </div>
                    </div>
                    <div class="news-item">
                        <p class="span-date-post">
                            <span> 11</span>
                            <span class="lbl-month">04</span>
                            <span> 2022</span>
                        </p>
                        <div class="image-news">
                            <a href="https://azoffice.vn/tin-tuc/chi-tiet-tin-tuc/start-up-nen-chon-loai-hinh-van-phong-nao.html" title="START-UP NÊN CHỌN LOẠI HÌNH VĂN PHÒNG NÀO?">
                                <img src="https://azoffice.vn/data/blog/start-up-nen-chon-loai-hinh-van-phong-nao-BIA2.jpg" alt="START-UP NÊN CHỌN LOẠI HÌNH VĂN PHÒNG NÀO?">
                            </a>
                        </div>
                        <div class="des-news">
                            <h2 class="name-news text-split text-split-1">
                                <a href="https://azoffice.vn/tin-tuc/chi-tiet-tin-tuc/start-up-nen-chon-loai-hinh-van-phong-nao.html">START-UP NÊN CHỌN LOẠI HÌNH VĂN PHÒNG NÀO?</a>
                            </h2>
                            <p class="lbl-author">Theo admin</p>
                            <p class="text-split text-split-3">Nhịp sống kinh tế trẻ hiện nay đang rất nhộn nhịp và sôi nổi, khi rất nhiều công ty start-up thành lập, với đa dạng ngành nghề. Một trong những bài toán đang khiến các start-up đau đầu là chọn lựa một văn phòng sao cho phù hợp với mức vốn ban đầu còn hạn hẹp. Và bài viết dưới đây, Azoffice mạnh dạn chia sẻ những mô hình văn phòng thích hợp nhất cho các doanh nghiệp mới thành lập.</p>
                            <div class="box-read-more">
                                <a href="https://azoffice.vn/tin-tuc/chi-tiet-tin-tuc/start-up-nen-chon-loai-hinh-van-phong-nao.html" class="link-readmore">Xem thêm >></a>
                            </div>
                        </div>
                    </div>
                    <div class="news-item">
                        <p class="span-date-post">
                            <span> 10</span>
                            <span class="lbl-month">04</span>
                            <span> 2022</span>
                        </p>
                        <div class="image-news">
                            <a href="https://azoffice.vn/tin-tuc/chi-tiet-tin-tuc/nhung-loi-ich-khi-thue-van-phong-tron-goi-la-gi.html" title="NHỮNG LỢI ÍCH KHI THUÊ VĂN PHÒNG TRỌN GÓI LÀ GÌ?">
                                <img src="https://azoffice.vn/data/blog/nhung-loi-ich-khi-thue-van-phong-tron-goi-la-gi-bia.jpg" alt="NHỮNG LỢI ÍCH KHI THUÊ VĂN PHÒNG TRỌN GÓI LÀ GÌ?">
                            </a>
                        </div>
                        <div class="des-news">
                            <h2 class="name-news text-split text-split-1">
                                <a href="https://azoffice.vn/tin-tuc/chi-tiet-tin-tuc/nhung-loi-ich-khi-thue-van-phong-tron-goi-la-gi.html">NHỮNG LỢI ÍCH KHI THUÊ VĂN PHÒNG TRỌN GÓI LÀ GÌ?</a>
                            </h2>
                            <p class="lbl-author">Theo admin</p>
                            <p class="text-split text-split-3">Văn phòng trọn gói hiện đang nhận được rất nhiều sự quan tâm của các doanh nghiệp, công ty có nhu cầu muốn mở văn phòng hoặc chuyển văn phòng. Cùng Azoffice điểm danh những lợi ích khi thuê văn phòng trọn gói qua bài viết dưới đây nhé!</p>
                            <div class="box-read-more">
                                <a href="https://azoffice.vn/tin-tuc/chi-tiet-tin-tuc/nhung-loi-ich-khi-thue-van-phong-tron-goi-la-gi.html" class="link-readmore">Xem thêm >></a>
                            </div>
                        </div>
                    </div>
                    <div class="news-item">
                        <p class="span-date-post">
                            <span> 20</span>
                            <span class="lbl-month">03</span>
                            <span> 2022</span>
                        </p>
                        <div class="image-news">
                            <a href="https://azoffice.vn/tin-tuc/chi-tiet-tin-tuc/top-7-dia-diem-cho-thue-co-working-space-xin-xo-tai-tphcm.html" title="TOP 7 ĐỊA ĐIỂM CHO THUÊ CO-WORKING SPACE “XỊN XÒ” TẠI TPHCM">
                                <img src="https://azoffice.vn/data/blog/top-7-dia-diem-cho-thue-co-working-space-xin-xo-tai-tphcm-biaf.png" alt="TOP 7 ĐỊA ĐIỂM CHO THUÊ CO-WORKING SPACE “XỊN XÒ” TẠI TPHCM">
                            </a>
                        </div>
                        <div class="des-news">
                            <h2 class="name-news text-split text-split-1">
                                <a href="https://azoffice.vn/tin-tuc/chi-tiet-tin-tuc/top-7-dia-diem-cho-thue-co-working-space-xin-xo-tai-tphcm.html">TOP 7 ĐỊA ĐIỂM CHO THUÊ CO-WORKING SPACE “XỊN XÒ” TẠI TPHCM</a>
                            </h2>
                            <p class="lbl-author">Theo admin</p>
                            <p class="text-split text-split-3">Vài năm trở lại đây, hình thức co-working space đã không còn quá xa lạ với giới văn phòng năng động, phổ biến nhất là các công ty startup và freelancer. Với những tiện ích cơ bản của giới văn phòng, hình thức này còn đặt biệt chú trọng đến không gian tạo nguồn cảm hứng sáng tạo cho người làm việc. Cùng AZOFFICE điểm qua 7 địa điểm cho thuê co-working space “xịn xò” tại tphcm nhé!</p>
                            <div class="box-read-more">
                                <a href="https://azoffice.vn/tin-tuc/chi-tiet-tin-tuc/top-7-dia-diem-cho-thue-co-working-space-xin-xo-tai-tphcm.html" class="link-readmore">Xem thêm >></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <button class="btn btn-primary scroll-top" data-scroll="up" type="button">
        <i class="fa fa-chevron-up"></i>
    </button>
    <script src="https://azoffice.vn/plugin/slick-1.8.1/slick/slick.js"></script>
    <script src="https://azoffice.vn/plugin/slick-1.8.1/slick/slick.min.js"></script>
    <script src="https://azoffice.vn/plugin/OwlCarousel2-2.3.4/docs/assets/owlcarousel/owl.carousel.js"></script>
    <script src="https://azoffice.vn/plugin/OwlCarousel2-2.3.4/docs/assets/owlcarousel/owl.carousel.min.js"></script>
    <script src="https://azoffice.vn/js/script.js"></script>
{% endblock content %}