{% extends "base.html" %}

{% block content %}


<!--<div id="breadscrumb">-->
<!--    <div class="box-breadscrumb">-->
<!--        <img src="https://azoffice.vn/image/background/bg-breadscrumb.png" alt="">-->
<!--    </div>-->
<!--    <div class="center">-->
<!--        <ol class="breadcrumb-link">-->
<!--            <li class="breadscrumb-item"><a href="https://azoffice.vn/trang-chu">Trang chủ</a></li>-->
<!--            <li class="breadscrumb-item"><a href="https://azoffice.vn/tin-tuc">Blog </a></li>-->
<!--            <li class="breadscrumb-item"><a-->
<!--                    href="https://azoffice.vn/tin-tuc/loai-tin-tuc?typeBlog=kien-thuc-chung.html&&page=0">Kiến Thức-->
<!--                Chung </a></li>-->
<!--            <li class="breadscrumb-item breadscrumb-active">TOP NHỮNG TÒA NHÀ CHO THUÊ GIÁ RẺ GẦN CẦU VƯỢT 3/2 QUẬN 10-->
<!--            </li>-->
<!--        </ol>-->
<!--    </div>-->
<!--</div>-->
<div id="content-blog">
    <div class="center">
        <div class="box-list-blogs">
            <div class="title-type-blogs-child title-blog-in-type">
                <h2>Tin nóng</h2> <span>|</span>
                <h3>Kiến Thức Chung</h3>
            </div>


            <div class="box-main-blog" id="box-detail-blog">
                <div class="box-main-blog-left">
                    <div class="title-name-blogs">
                        <h2>{{get_detail_blogs.name}}</h2>
                        <p><span>{{get_detail_blogs.author}}</span> <span> {{get_detail_blogs.created_at}} </span></p>
                    </div>
                    <div class="content-detail-blog">
                        <ul class="list-icon-left">
                            <li>
                                <img src="https://azoffice.vn/image/icons/icon_like.PNG" alt="">
                            </li>
                            <li>
                                <img src="https://azoffice.vn/image/icons/icon_facebook.png" alt="">
                            </li>
                        </ul>
                        <div class="content-right-detail-blogs">
                            {% autoescape off %}
                            {{get_detail_blogs.content}}
                            {% endautoescape %}

                        </div>
                    </div>
                    <div id="other-news">
                        <h2 class="title-other-news">Tin</h2>
                        <ul class="list-other-news">
                            <li>
                                <a href="https://azoffice.vn/tin-tuc/chi-tiet-tin-tuc/top-nhung-toa-nha-cho-thue-gia-re-gan-cau-vuot-32-quan-10.html">TOP
                                    NHỮNG TÒA NHÀ CHO THUÊ GIÁ RẺ GẦN CẦU VƯỢT 3/2 QUẬN 10</a>
                            </li>
                            <li>
                                <a href="https://azoffice.vn/tin-tuc/chi-tiet-tin-tuc/thue-van-phong-can-dat-coc-bao-nhieu.html">THUÊ
                                    VĂN PHÒNG CẦN ĐẶT CỌC BAO NHIÊU?</a>
                            </li>
                            <li>
                                <a href="https://azoffice.vn/tin-tuc/chi-tiet-tin-tuc/van-phong-xanh-la-gi-doanh-nghiep-nao-nen-lua-chon-van-phong-xanh.html">VĂN
                                    PHÒNG &quot;XANH&quot; LÀ GÌ? DOANH NGHIỆP NÀO NÊN LỰA CHỌN VĂN PHÒNG &quot;XANH&quot;?</a>
                            </li>
                            <li>
                                <a href="https://azoffice.vn/tin-tuc/chi-tiet-tin-tuc/co-nen-thue-nha-nguyen-can-de-lam-van-phong-hay-khong.html">CÓ
                                    NÊN THUÊ NHÀ NGUYÊN CĂN ĐỂ LÀM VĂN PHÒNG HAY KHÔNG?</a>
                            </li>
                            <li>
                                <a href="https://azoffice.vn/tin-tuc/chi-tiet-tin-tuc/cac-kinh-nghiem-chon-thue-van-phong-ao.html">CÁC
                                    KINH NGHIỆM CHỌN THUÊ VĂN PHÒNG ẢO</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="box-main-blog-right">
                    <div id="search-2">
                        <form action="https://azoffice.vn/tim-kiem-blog" method="post" class="search-form">
                            <input type="hidden" name="_token" value="vcgETNdekffq1xKrgjm1sOwDBfC3IaVagzn19tPR">
                            <button class="search-submit"><img src="https://azoffice.vn/image/icons/search.png" alt="">
                            </button>
                            <input type="text" class="search-field" name="keyword" placeholder="Tìm kiếm">
                        </form>
                    </div>
                    <div id="list-new-news-box">
                        <div class="title-news-box">
                            <h2>Bài viết mới nhất</h2>
                        </div>
                        <ul>
                            {% for lasted_list_blog in get_lasted_list_blog %}
                            <li>
                                <a href="{% url 'chi-tiet-tin-tuc' slug=lasted_list_blog.url_blog %}">{{lasted_list_blog.name_blog}}</a>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div id="list-new-news-box">
                        <div class="title-news-box">
                            <h2>Bài viết liên quan</h2>
                        </div>
                        <ul>
                            {% for data in get_list_posts_activities_azoffice %}
                            <li>
                                <a href="{% url 'chi-tiet-tin-tuc' slug=data.url_blog %}">{{data.name_blog}}</a>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="tab-square">
                        <div class="box-phone-number">
                            <a href="tel:0899 173 017"><i class="fa fa-phone"></i> 0899 173 017</a>
                        </div>
                    </div>
                    <div class="box-contact-in-blog">
                        <div class="box-form-booking">
                            <form action="https://azoffice.vn/lien-he" method="post" id="form-booking">
                                <input type="hidden" name="_token" value="vcgETNdekffq1xKrgjm1sOwDBfC3IaVagzn19tPR">
                                <div class="content-main-form">
                                    <div class="inforcustomer">
                                        <input required type="text" name="nameCustomer" placeholder="Họ tên"
                                               name="nameCustomer" value=""/>
                                        <input type="hidden" name="typeContact" value="10">
                                    </div>
                                    <div class="inforcustomer">
                                        <input required type="email" name="emailCustomer" placeholder="Email"
                                               name="emailCustomer" value="">
                                    </div>
                                    <div class="inforcustomer">
                                        <input required type="text" name="phoneCustomer" placeholder="Điện thoại"
                                               name="phoneCustomer" value="">
                                    </div>
                                    <div class="inforcustomer">
                                        <textarea type="text" name="contentCustomer"
                                                  placeholder="Nhập nội dung của bạn ... " value=""></textarea>
                                    </div>
                                    <div class="btn-sending-contact">
                                        <input type="submit" value="Gửi liên hệ">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="criteria">
    <div class="center">
        <div class="list-criteria">
            <div class="owl-carousel owl-theme owl-creteria">
                <div class="creteria-item">
                    <div class="box-creteria-image">
                        <img src="https://azoffice.vn/image/images/cretia3.png" alt="Đủ loại văn phòng">
                    </div>
                    <h2>Đủ loại văn phòng</h2>
                </div>
                <div class="creteria-item">
                    <div class="box-creteria-image">
                        <img src="https://azoffice.vn/image/images/cretia1.png" alt="Tiết kiệm thời gian">
                    </div>
                    <h2>Tiết kiệm thời gian</h2>
                </div>
                <div class="creteria-item">
                    <div class="box-creteria-image">
                        <img src="https://azoffice.vn/image/images/cretia2.png" alt="Tiết kiệm chi phí">
                    </div>
                    <h2>Tiết kiệm chi phí</h2>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}
