{% extends "base.html" %}

{% block content %}
    {% load static %}
    <section class="content">
        <div class="slider-banner">
            <div class="center">
                <a href="https://azoffice.vn/tin-tuc/chi-tiet-tin-tuc/qua-khung-trao-tay-khach-hang-khi-su-dung-dich-vu-cua-azoffice.html">
                    <img class="in-large" src="{% static 'image/images/banner.gif' %}" alt="">
                    <img class="in-small" src="{% static 'image/images/banner1.gif' %}" alt="">
                </a>
            </div>
        </div>
        <div id="content-general-intro">
            <div class="center">
                <div class="title-intro-general">
                    <div class="logo-general-intro">
                        <img src="{% static 'image/logo/logo_intro.png' %}" alt="azoffice">
                    </div>
                </div>
                <div class="owl-carousel owl-theme owl-general-intro">
                    <div class="box-general-intro">
                        <div class="general-intro-item ">
                            <div class="image-intro-general image-virtual">
                                <a href="#" title="Văn phòng ảo"><img src="{% static 'image/images/office_ao.png' %}" alt="Văn phòng ảo"></a>
                            </div>
                            <div class="des-general-intro name-virtual">
                                <h2 class="name-type-office name-virtual">
                                    <a href="#" title="văn phòng ảo"><span>Văn phòng</span> Ảo</a>
                                </h2>
                                <p class="des-general-intro-content ">
                                    Đặt Thương Hiệu và Địa Chỉ Kinh Doanh tại tòa nhà thuộc các quận/huyện quan trọng ở Hồ chí Minh & Hà Nội
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="box-general-intro">
                        <div class="general-intro-item">
                            <div class="image-intro-general image-traditional">
                                <a href="https://azoffice.vn/van-phong/van-phong-truyen-thong">
                                    <img src="{% static 'image/images/office_truyenthong.png' %}" alt="Văn phòng Truyền thống">
                                </a>
                            </div>
                            <div class="des-general-intro name-traditional">
                                <h2 class="name-type-office name-traditional">
                                    <a href="https://azoffice.vn/van-phong/van-phong-truyen-thong" title="Văn phòng truyền thống">
                                        <span>Văn phòng</span> Truyền thống
                                    </a>
                                </h2>
                                <p class="des-general-intro-content ">
                                    Là dạng văn phòng chuẩn, quy mô đông người, không gian sinh hoạt chung nhỏ chỉ chiếm 10% diện tích. <br>
                                    Hơn 2000 tòa đang hiện diện tại AZOFFICE
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="box-general-intro">
                        <div class="general-intro-item">
                            <div class="image-intro-general image-sharing">
                                <a href="#" title="Văn phòng chia sẻ">
                                    <img src="{% static 'image/images/office_chiase.png' %}" alt="Văn phòng chia sẻ">
                                </a>
                            </div>
                            <div class="des-general-intro name-sharing">
                                <h2 class="name-type-office name-sharing">
                                    <a href="#" title="Văn phòng chia sẻ">
                                        <span>Văn phòng</span> Chia sẻ
                                    </a>
                                </h2>
                                <p class="des-general-intro-content ">
                                    Là dạng văn phòng thiết kế theo phong cách mở, xanh hóa, có không gian sinh hoạt chung lớn thường chiếm 40% diện tích.<br>
                                    AZOFFICE kết hợp với tất cả đơn vị nhà cung cấp dịch vụ văn phòng chia sẻ tại VN.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="content-main-home">
            <div id="box-content-office-virtial">
                <div class="content-virtual" id="content-virtual">
                    <div class="title-main-home">
                        <div class="title-main-home-inner">
                            <span class="number"> 1</span>
                            <h2>Văn phòng <br><span class="name-type-office-main">Ảo</span></h2>
                        </div>
                    </div>
                    <div class="content-main-home">
                        <div class="content-main-home-left">=
                            <div class="list-image grid-thuvienanh">
                                <div class="box-thuvienanh album-gallery">
                                    <img src="{% static 'image/images/image_main_1.png' %}" alt="">
                                </div>
                                <div class="box-thuvienanh album-gallery">
                                    <img src="{% static 'image/images/image_main_2.png' %}" alt="">
                                </div>
                                <div class="box-thuvienanh album-gallery">
                                    <img src="{% static 'image/images/image_main_3.png' %}" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="content-main-home-right">
                            <div class="content-main-home-right-inner">
                                <p> <i class="fa fa-check-circle"></i> <span> Địa chỉ giao dịch và đăng ký kinh doanh</span></p>
                                <p><i class="fa fa-check-circle"></i> <span> Địa chỉ nhận thư, bưu phẩm </span></p>
                                <p><i class="fa fa-check-circle"></i> <span> Lễ tân chuyên nghiệp </span></p>
                                <p><i class="fa fa-check-circle"></i> <span> Khu vực tiếp Khách hàng sang trọng </span></p>
                                <p><i class="fa fa-check-circle"></i> <span> Bảng tên Công ty tại văn phòng</span></p>
                                <p><i class="fa fa-check-circle"></i> <span> Được trang bị đầy đủ Thiết bị văn phòng: Bàn, ghế, tủ hồ sơ, máy lạnh,...</span></p>
                                <p><i class="fa fa-check-circle"></i> <span> Internet wifi tốc độ cao</span></p>
                                <p><i class="fa fa-check-circle"></i> <span> Và nhiều tiện ích cao cấp khác</span></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box-content-office-virtial">
                <div id="content-sharing-office">
                    <div class="content-main-home">
                        <div class="content-main-home-left">
                            <div class="title-main-home title-traditional-main">
                                <div class="title-main-home-inner">
                                    <span class="number"> 2</span>
                                    <h2>Văn phòng <br><span class="name-type-office-main">Truyền thống</span></h2>
                                </div>
                            </div>
                            <div class="main-content-traditional">
                                <div class="list-traditonal-office-image-left">
                                    <div class="traditonal-office-image-item">
                                        <img src="{% static 'image/images/to1.png' %}" alt="Văn phòng truyền thống">
                                    </div>
                                    <div class="traditonal-office-image-item">
                                        <img src="{% static 'image/images/to2.png' %}" alt="Văn phòng truyền thống">
                                    </div>
                                </div>
                                <div class="list-district-in-provice-outstanding">
                                    {% for item in list_outstanding_traditional_building %}
                                        <div class="box-traditional-office">
                                            <div class="name-city">
                                                <h2>{{ item.name_province}} - <span class="number-outstanding-building"> {{ item.total }}</span></h2>
                                            </div>
                                            <div class="traditional-office-main-inner">
                                                {% for office in item.list_district %}
                                                    <div class="traditional-office-item"><a href="https://azoffice.vn/van-phong/van-phong-theo-quan?idDistrict=1&&idType=1&&page=0"> <span class="name-district">{{office.district_name}}</span><span class="number-district">{{office.total}}</span></a></div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box-content-office-virtial" style="display:none">
                <div id="content-traditional-office">
                    <div class="content-main-home">
                        <div class="content-main-home-left">
                            <div class="title-main-home title-traditional-main">
                                <div class="title-main-home-inner">
                                    <span class="number"> 3</span>
                                    <h2>Văn phòng <br><span class="name-type-office-main">Chia sẻ</span></h2>
                                </div>
                            </div>
                            <div class="main-content-traditional">
                                <div class="list-district-in-provice-outstanding">
                                    {% for item in list_outstanding_sharing_building %}
                                        <div class="box-traditional-office">
                                            <div class="name-city">
                                                <h2>{{ item.name_province}} - <span class="number-outstanding-building"> {{ item.total}}</span></h2>
                                            </div>
                                            <div class="traditional-office-main-inner">
                                                {% for office in item.list_district %}
                                                    <div class="traditional-office-item d-none"><a href="https://azoffice.vn/van-phong/van-phong-theo-quan?idDistrict=1&&idType=2&&page=0"> <span class="name-district">{{office.district_name}}</span><span class="number-district">{{office.total}}</span></a></div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                                <div class="list-traditonal-office-image-left">
                                    <div class="traditonal-office-image-item">
                                        <img src="{% static 'image/images/sharing_office1.png' %}" alt="Văn phòng chia sẻ">
                                    </div>
                                    <div class="traditonal-office-image-item">
                                        <img src="{% static 'image/images/sharing_office2.png' %}" alt="Văn phòng chia sẻ">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="tintuc">
                <div class="center">
                    <div class="title-main">
                        <h2>Bài viết <span class="name-type-office-main"> chia sẻ </span></h2>
                        <p></p>
                    </div>
                    <div class="list-services">
                        <div class=" owl-carousel owl-theme owl-tintuc">
                            {% for item in list_lasted_blogs %}
                            <div class="news-item">
                                <p class="span-date-post">
                                    <span> 25</span>
                                    <span class="lbl-month">04</span>
                                    <span> 2022</span>
                                </p>
                                <div class="image-news">
                                    <a href="https://azoffice.vn/tin-tuc/chi-tiet-tin-tuc/top-nhung-toa-nha-cho-thue-gia-re-gan-cau-vuot-32-quan-10.html" title="{{item.name_blog}}">
                                        <img src="{{item.image_blog}}" alt="{{item.name_blog}}">
                                    </a>
                                </div>
                                <div class="des-news">
                                    <h2 class="name-news text-split text-split-1">
                                        <a href="https://azoffice.vn/tin-tuc/chi-tiet-tin-tuc/top-nhung-toa-nha-cho-thue-gia-re-gan-cau-vuot-32-quan-10.html">{{item.name_blog}}</a>
                                    </h2>
                                    <p class="lbl-author">Theo {{item.name_author}}</p>
                                    <p class="text-split text-split-3"> {{item.description_blog}}</p>
                                    <div class="box-read-more">
                                        <a href="https://azoffice.vn/tin-tuc/chi-tiet-tin-tuc/top-nhung-toa-nha-cho-thue-gia-re-gan-cau-vuot-32-quan-10.html" class="link-readmore">Xem thêm >></a>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            <div id="customer-opinions" style="display:none">
                <div class="center">
                    <div class="title-main">
                        <h2>Khách hàng của chúng tôi</h2>
                    </div>
                    <div class="list-thuvienanh d-flex">
                        <div class="album-intro">
                            <div class="single-item-ab">
                                <div class="prev_cus d-none"><i class="fa fa-chevron-left"></i></div>
                                <div class="album-right">
                                    <div>
                                        <div class="box-customer-idea pvd">
                                            <div class="image-customer">
                                                <div class="thumnail-nail-customer-idea">
                                                    <img src="{% static 'image/images/c1.jpg' %}" alt="Chưởng Nghiêm">
                                                </div>
                                            </div>
                                            <h2 class="name-customer">
                                                <a href="chuong-nghiem" title="Lê Quyết Tâm">
                                                    Hoàng Thùy
                                                </a>
                                            </h2>
                                            <p class="des-customer-idea-star text-split text-split-3">
                                                <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                                            </p>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="box-customer-idea pvd">
                                            <div class="image-customer">
                                                <div class="thumnail-nail-customer-idea">
                                                    <img src="{% static 'image/images/c2.jpg' %}" alt="Chưởng Nghiêm">
                                                </div>
                                            </div>
                                            <h2 class="name-customer">
                                                <a href="chuong-nghiem" title="Lê Thái Phương">
                                                    Lê Thái Phương</a>
                                            </h2>
                                            <p class="des-customer-idea-star text-split text-split-3">
                                                <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                                            </p>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="box-customer-idea pvd">
                                            <div class="image-customer">
                                                <div class="thumnail-nail-customer-idea">
                                                    <img src="{% static 'image/images/c3.jpg' %}" alt="Chưởng Nghiêm">
                                                </div>
                                            </div>
                                            <h2 class="name-customer">
                                                <a href="chuong-nghiem" title="Nguyễn Mạnh Thắng">
                                                    Hoàng Yến</a>
                                            </h2>
                                            <p class="des-customer-idea-star text-split text-split-3">
                                                <i class="fa fa-star"></i><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                                            </p>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="box-customer-idea pvd">
                                            <div class="image-customer">
                                                <div class="thumnail-nail-customer-idea">
                                                    <img src="{% static 'image/images/c4.png' %}" alt="Chưởng Nghiêm">
                                                </div>
                                            </div>
                                            <h2 class="name-customer">
                                                <a href="chuong-nghiem" title="Nguyễn Phương Hằng">
                                                    Nguyễn Phương Hằng</a>
                                            </h2>
                                            <p class="des-customer-idea-star text-split text-split-3">
                                                <i class="fa fa-star"></i><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="next_cus d-none"><i class="fa fa-chevron-right"></i></div>
                            </div>
                            <script type="text/javascript">
                                $(document).ready(function() {
                                    $('.album-right').slick({
                                        infinite: true,
                                        slidesToShow: 3,
                                        slidesToScroll: 1,
                                        autoplay: true,
                                        autospeed: 300,
                                        nextArrow: '.next_cus',
                                        prevArrow: '.prev_cus',
                                        responsive: [{
                                                breakpoint: 1200,
                                                settings: {
                                                    slidesToShow: 4,
                                                    slidesToScroll: 1
                                                }
                                            },
                                            {
                                                breakpoint: 1008,
                                                settings: {
                                                    slidesToShow: 3,
                                                    slidesToScroll: 1
                                                }
                                            },
                                            {
                                                breakpoint: 800,
                                                settings: {
                                                    slidesToShow: 2,
                                                    slidesToScroll: 1
                                                }
                                            },
                                            {
                                                breakpoint: 600,
                                                settings: {
                                                    slidesToShow: 2,
                                                    slidesToScroll: 1
                                                }
                                            }

                                        ]
                                    });
                                });
                            </script>
                            <div class="slider-nav-ab ">
                                <div class="prev_des"><i class="fa fa-chevron-left"></i></div>
                                <div class="album-right-opinion">
                                    <div>
                                        <div class="box-customer-opinion pvd">
                                            <div class="image-customer">
                                                <div class="thumnail-nail-customer-idea">
                                                    <img src="{% static 'image/images/c1.jpg' %}" alt="Ban Quản lý">
                                                </div>
                                            </div>
                                            <p class="des-customer-idea text-split text-split-6">
                                                "Chúng tôi rất vui vì được hợp tác với Azoffice, Azoffice là một đơn vị vô cùng chuyên nghiệp, đã giúp chúng tôi kết nối với các đơn vị khách hàng. Bên cạnh đó, azoffice còn có những đội ngũ nhân viên vô cùng nhiệt tình. Do đó, chúng tôi tin chắc rằng azoffice là một đơn vị uy tín để chúng tôi có thể hợp tác và phát triển lâu dài"
                                            </p>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="box-customer-opinion pvd">
                                            <div class="image-customer">
                                                <div class="thumnail-nail-customer-idea">
                                                    <img src="{% static 'image/images/c2.jpg' %}" alt="Chưởng Nghiêm">
                                                </div>
                                            </div>
                                            <p class="des-customer-idea text-split text-split-6">
                                                "Chúng tôi đánh giá cao về đội ngũ nhân viên azoffice vì đã mang đến nhiều khách hàng tốt cho chúng tôi.Đội ngũ nhân viên tận tâm, chuyên nghiệp, làm việc với Khách hàng kỹ, cung cấp cho khách đầy đủ các thông tin về khách cũng như các thông tin về tòa nhà. Hi vọng là Azoffice có thể mang nhiều Khách hàng đến cho chúng tôi nữa."
                                            </p>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="box-customer-opinion pvd">
                                            <div class="image-customer">
                                                <div class="thumnail-nail-customer-idea">
                                                    <img src="{% static 'image/images/c3.jpg' %}" alt="Chưởng Nghiêm">
                                                </div>
                                            </div>
                                            <p class="des-customer-idea text-split text-split-6">
                                                "Trong suốt thời gian tìm kiếm văn phòng, tôi đã được các bạn AZO hỗ trợ rất nhiệt tình trong việc tư vấn sản phẩm phù hợp, chu đáo từ lúc dẫn đi xem cho đến lúc ký hợp đồng với toà nhà. Tôi rất bất ngờ khi AZO còn có các gói quà tặng cực kỳ hấp dẫn dành cho các khách hàng doanh nghiệp như chúng tôi. Có thể thấy rằng AZO cực kỳ chuyên nghiệp và hiểu rõ nhu cầu của khách hàng. Chúng tôi rất hài lòng vè dịch vụ của các bạn"
                                            </p>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="box-customer-opinion pvd">
                                            <div class="image-customer">
                                                <div class="thumnail-nail-customer-idea">
                                                    <img src="{% static 'image/images/c4.png' %}" alt="Chưởng Nghiêm">
                                                </div>
                                            </div>
                                            <p class="des-customer-idea text-split text-split-6">
                                                "Trước khi biết đến AZO, tôi gặp nhiều khó khăn để tìm được một văn phòng thực sự đúng ý mình. Rất cảm ơn đội ngũ nhân sự của AZO, các bạn vô cùng tận tâm và chuyên nghiệp, giúp tôi nhanh chóng tìm được văn phòng phù hợp với nhu cầu khắt khe của tôi. Tôi rất hài lòng vì sự hỗ trợ nhiệt tình của AZO từ lúc tư vấn đến lúc đi xem và ký hợp đồng với tòa nhà. Đặc biệt tôi cũng rất thích các gói quà tặng dành cho khách hàng doanh nghiệp. Tôi tin chắc AZO là một đơn vị uy tín, chuyên nghiệp để tôi và nhiều doanh nghiệp khác có thể hợp tác và phát triển lâu dài."
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="next_des"><i class="fa fa-chevron-right"></i></div>
                                <script type="text/javascript">
                                    $(document).ready(function() {
                                        $('.album-right-opinion').slick({
                                            infinite: true,
                                            slidesToShow: 1,
                                            slidesToScroll: 1,
                                            autoplay: true,
                                            autospeed: 300,
                                            nextArrow: '.next_des',
                                            prevArrow: '.prev_des',
                                            asNavFor: ".album-right"
                                        });
                                    });
                                </script>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div id="criteria">
        <div class="center">
            <div class="list-criteria">
                <div class="owl-carousel owl-theme owl-creteria">
                    <div class="creteria-item">
                        <div class="box-creteria-image">
                            <img src="{% static 'image/images/cretia3.png' %}" alt="Đủ loại văn phòng">
                        </div>
                        <h2>Đủ loại văn phòng</h2>
                    </div>
                    <div class="creteria-item">
                        <div class="box-creteria-image">
                            <img src="{% static 'image/images/cretia1.png' %}" alt="Tiết kiệm thời gian">
                        </div>
                        <h2>Tiết kiệm thời gian</h2>
                    </div>
                    <div class="creteria-item">
                        <div class="box-creteria-image">
                            <img src="{% static 'image/images/cretia2.png' %}" alt="Tiết kiệm chi phí">
                        </div>
                        <h2>Tiết kiệm chi phí</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}