<!DOCTYPE html>
<html>
<body>

{% for blog_entry in list_blog_building_page %}
    <li>
        <a href="{{ blog_entry.url_blog }}">{{ blog_entry.name_blog }}</a>
        <a>không thấy gì khác biệt</a>
    </li>
{% endfor %}


</body>
</html>